<script type='text/javascript'>
janrain.settings.borderColor = '#ffffff';
janrain.settings.fontFamily = 'Helvetica, Lucida Grande, Verdana, sans-serif';
janrain.settings.width = 300;
janrain.settings.actionText = ' ';
janrain.settings.capture.setProfileCookie = true;
janrain.settings.capture.keepProfileCookieAfterLogout = true;
janrain.settings.capture.modalCloseHtml = '<span class="janrain-icon-16 janrain-icon-ex2"></span>';
janrain.settings.capture.noModalBorderInlineCss = true;
janrain.settings.capture.returnExperienceUserData = ['displayName'];
janrain.settings.capture.hideSavedProfileMessageDelay = 1;
janrain.settings.capture.flowName = 'drupal';
janrain.settings.capture.screenToRender = 'editProfile';
(function($) {
  $(window).load(function () {
    (function wfmInvalidAccessToken(janrain) {
      janrain.events.onCaptureProfileSaveFailed.addHandler(function () {
        alert('Oops. This form is no longer active. We will refresh the form so you can try again.', 'warning');
        window.location.reload(true);
      });
    })(janrain);
  });
})(jQuery);
</script>

<div id="jEditProfileHTML">
    <div style="display:none;" id="editProfile">
        <h3>Account Settings</h3>
        <div class="capture_grid_block">
            <div class="contentBoxWhiteShadow">
              <div class="capture_grid_block">
                <div class="capture_center_col capture_col_8">
                  <div class="capture_editCol">
                    {* editProfileForm *}
                        {* displayName *}
                        {* email *}
                        {* postalCode *}
                        <div class="capture_form_item">
                            {* saveButton *}
                            {* savedProfileMessage *}
                        </div>
                    {* /editProfileForm *}
                    </div>
                  </div>
                </div>
              </div>
              <div class="linked-accounts">
                <h3>Linked Accounts</h3>
                <div class="contentBoxWhiteShadow">
                  {* linkedAccounts *}
                  {* linkAccountContainer *}
                    <div class="capture_header">
                      <h1>Link your accounts</h1>
                    </div>
                    <p>Allows you to sign in to your account using that provider in the future.</p>
                    <div class="capture_signin">
                      {* loginWidget *}
                    </div>
                  {* /linkAccountContainer *}
                </div>
              </div><!-- .linked-accounts -->
              <!-- Only show this if it was from a traditional login !-->
              <div class="password">
                <h3 class="janrain_traditional_account_only">Password</h3>
                <div class="janrain_traditional_account_only contentBoxWhiteShadow">
                  <a href="#" data-capturescreen="changePassword">Change Password</a>
                </div>
              </div> <!-- .password -->
        </div>
    </div>
    <div style="display:none;" id="changePassword">
        <div class="capture_header">
            <h3>Change password</h3>
        </div>
        {* newPasswordFormProfile *}
            {* oldpassword *}
            {* newpassword *}
            {* newpasswordConfirm *}
            <div class="capture_footer">
                {* saveButton *}
            </div>
        {* /newPasswordFormProfile *}
    </div>
    <div style="display:none;" id="changePasswordSuccess">
        <div class="capture_header">
            <h3>You did it!</h3>
        </div>
            <p>Your password has been successfully changed.</p>
        <div class="capture_footer">
            <a href="#" onclick="janrain.capture.ui.modal.close()" class="capture_btn capture_primary">Close</a>
        </div>
    </div>
    <div style="display: none;" id="publicProfileModal">
        <div class="capture_header">
            <h3>My profile</h3>
        </div>
        <div class="capture_grid_block">
            <div class="capture_col_6">
                <div class="capture_profile_pic">
                    <div id="profile_pic" class="capture_default">
                        {* profilePhotoCustom *}
                    </div>
                </div>
            </div>
            <div class="capture_col_6">
                <h4>{* public_displayName *}</h4>
                {* public_profileBlurb *}
            </div>
        </div>
        {* public_name *}
        {* public_emailAddress *}
        {* public_phoneNumber *}
        {* public_address *}
        {* public_gender *}
        {* public_birthdate *}
        <div class="capture_footer">
            <div class="capture_right">
                <a href="#" onclick="janrain.capture.ui.modal.close()" class="capture_btn capture_primary">Close</a>
            </div>
        </div>
    </div>
</div>
