<script type='text/javascript'>
janrain.settings.borderColor = '#ffffff';
janrain.settings.fontFamily = 'Helvetica, Lucida Grande, Verdana, sans-serif';
janrain.settings.width = 300;
janrain.settings.actionText = ' ';
janrain.settings.capture.setProfileCookie = true;
janrain.settings.capture.keepProfileCookieAfterLogout = true;
janrain.settings.capture.modalCloseHtml = '<span class="janrain-icon-16 janrain-icon-ex2"></span>';
janrain.settings.capture.noModalBorderInlineCss = true;
janrain.settings.capture.returnExperienceUserData = ['displayName'];

janrain.settings.capture.flowName = 'drupal_modeless';
</script>
<div id="signInHTML">
    <div style="display:none;" id="signIn">
        <div class="capture_signin">
            <h3>Sign in with an existing account</h3>
            {* loginWidget *} <br />
        </div>
        <div class="capture_backgroundColor">
            <div class="capture_signin">
                <h3>Sign in with a Whole Foods Market account</h3>
                {* #userInformationForm *}
                    {* traditionalSignIn_emailAddress *}
                    {* traditionalSignIn_password *}
                    <div class="capture_form_item">
                        <a href="#" data-capturescreen="forgotPassword">Forgot your password?</a>
                    </div>
                    <div class="buttons">
                        {* traditionalSignIn_signInButton *}{* traditionalSignIn_createButton *}
                    </div>
                {* /userInformationForm *}
            </div>
        </div>
    </div>
    <div style="display:none;" id="returnSocial">
        <div class="capture_header">
            <h1>Sign In</h1>
        </div>
        <div class="capture_signin">
            <h2>Welcome back, {* welcomeName *}!</h2>
            {* loginWidget *}
            <div class="capture_centerText switchLink"><a href="#" data-cancelcapturereturnexperience="true">Use another account</a></div>
        </div>
    </div>
    <div style="display:none;" id="returnTraditional">
        <div class="capture_header">
            <h1>Sign In</h1>
        </div>
        <h2 class="capture_centerText"><span id="traditionalWelcomeName">Welcome back!</span></h2>
        <div class="capture_backgroundColor">
            {* #userInformationForm *}
                {* traditionalSignIn_emailAddress *}
                {* traditionalSignIn_password *}
                <div class="capture_form_item capture_rightText">
                    {* traditionalSignIn_signInButton *}
                </div>
            {* /userInformationForm *}
            <div class="capture_centerText switchLink"><a href="#" data-cancelcapturereturnexperience="true">Use another account</a></div>
        </div>
    </div>
    <div style="display:none;" id="socialRegistration">
        <div class="capture_header">
            <h1>Almost Done!</h1>
        </div>
        <h2>Please confirm the information below before signing in.</h2>
        {* #socialRegistrationForm *}
            {* socialRegistration_firstName *}
            {* socialRegistration_lastName *}
            {* socialRegistration_emailAddress *}
            {* socialRegistration_displayName *}
            {* socialRegistration_postalCode *}
            By clicking "Sign in", you confirm that you accept our <a href="/terms-use">terms of service</a> and have read and understand <a href="/privacy-policy">privacy policy</a>.
            <div class="capture_footer">
                <div class="capture_left">
                    {* backButton *}
                </div>
                <div class="capture_right">
                    {* socialRegistration_signInButton *}
                </div>
            </div>
        {* /socialRegistrationForm *}
    </div>
    <div style="display:none;" id="registrationNewVerification">
        <div class="capture_header">
            <h1>Thank you for registering!</h1>
        </div>
        <p>We have sent a confirmation email to {* emailAddressData *}. Please check your email and click on the link to activate your account.</p>
        <div class="capture_footer">
            <a href="#" onclick="window.location.reload()" class="capture_btn capture_primary">Close</a>
        </div>
    </div>
    <div style="display:none;" id="traditionalRegistration">
        <div class="capture_header">
            <h3>Almost Done!</h3>
        </div>
        <p>Please confirm the information below before signing in. Already have an account? <a href="#" data-capturescreen="signIn">Sign In.</a></p>
        {* #registrationForm *}
            {* traditionalRegistration_firstName *}
            {* traditionalRegistration_lastName *}
            {* traditionalRegistration_emailAddress *}
            {* traditionalRegistration_password *}
            {* traditionalRegistration_passwordConfirm *}
            {* traditionalRegistration_displayName *}
            {* traditionalRegistration_postalCode *}
            {* captcha *}
            By clicking "Create Account", you confirm that you accept our <a href="/terms-use">terms of service</a> and have read and understand <a href="/privacy-policy">privacy policy</a>.
            <div class="capture_footer">
                <div class="capture_left">
                    {* backButton *}
                </div>
                <div class="capture_right">
                    {* createAccountButton *}
                </div>
            </div>
        {* /registrationForm *}
    </div>
    <div style="display:none;" id="forgotPassword">
        <div class="capture_header">
            <h1>Create a new password</h1>
        </div>
        <h2>We'll send you a link to create a new password.</h2>
        {* #forgotPasswordForm *}
            {* traditionalSignIn_emailAddress *}
            <div class="capture_footer">
                <div class="capture_left">
                    {* backButton *}
                </div>
                <div class="capture_right">
                    {* forgotPassword_sendButton *}
                </div>
            </div>
        {* /forgotPasswordForm *}
    </div>
    <div style="display:none;" id="forgotPasswordSuccess">
        <div class="capture_header">
            <h1>Create a new password</h1>
        </div>
            <p>We've sent an email with instructions to create a new password. Your existing password has not been changed.</p>
        <div class="capture_footer">
            <a href="#" onclick="janrain.capture.ui.modal.close()" class="capture_btn capture_primary">Close</a>
        </div>
    </div>
    <div style="display:none;" id="mergeAccounts">
        {* mergeAccounts *}
    </div>
    <div style="display:none;" id="traditionalAuthenticateMerge">
        <div class="capture_header">
            <h1>Sign in to complete account merge</h1>
        </div>
        <div class="capture_signin">
            {* #tradAuthenticateMergeForm *}
                {* traditionalSignIn_emailAddress *}
                {* mergePassword *}
                <div class="capture_footer">
                    <div class="capture_left">
                        {* backButton *}
                    </div>
                    <div class="capture_right">
                        {* traditionalSignIn_signInButton *}
                    </div>
                </div>
             {* /tradAuthenticateMergeForm *}
        </div>
    </div>
</div><!--/ signInHTML -->
