<script type='text/javascript'>
janrain.settings.borderColor = '#ffffff';
janrain.settings.fontFamily = 'Helvetica, Lucida Grande, Verdana, sans-serif';
janrain.settings.width = 300;
janrain.settings.actionText = ' ';
janrain.settings.capture.setProfileCookie = true;
janrain.settings.capture.keepProfileCookieAfterLogout = true;
janrain.settings.capture.modalCloseHtml = '<span class="janrain-icon-16 janrain-icon-ex2"></span>';
janrain.settings.capture.noModalBorderInlineCss = true;
janrain.settings.capture.returnExperienceUserData = ['displayName'];

janrain.settings.capture.flowName = 'drupal';
janrain.settings.capture.screenToRender = 'verifyEmail';
</script>
<div style="display:none;" id="verifyEmail">
    <div class="capture_header">
        <h1>Resend Email Verification</h1>
    </div>
    <p>Sorry we could not verify that email address. Enter your email below and we'll send you another email.</p>
    {* #resendVerificationForm *}
        {* traditionalSignIn_emailAddress *}
        <div class="capture_footer">
            {* submitButton *}
        </div>
     {* /resendVerificationForm *}
</div>
<div style="display:none;" id="resendVerificationSuccess">
    <div class="capture_header">
        <h1>Your Verification Email Has Been Sent</h1>
    </div>
    <div class="hr"></div>
    <p>Check your email for a link to reset your password.</p>
    <div class="capture_footer">
        <a href="index.html" class="capture_btn capture_primary">Sign in</a>
    </div>
</div>
<div style="display:none;" id="verifyEmailSuccess">
    <div class="capture_header">
        <h1>You did it!</h1>
    </div>
    <p>Thank you for verifiying your email address.
    <div class="capture_footer">
        <a href="/signin" class="capture_modal_open menu_link_signin capture_btn capture_primary">Sign in</a>
    </div>
</div>

