#footer #block-menu-block-3 { width: 233px; }
#footer #block-menu-block-4 { width: 134px; }
#footer #block-menu-block-5 { width: 470px; }
#footer #block-menu-menu-social-media.block { width: 470px; }

/* Main nav fixes */
.view-monster-nav.view-display-id-top ul { width: 95%; margin: 0 !important; padding: 0 !important; }
  .view-monster-nav.view-display-id-top ul li { margin: 0px !important; padding: 0px !important; }
  .view-monster-nav.view-display-id-top a { width: 89% !important; height: auto !important; margin: 0 !important; padding: 0 !important; }
.nav-healthy-eating a { margin: 0px !important; padding: 0px !important; line-height: 0; }
  .nav li .views-row-first .view-monster-nav.view-display-id-level_2 { bottom: 127px !important; }
.nav-about-our-products a { margin: 0px !important; padding: 0px !important; }
  .nav li .views-row-2 .view-monster-nav.view-display-id-level_2 { bottom: 127px !important; }
.nav-recipes a { margin: 0px !important; padding: 0px !important; line-height: 38px !important; }
  .nav li .views-row-3 .view-monster-nav.view-display-id-level_2 { bottom: 142px !important; }
.nav-online-ordering a { margin: 0px !important; padding: 0px !important; }
  .nav li .views-row-4 .view-monster-nav.view-display-id-level_2 { bottom: 127px !important; }
.nav-mission--values a { margin: 0px !important; padding: 0px !important; }
.nav-blog a, .nav-blogs a { margin: 0px !important; padding: 0px !important; line-height: 34px !important; }
.nav-store-departments a { margin: 0px !important; padding: 0px !important; }
.nav-wholefoods { margin: 35px 0 0px -10px !important; }

body.page-node-41.not-front.page-node #block-views-recipe-promo-block {
  background: #fff;
}