body.page-node-41.not-front.page-node #block-views-recipe-promo-block {
  background: #fff;
}


.nav-tab.handle {
  width: 32px;
  height: 130px;
  position: absolute;
  right: 16px;
  top: 26px;
  background: url('../images/bkg-nav-tab.png') 0 0 no-repeat;
  cursor: pointer;
  z-index: 10;
}

/*.nav-tab.handle .nav-tab-copy {
  width: 18px;
  height: 83px;
  background: url('../images/txt-menu.png') left top no-repeat;
  margin: 6px 0 0 6px;
}*/

.nav-tab.handle .nav-tab-arrow {
  width: 32px;
  height: 26px;
  background: url('../images/menu-arrow-left.png') left top no-repeat;
  margin: 95px 0 0 0;
}

.nav-close {
  left: -205px !important;
}
.undernav-nav .nav-close {
  left:0 !important;
}

.nav-close .nav-tab.handle .nav-tab-arrow {
  background: url('../images/menu-arrow-right.png') left top no-repeat;
}

/* styles for Home Pod Titles line-height in ie8 */
.view-store-lookup-by-address h2.storefront-title, .view-store-locations-by-state h2.storefront-title {
	line-height: 22px;
} 
.view-display-id-front_page .view-header .inner .heading .heading-go {
	line-height: 14px;
}
.view-display-id-front_page .view-header .inner .heading {
	padding-top: 90px;
	line-height: 24px;
}
.view-display-id-homepage .pod_gift_cards .torn-pod-content .views-field-field-heading-copy,
.view-display-id-homepage .pod_order_online .torn-pod-content .views-field-field-heading-copy,
.view-display-id-homepage .pod_recipes_app .torn-pod-content .views-field-field-heading-copy {
	line-height: 45px; filter: none; text-shadow: none;
}

.nav {
  background: url('../images/nav-bg.png') left top no-repeat;
  width: 253px;
  height: 643px;
  box-shadow: 0 none;
}

.nav .region {
  position:static;
}