@font-face {
  font-family: "LeagueGothic";
  src: url("../fonts/League_Gothic.oet");
  src: url("../fonts/League_Gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/League_Gothic.woff") format("woff"), url("../fonts/League_Gothic.ttf") format("truetype"), url("../fonts/League_Gothic.svg") format("svg");
}
@font-face {
  font-family: "ywfthannahnarrow";
  src: url("../fonts/hannah-narrow-semibold.eot");
  src: url("../fonts/hannah-narrow-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/hannah-narrow-semibold.woff") format("woff"), url("../fonts/hannah-narrow-semibold.ttf") format("truetype"), url("../fonts/hannah-narrow-semibold.svg") format("svg");
}
/*
 * Target IE 6, 7 and 8 (less than IE9)
 */
/*
 * Assuming a mobile first approach with respond.js OFF, we must reset the font
 * size for lt IE9
 */
html {
  font-size: 81.3%;
}

#boxes-box-bc_back p.headerTextSlides {
  line-height: 100px;
  -ms-filter: none;
}

#block-boxes-top-text-bc-ugc-image .block-inner p {
  margin-top: 90px;
}
