/* 
 * css to modify node edit form display
 */

div#edit-field-marquee-url,
div.marquee-col1{
	width: 60%;
	float: left;

}

div.marquee-col2 {
	width: 39%;
	float: right;
}

div.bump {
	margin-top: 25px;
}

input#edit-field-estore-item-und-0-value {
	width: 90%
}

#edit-field-marquee-priority .form-item label{
    display: inline;
}

.node-marquee-form .form-item-title label {
    display: inline;
}

.node-marquee-form #edit-title.form-text {
    width: 80%;
}

.node-marquee-form .cke_contents {
height: 150px !important;
}