#block-search-api-page-product-search {
  margin: 0 0 20px;
  overflow: hidden;
  .torn-pod-content {
    padding-top: 15px ;
  }
  h2 {
    @include font-and-line(42px, 54px);
    color: $slate;
    float: left;
    margin: 0;
    padding: 0;
   }

  #search-api-page-search-form-product-search {
    float: right;
    width: 460px;
    margin: 17px 0 0;
    padding: 0;
    border: 1px solid $orange-color;
    overflow: hidden;

    .form-type-textfield {
      margin: 0;
      padding: 0;

      input[type="text"] {
        float: left;
        width: 428px;
        height: 12px;
        border: 0px;
        font-size: 12px;
      }
    }
    .form-submit {
      @include search-submit;
      float: right;
      margin: 0;
      border-right: 2px solid $orange-color;
      border-bottom: 2px solid $orange-color;
      &:hover {
        border-right: 2px solid $orange-color;
        border-bottom: 2px solid $orange-color;
      }
    }
  }
}

.sub-page-info {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b5b6b7 ;
  overflow: hidden;

  h2 {
    margin: 0px 0 15px;
    padding: 0px;
    color: #4a1715;
    font-family: $headingbold;
    font-size: 32px;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}

/*--------------------------
  local vendors
---------------------------*/
#block-wfm-blocks-wfm-blocks-vendors {
  background: #fff;
  padding: 20px;

  h2 {
    @include font-and-line(42px, 48px);
    color: $eggplant;
    font-family: $headingbold;
  }

  h3 {
    margin: 0;
    padding: 0;
    color: #666666;
    font-family: $headingmedium;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
  }

  label {
    margin: 5px 0 3px;
  }

  select {
    width: 196px;
    height: 1.8em;
    margin: 0 1em 0 0;
    padding: 2px 3px;
    background: image-url('select-arrow.jpg') no-repeat;
    background-position: right center;
    background-color: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-appearance: none;
    border-color: $orange-color;
    font-size: 12px;
    float: left;
  }

  .form-item {
    margin-bottom: 0;
  }

  #vendor-form-submit {
  }
}
