#block-views-blogs-blog-pages {
  .blog-title {
    margin-bottom: 0;
    a {
      @include animate(.4s);
      color: $blue-green;
      font-family: $headingbold;
      text-transform: uppercase;
      &:hover {
        color: darken($blue-green, 5%);
      }
    }
  }
}
body#body {
  &.node-type-blog-post, &.node-type-blog, &.page-blog-search, &.page-blog-archive {
    .breadcrumb {
      display: none;
    }
  }
}
body#body {
  &.page-blog-category {
    #main-wrapper {
      @media (max-width: 1220px) {
        margin-top: -30%;
      }
      @media (max-width: 1000px) {
        margin-top: -20%;
      }
    }
    .column.with-sidebar {
      .torn-pod-content {
        background: transparent;
        padding: 0;
      }
      .torn-pod-header { background: transparent }
      .torn-pod-footer { background: transparent }


      .breadcrumb {
        background: #fff;
        padding: 20px 0 0 25px;
      }

      .view-blogs-category {
        .torn-pod-content {
          padding: 15px 25px 15px;
          background: #fff;
          margin-bottom: 20px;
          .views-field-title { margin-bottom: 15px }
          .views-field-created, .views-field-nothing, .views-field-title-1 {
            display: inline-block;
            color: $gray-text;
            font-size: 12px;
          }
          .views-field-body {
            margin: 15px 0;
            color: #333;
            overflow: hidden;
            border-bottom: 1px solid #999;
          }
          .views-field-title-2, .views-field-php {
            margin-top: 0;
            display: inline-block;
          }
          .views-field-comment-count {
            float: right;
          }
        }
      }
    }
  }
}

body#body {
  &.node-type-blog-post, &.node-type-blog, &.page-blog-search, &.page-blog-archive, &.page-blog-category {
    #sidebar-second {
      .torn-pod-content {
        .region { padding: 0 }
        padding: 15px 0;
        #blogs-search {
          h2 {
            padding-left: 0;
          }
          .form-submit {
            @include search-submit(26px, 22px);
            border: 1px solid $orange-color;
            margin: 0;
            position: relative;
            left: -4px;
          }
        }
        .collapse-block {
          h2 {
            cursor:pointer;
            background: {
              image: url(../images/wfm-ui-open.png);
              position: right center;
              repeat:no-repeat;
            }
          }
          h2.open {
            background:{
              image: url(../images/wfm-ui-close.png);
            }
          }
        }
        .block {
          h2 {
            @include font-and-line(18px, 24px);
            font-family: $headingbold;
            padding: 10px 25px;
            background: {
              color: #ccc;
            }
            cursor:pointer;
            margin: 0 0 5px;
            display: block;
            color: $blue-green;
            text-transform: uppercase;
          }

          .content {
            padding: 0 25px;
            ul {
              &.views-summary {
                li, li a {
                  list-style: none inside none;
                  padding: 0;
                  margin: 0;
                }
              }
            }
          }
        }
        #block-blogsearch-blog-search,
        #block-blogs-blogs-search-form {
          &.block {
            h2 {
              font-size: 28px;
              color: $slate;
              background: {
                color: transparent;
              }
            }
          }
        }
        #block-newsletters-newsletters-sidebar-form {
          #newsletters-sidebar-subscription-form {
            border-bottom: 0 none;
            padding-bottom: 0;
          }
          h3 {
            padding: 10px 25px 0 0;
            margin: 0 0 5px;
            color: #444444;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: normal;
          }
        }
        #block-blogs-blog-miscellaneous-links, #block-views-blogs-blog-about {
          &.block {
            h2 {
              color: $slate;
              background-color: transparent;
              font-size: 28px
            }
          }
        }
      }
    }
  }
}

.node-type-blog, .node-type-blog-post, .view-blogs {
  h1 {
    &.blog-maintitle, &.blog-maintitle a {
      @include font-and-line(63px, 96px);
      text-transform: uppercase;
      text-shadow:0 0 8px #000;
    }
  }
  .blog-maindesc {
    @include font-and-line(18px, 24px);
    text-transform: uppercase;
    font-family: $headingmedium;
    color: #fff;
    text-align: center;
    text-shadow:0 0 8px #000;
  }
}

// Blog Posts Content

#block-views-blogs-blog-posts, #block-views-blogs-blog-pages {
  margin: -20px 0 20px;
  .views-row {
    margin-bottom:20px;
  }
  .views-row-first {
    h2 {
      margin-top: 20px;
    }
  }
  h2 {
    &.blog-title {
      color: $blue-green;
      font-family: $headingbold;
      @include font-and-line(36px, 42px);
      text-transform: none ;
      margin-bottom: 0;
      a {
        color: $orange-color;
        &:hover {
          color: $orange-darker;
        }
      }
    }
  }
  .blog-author, .blog-tags {
    color: $gray-text;
    font: {
      size: 12px;
    }
  }

  .blog-tags {
    display: inline-block;
    float: left;
  }
  .print-box {
    float: right;
    a {
      display: block;
      padding: 0 0 0 20px;
      background: url('../images/icon-print2.png') top left no-repeat;
    }
  }
  .blog-author {
    margin-bottom:15px;
  }
  .blog-body {
    margin-top: 15px;
    color: #333;
    overflow: hidden;
    .media-image-left, .alignleft {
      margin: 10px 15px 5px 0;
      float: left;
    }
    .media-image-right, .alignright {
      float: right;
      margin: 10px 0px 5px 15px;
    }
  }
  .blogpost-bottom {
    color: $gray-text;
    border: {
      top: 1px solid #999;
    }
    padding: 10px 0;
    margin: 10px 0 0;
    overflow: hidden;
    clear: both;
    .post-category {
      margin: 0 110px 0 0;
    }
    .post-comment-count {
      float: right;
    }
  }
}

// Blog Post Page

#block-views-blogs-blog-posts {
  margin: -20px 0 20px;
  .view-content {
    padding: 0 0 20px;
  }
}

// Blog Comments

#block-views-blogs-blog-post-comments {
  h2 {
    color: #4a1715;
  }
}

#block-blogsearch-blog-search,
#block-blogs-blogs-search-form {
  h2 {
    padding:10px 25px 0px 25px ;
    margin:0 ;
  }
  .form-type-textfield {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 1em;
    width: 30px;
    .form-text {
      margin: 0 -5px 0 0;
      border: 1px solid #EC7A37;
      height: 12px;
      width: 173px;
    }
  }
  .form-submit {
    background: url(../images/wfm-search-btn.jpg);
    width: 24px;
    height: 20px;
    text-indent: -10000px;
    vertical-align: middle;
    float: right;
    display: inline-block;
    margin-top: 1px;
  }
}
#block-blogs-blogs-search-form {
  h2 {
    padding:0 0 10px 0 ;
  }
  select#edit-field-blog {
    min-width: inherit;
    width:205px;
  }
}
//override global backgrounds
.node-type-blog, .node-type-blog-post {
  #content {
    .section > {
      .torn-pod-header {
        background:transparent;
        height:0;
      }
      .torn-pod-content {
        background:transparent;
        padding:0;
      }
      .torn-pod-footer {
        background:transparent;
        height:0;
      }
    }
  }
}

//blog specific contributors
.layout_one #sidebar-second{
  .view-blog-specific-contributors{
    .views-field-title{
      span a{
        color: #E15F2C;
        font-size: 12px;
        text-decoration: none;
      }
    }
  }
}

//blog miscellaneous block
#block-views-blog-miscellaneous-block{
  .views-field-title{
    ul{
      list-style-type: none;
    }
    span a{
      color: #E15F2C;
      font-size: 12px;
      text-decoration: none;
    }
  }
}

.view-display-id-blog_posts{
  #post_share_links{
    margin-bottom: 10px;
    .recipe-fb {
      @include inline-block;
    }
    .recipe-twitter {
      @include inline-block;
    }
  }
  h2.blog-title {
    margin: 20px 0 0 0;
  }
}

a.blog-title {
  margin: 0 0 10px;
  padding: 0;
  color:$blue-green;
  font-family: $headingbold;
  font-size: 32px ;
  font-weight: normal;
  &:hover {
    color: darken($blue-green, 5%);
  }
}

.view-blogs {
  .comment-form-message {
    font-size: 13px;
    font-style: italic;
  }
  .comment-form {
    .form-submit {
      margin-right: 10px;
    }
  }

  .blogpost-title, .blog-roll-link {
    margin-bottom: 5px;
  }

  .leave-reply-copy {
    margin-bottom: 20px;
    color: #006E53;
    font-family: $headingbold;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 0.99 ;
    filter: alpha(opacity=99);
  }

  .form-item-homepage { display: none }
}

.view-display-id-blog_post_comments {
  .views-row {
    padding: 24px 0;
    border-bottom: 1px solid gray;

    .comment-author { font-style: italic; font-weight: bold; font-size: 16px; text-transform: uppercase }
    .comment-body { font-size: 14px; padding: 10px 0 }
    .comment-date { font-size: 12px }
  }
}

.node-person {
  padding: 20px 20px 0 20px;
  .field-name-field-image { float: left; margin-right: 15px; }
}

#block-views-blogs-block-1 .content{
  width: auto;
  padding: 15px 25px 15px;
  background: #fff;
  overflow: hidden;
  color: #4A1715;
  text-align: center;
  font-family: $headingbold;
  font-size: 20px ;
  font-weight: normal;
  opacity: 0.99;
  filter: alpha(opacity=99);
}


#block-views-blogs-block-1 h2{
  display: none;
}

.view-id-blog_posts_by_author.view-display-id-header {
  h2 {
    @include font-and-line(103px, 103px);
    margin: 0px 0 -18px;
    padding: 20px 0 0 0;
    color: white ;
    font-family: $headingbold;
    text-shadow: $heading-shadow;
    text-align: center;
    text-transform: uppercase;
  }
}

.view-global-frontpage-promo-views.view-id-global_frontpage_promo_views {
  .view-header {
    p {
      line-height: 45px;
      font-size: 36px !important;
    }
  }
}

body.not-front.page-blog-archive {
  .field-items img {
    width: 100px;
    height: auto;
    float: right;
    max-height: 130px;
  }
  .media-youtube-outer-wrapper {
    display: none;
  }
  #main-wrapper {
    @media (max-width: 1220px) {
      margin-top: -30%;
    }
    @media (max-width: 1000px) {
      margin-top: -20%;
    }
  }
  .view-blogs-archive {
    .views-row {
      @include animate(.4s);
      background: #fff;
      border-bottom: 1px solid #ccc;
      padding: 0 25px 20px 25px;
      &:hover {
        background: #eee;
      }
    }
    h2 {
      margin-bottom: 0;
    }
    .submitted {
      margin-bottom:10px;
    }
  }
  .field-name-body {
    padding: 0;
    margin: 5px 0;
    img {
      display: none;
    }
  }
  .torn-pod-content {
    padding: 0;
  }
  .field-name-field-blog-taxonomy {
    text-transform: uppercase;
    font-size: 11px;
  }
}

//Blog Posts by Author on Person nodes
#content #block-views-blog-posts-by-author-block { //Had to do #content to override something
  padding: 0;
  h2 {
    margin-left: 20px;
    @include font-and-line(24px, 32px);
    font-family: $headingmedium;
  }
  .views-row {
    @include clearfix;
    @include animate(.4s);
    background: #fff;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    &:hover {
      background: #eee;
    }
    .views-field-title {
      margin: 0 0 15px 0;
      a {
        @include font-and-line(24px, 32px);
        font-family: $headingmedium;
        text-decoration: underline;
        color: $orange-color;
        &:hover {
          color: $orange-darker;
        }
      }
    }
    .views-field-field-blog-media {
      width: 80px;
      height: 80px;
      margin: 0 15px 0 0;
      float:left;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .views-field-created {
      font-style: italic;
    }
    .views-field-field-blog {
      font-style: italic;
    }
    .views-field-body {
      margin: 10px 0;
    }
  }
  .pager {
    margin: 15px 0;
  }
}

//Blog Category Pages
.page-taxonomy {
  .torn-pod-content {
    padding: 20px 0;
  }
  .breadcrumb, .feed-icon {
    margin-left: 20px;
  }
  .pager {
    margin-top: 20px;
  }
  .node-teaser {
    @include animate(.4s);
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0 20px 20px 20px;
    &:hover {
      background: #eee;
    }
    .field-name-body {
      padding: 0;
      margin: 5px 0;
      img {
        display: none;
      }
    }
    h2 {
      margin-bottom: 0;
      a:hover {
        color: darken($blue-green, 5%);
      }
    }
    .submitted {
      margin-bottom: 10px;
    }
    .field-name-field-blog-taxonomy {
      text-transform: uppercase;
      font-size: 11px;
    }
  }
}

#block-blogs-blog-miscellaneous-links {
  p {
    margin-bottom: 5px;
  }
}

.page-node.node-type-person #content .section > .torn-pod-content {
  #breadcrumb.shown {
    margin-top: 20px;
  }
  #block-system-main {
    margin-bottom: 20px;
  }
}
