.container {

}
* {
  margin: 0;
}
#page-wrapper {
  min-height: 100%;
  height: auto ;
  margin: 0 auto -215px ;
  overflow: hidden;
}

#page {
  margin: 94px 0 0;
}
#main-wrapper {
  position: relative;
  margin: 0;
  overflow: hidden;
}

#main .tabs ul.tabs {
  border: none;
  margin: 0 0 8px;
  padding: 0;
  li {
    display: inline-block;
    a {
      border: none;
      border-radius: 8px;
      display: block;
      padding: 4px 12px;
    }
  }
}

body.front {
  .region-marquee {
    margin-top: 0;
    img {
      display: block;
    }
  }
  #page {
    margin-top: 0;
  }
  #main-wrapper {
    margin-top: -180px;
  }
}

.region-marquee {
  margin-top: -93px;
  img {
    display: block;
  }
}

body.not-front {
  #main-wrapper {
    margin-top: -462px;
  }
  &.no-marquee #main-wrapper {
    margin-top: 0;
  }
  &.marquee-heading #main-wrapper,
  &.marquee-promo #main-wrapper {
    margin-top: 0;
  }
  &.free-form #main-wrapper {
    margin-top: -140px;
  }
}

#block-views-generic-page-items-marqee {
  position: absolute;
  top: 215px;
  width: 100%;
  z-index: 1;
}

#free-form-container {
  margin-top: 0 ;
}

#main {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  margin: auto;
}

.pod {
  height: 150px;
  background: #fff;
  float: left;
  @include single-box-shadow(0px, 0px, 10px, 1px, #333333, false);
  margin: 1%;
}

.pod-inner {
}

.type-1 {
  width: 31.4%;
}

.type-2 {
  width: 64.7%;
}

.type-3 {
  width: 97.9%;
}

.field-name-body .field-label {
  color: $blue-green;
  font-size: 32px;
}

.field-name-field-ingredients .field-label, .field-name-field-allergen-info .field-label {
  font-size: 12px;
}

.field-name-field-special-diet .field-label {
  color: $gray-text;
  font-family: $bodyfont;
  font-size: 20px;
  font-weight: normal;
}

/*------------------------------
  sidebar styles
------------------------------*/
.layout_one {
  #sidebar-second {
    float: right;
    width: 263px;

    .view-display-id-node {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #9c9a9a;
    }
    .views-row-last {
      border-bottom: 0px ;
    }
    .views-field-title, .views-field-field-related-page-title {
      margin: 0 0 10px 0;
      padding: 0;
      color: $gray-text;
      font-family: $headingmedium;
      a {
        color: #464646;
        font-family: $bodyfont;
        font-size: 15px;
        text-decoration: none;
      }
    }
    h2 {
      @include font-and-line(28px, 24px);
      margin: 0 0 10px;
      padding: 0;
      color: $slate;
      font-family: $headingbold;
    }
    .views-field-field-related-content-copy {
      font-weight: normal;
      .field-content > *:last-child {
        margin: 0 0 10px;
      }
    }
    .views-field-field-image, .views-field-field-related-content-image {
      .field-content > *:last-child {
        margin-bottom: 10px;
      }
    }
  }

  #content.with-sidebar {
    width: 675px;
    float: left;
  }

  .with-inner-sidebar {
    margin: 0 245px 0 0;
  }
}

.layout_two {
  .view-id-related_content {
    .views-row {
      width: 300px;
      float: left;
    }
  }
}

.content-sidebar {
  float: right;
  width: 200px;
  margin: 0 0 0 15px;
  padding: 0 0 0 15px;
  border-left: 1px solid #999;
}

// Edit Link Buttons

.edit-link {
  position: absolute;
  top: 10px;
  right: 7px;
  a {
    color: #333;
    font: {
      size: 12px;
      weight: normal;
    }
    display: block;
    background: {
      color: #ccc;
    }
    padding: 2px 5px;
    border: 1px solid #999;
    &:hover {
      text-decoration: underline;
    }
  }
  .views-row-first & {
    right: 45px;
  }
}
// For Edit Link Relatives (adding a general rel display breaks the Monster Nav)
.views-row {
  .view-blogs & {
    position: relative;
  }
}

.field-name-field-body-free-form {
  .field-label { display: none; }
}

//adjust content position for login info
#capture {
  .capture_main {
    .centered_block {
      padding: 0px;
      margin-top: -25px;
    }
  }
}

.promo-share {
  margin-top: 10px;
}

#block-wfm-blocks-online-ordering-body {
  @include clearfix;
  @include border-box;
  background: #fff;
  padding: 20px;
}

#block-wfm-blocks-wfm-blocks-oo-header {
  @include clearfix;
  @include border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  h2 {
    color: $maroon-color;
  }
  .header-image {
    float:left;
    margin: 0 20px 0 0;
  }
  .oo-summary {
    margin-bottom: 3em;
  }
  .wfmstoreinfobox {
    background-color: $yellow;
    padding: 10px;
    margin: 0 0 20px 330px;
    @include font-and-line(12px, 20px);
    .storename {
      font-size: 16px;
      font-weight: bold;
      color: $maroon-color;
    }
  }
  .shopnow {
    @media screen and (min-width: 1000px) {
      float: left;
      max-width: 40%;
    }
    a {
      @extend .orange-button-cta;
      font-size: 18px;
      font-weight: normal;
      padding: 12px 20px;
    }
  }
  .or {
    font-size:20px;
    font-style: italic;
    font-weight: bold;
    display:block;
    margin: 20px 0;
    @media screen and (min-width: 1000px) {
      float:left;
      margin: 10px 0 0 85px;
      display: inline;
    }
  }
  &.store-selected {
    .oo-summary {
      margin-bottom: 1em;
    }
    #online-ordering-header-form {
      margin-left: 330px;
      @media screen and (min-width: 1000px) {
        float:right;
        max-width: 360px;
        margin: 0 0 0 40px;
      }
      .form-item:first-child {
        margin-top: 0;
      }
      #store-select-submit {
        @media screen and (min-width: 1000px) {
          float: right;
        }
      }
    }
  }
}

#store-select-form {
  #edit-store {
    max-width: 100%;
    padding-right: 20px;
  }
}

// /store-departments
.page-node-74 {
  #block-views-promo-blocks-block div.promo-content h2 p {
    @include font-and-line(50px, 62px);
  }
}

.view-id-store_departments.view-display-id-local {
  .field-content {
    a {
      @include font-and-line(28px, 48px);
      color: $orange-color;
      text-transform: uppercase;
      &:hover {
        color: $orange-darker;
      }
    }
  }
}

//Departments
.node-type-department {
  #block-views-promo-blocks-block .promo-container h2 p {
    @include font-and-line(50px, 62px);
  }
  .node-department {
    padding-top: 15px;
  }
}

#healthy-eating-download-pdf {
  input[type="submit"] {
    font-size: 19px;
    line-height: 10px;
  }
}
#healthy-eating-user-store-selector {
  p {
    font-weight: bold;
    margin: 0;
  }
  .form-item {
    float: left;
    margin-right: 10px;
    select {
      max-width: 280px;
      min-width: 250px;
    }
  }
  #store-select-form #edit-store {
    max-width: 250px;
    min-width: 250px;
  }
  input[type="submit"] {
    font-size: 19px;
    line-height: 10px;
    margin-top: 11px;
  }
}
#healthy-eating-user-store-selector:after {
  clear: both;
}
