#wfm-coupons-print-form {
  #edit-select-all-wrapper {
    display: block;
    width: 100%;
    border-bottom: 1px solid #CCC;
    text-align: left;
    padding: 5px 0;
    .form-item-select-all-coupons {
      display: inline-block;
      margin-top: 12px!important; // override an !important in views_bulk_operations.css
    }
    .option {
      text-transform: none;
    }
  }
  #edit-form-submit {
    float:right;
  } 
}

#views-form-coupons-page {
  padding-top: 20px;
  margin-top: 20px;
  .form-wrapper.collapsible {
    margin: 0 0 20px 0;
    legend {
      display: none;
    }
  }
}

#quicktabs-custom_quicktab_sales_coupons {
  .view-id-coupons .views-row {
    @include clearfix;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    * {
      box-sizing: border-box;
    }
    &:last-child {
      border-bottom: 0;
    }
    .views-field-print-select {
      width: 25%;
      float: left;
      margin: 50px 0 0 0;
      .option {
        text-transform: none;
      }
    }
    .views-field-field-coupon-offer {
      font-family: $headingbold;
      display: block;
      color: $blue-green;
      margin: 40px 0 10px 0;
      .field-content {
        font-size: 32px;
      }
    }
    .views-field-field-coupon-image {
      width: 25%;
      float: left;
      border-left: 1px dotted #ccc;
      padding-left: 12px;
      margin-right: 12px;
      img {
        display: block;
        margin: 0 auto;
        padding: 3px;
        border: 1px solid #ccc;
        height: auto;
      }
    }
  }
}