#block-views-calendar-2-featured {
  margin-bottom: 10px;
}

#block-views-calendar-2-nearby {
  h3 {
    margin-bottom: 15px;
  }
}

.view-id-calendar_2 {
  &.view-display-id-nearby {
    .event {
      margin-bottom: 30px;
      min-height: 107px;
    }

    .image {
      height: 104px;
      width: 170px;
      border: 1px solid #999;
    }

    .expanded {
      padding: 20px;

      .image {
        border: 1px solid #999;
        margin-bottom: 20px;
        width: 151px;
        height: 92px;
        overflow: hidden;
      }

      .links.detail .button {
        padding: 8px 8px 8px 7px;
      }

      .left {
      }

      .right {
        width: 390px;

        .title {
         // width: 180px;
        }

        .description {
          margin-top: 20px;
        }
      }

    }
    .left {
      float: left;
      margin-right: 30px;
      min-height: 110px;
    }
    .right {
      float: left;
      width: 420px;

      .title {
        float: left;
        font-weight: light;
        font-size: 22px;
        color: #616161;
        text-transform: uppercase;
      }

      .time-loc {
        text-transform: uppercase;
        font-size: 13px;
        color: #616161;
        float: left;
      }
    }

    .image {
      border: 1px solid #999;
    }
  }

  .view-header {
    margin-bottom: 20px;
    .date-nav {
      height: auto;
      position: auto;
      margin: 0;
      min-height: 0;
      .date-heading {
        display: inline-block;
        width: 600px;
        text-align: left;
        h3 {
          @include font-and-line(60px, 60px);
          font-family: $headingbold;
        }
      }
      .pager {
        float: right;
        display: inline-block;
        margin: 0px;
        text-align: right;
        .date-prev {
          -moz-border-radius: 0px;
          border-radius: 0px;
          background: none;
          position: inherit;
          text-align: left;
          top: auto;
        }
      }
    }
  }

  .view-filters {
    width: 774px;
    margin: -30px 0 0;
    padding: 0;
    overflow: hidden;

    form {
      float: right;
      margin: 0;
      padding: 0;

      label {
        display: none;
      }

      #edit-submit-calendar-2 {
        margin: 0;
        padding: 4px 10px;
      }

      select {
        width: 265px;
        padding: 2px 3px;
        background: image-url('select-arrow.jpg') no-repeat;
        background-position: right center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-appearance: none;
        border-color: $orange-color;
        font-size: 12px;

        &:focus {
          outline: none;
        }
      }
    }
  }
  .date-heading {
    h3 {
      font-size: 12px;
      text-align: left;
    }
  }
  .pager {
    li {
      a {
        color: $orange-color;
      }
      &.date-next {
        position: inherit;
      }
  }

  }

  .date-block {
    @include font-and-line(20px, 24px);
    width: 68px;
    padding: 11px 0;
    display: inline-block;
    float: left;
    color: #fff;
    text-align: center;
    font-family: $headingmedium;
    .weekday {
      margin: 2px 0 0;
      padding: 0;
      text-transform: uppercase;
    }
    .monthday {
      margin: 0;
      padding: 0;
    }
  }

  &.view-display-id-upcomming {
    .event {
      margin-bottom: 5px;
      background: rgba(0, 0, 0, 0.1);
      min-height: 66px;
    }

    .event:last-of-type { background:red; margin-bottom: 0 }
  }

  .event.expanded {
    background: rgba(246,246, 246, 0.65);
    /*opacity: 0.65;
    filter: alpha(opacity=65);*/
  }

  .detail-block {

    width: 842px;
    min-height: 53px;
    display: inline-block;
    color: #616161;
    overflow: hidden;

    .time-loc {
      text-transform: uppercase;
      font-size: 13px;
      color: #616161;
    }

    .title {
      float: left;
      width: 375px;


      font-weight: light;
      font-size: 22px;
      color: #616161;
      text-transform: uppercase;

    }

    .brief {
      padding-top: 18px;
      padding-left: 15px;

      .title {
      }

      .time-loc {
        padding-top: 5px;
        float: left;
        display: inline-block;
        width: 375px;
      }

      .expand {
        float: right;
        margin-right: 20px;
        a {
          font-size: 35px;
          line-height: 18px;
          font-weight: 300;
          text-decoration: none;
        }
      }

    }

    .detail {
      float: left;
      width: 840px;
      padding-top: 10px;
      padding-left: 15px;
      min-height: 200px;

      .body {
        width: 635px ;
        float: left;
      }

      .image {
        border: 1px solid #999;
        float: left;
      }

      .title {
      }

      .links {
        float: left;
        clear: left;
        .addthis_toolbox { display: inline-block }

        ul {
          margin: 10px 0 -2px -38px;
          display: inline-block;
          overflow: hidden;

          li {
            float: left;
            margin-right: 10px;
            list-style: none;

            a {
              display: block;
              width: 17px;
              height: 17px;
              margin: 0;
              padding: 0;
              text-indent: -10000px;

              span {
                display: none ;
              }
              &.print {
                background: image-url('ui-sprite.png') 0 -48px no-repeat;
                height: 15px;
              }
              &.mailto {
                background: image-url('ui-sprite.png') -24px -14px no-repeat;
                height: 10px;
                margin: 2px 0 0 0;
              }
            }
          }
        }
      }

      .time-loc {
        float: right;
        width: 280px;
        margin:-20px 0px 0 0;
      }

      .description {
        margin-top: 30px;
        width: 610px;
        clear: both;
      }

      .collapse {
        float: right;
        top: 165px;
        margin-left: auto;
        margin-right: 0;
        margin-top: auto;
        position: relative;
        width: 58px;
        margin-bottom: 0px;
        a {
          font-size: 80px;
          line-height: 18px;
          font-weight: 200;
          text-decoration: none;
        }
      }
    }
  }

  .event.term-82 {
    &.expanded {
      border-top: 4px solid #ec7b37;
    }


    .date-block {
      background-color: #ec7b37;
    }
  }

  .event.term-83 {
    &.expanded{
      border-top: 4px solid #428e9b;
    }


    .date-block {
      background-color: #428e9b;
    }
  }

  .event {
    &.expanded{
      border-top: 4px solid #428e9b;
    }


    .date-block {
      background-color: #428e9b;
      max-height: 66px;
      box-sizing: border-box;
    }
  }

  .detail {
    display: none;
  }

  // firefox workaround for twitter button loaded inside hidden block.
  @-moz-document url-prefix() {
    .detail-block .detail {
      display: block;
      position: absolute;
      height: 0;
      min-height: 0;
      top: 0;
      overflow: hidden;
    }
    .expanded .detail-block .detail {
      position: static;
      height: auto;
      min-height: 200px;
      overflow: visible;
    }
  }

  .button {
    @extend .orange-button-cta;
  }
}

#block-views-calendar-2-featured {
  width: 960px;
  overflow: hidden;
  .views-row {
    margin-top: 10px;
    .views-col{

      .torn-pod-content { height: 365px; }

      .views-field-nothing {
        a {
          @extend .orange-button-cta;
        }
      }

      .views-field-field-event-image {
        border: 1px solid #999;
      }

      .views-field-title {
          display: block;
          margin: 20px 0 12px;
          color: #000;
          font-size: 16px;
          text-decoration: none;
          height: 60px;
      }

      .views-field-field-event-date { text-transform: uppercase; }

      .views-field-body {
        min-height: 50px;
        p {
          margin: 0;
          padding: 0 0 8px;
          font-size: 12px;
          line-height: 16px;
        }
      }

      .views-field-field-link-url {
        min-height: 50px;
        a {
          display: inline-block;
          margin: 12px 0 0 ;
          padding: 10px;
          background: #e97a38;
          color: #fff;
          font-size: 11px;
          text-decoration: none;
          text-align: center;
        }
      }

    }
  }

  .views-row.col-width-three {
    .views-col {
      .views-field {
      /*float: right;*/
      }
      .views-field.views-field-field-promo-media {
        float: left;
        width: auto;
        margin-right: 15px;
        overflow: hidden;
      }
    }

    .views-col.freeform {
      background: transparent;
      text-align: center;
      .views-field {
        float: none;
      }
    }
  }

  .views-row.col-width-two {
    .views-col {
      width: 472px;
      display: inline-block;
      float: left;
      margin-right: 12px;

    }
    .views-col.views-row-last {
      margin-right: 0px;
    }
  }

  .views-row.col-width-one {
    .views-col {
      width: 308px;
      float: left;
      margin-right: 18px;
      overflow: hidden;
    }
    .views-col.views-row-last {
      margin-right: 0px;
    }
  }
}


#sidebar-second {
  .view-id-event_sidebar_right {
    color: #616161;

    .views-field-php {
      h2 { display: none }
    }

    .views-field-field-storefront-image {
      margin: 20px 0;
      overflow: hidden;
      border: 1px solid #000;
    }

    .views-field-nothing {
      margin-bottom: 20px;
    }

    .views-field-nothing-1, .views-field-nothing-2 {
      a {
        font-size: 14px;
      }
    }

    .views-field-nothing-3 {
      font-size: 20px;
      margin-top: 20px;
    }
  }
}

.show_more_content_pod {
  a.show_more_featured {
    display: block;
    width: 100%;
    background-color: #C0C0C0;
    color: $orange-color;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
  }
}

.layout_one {
  #sidebar-second {
    .view-event-sidebar-right.view-id-event_sidebar_right {
      .views-field-php-1 {
        margin-top: 20px;
        a.addthis_button_compact { font-size: 13px }
      }
    }
  }
}

.view-event-sidebar-right.view-id-event_sidebar_right {
  .views-row { margin-bottom: 0; padding-bottom: 0}
}

.page-node-6850 {
  .layout_one {
    #sidebar-second {
      .views-row {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

body.node-type-event {
  .layout_one #sidebar-second {
    #block-views-event-store-block {
      .views-field-title {
        margin-bottom: 10px;
      }
    }
  }

  .views-field-field-phone-number {
    .field-content { display: inline-block }
  }
  .views-field-field-fax-number {
    .field-content { display: inline-block }
  }

  .content .node.node-event {
    padding: 0 20px 15px 20px;
    .field-name-body {
      padding: 0;
    }
  }

  .torn-pod-content .field-label { display: block ; }
  .group-left { width: 330px; float: left; margin-right: 20px }
	.group-right { text-align: center; }
  .links {
    .addthis_toolbox { display: inline-block }
    .social-links { display: inline-block }
    ul {
      margin: 10px 0 -2px -38px;
      display: inline-block;
      overflow: hidden;

      li {
        float: left;
        margin-right: 10px;
        list-style: none;

        a {
          display: block;
          width: 17px;
          height: 17px;
          margin: 0;
          padding: 0;
          text-indent: -10000px;

          span {
            display: none ;
          }
          &.print {
            background: image-url('ui-sprite.png') 0 -48px no-repeat;
            height: 15px;
          }
          &.mailto {
            background: image-url('ui-sprite.png') -24px -14px no-repeat;
            height: 10px;
            margin: 2px 0 0 0;
          }
        }
      }
    }
  }
}
