#block-core-facebook-page-feed-global, #block-core-facebook-page-feed-local {
  margin-bottom: 20px;
  padding: 0 20px;
  #social-feed-container {
    padding-bottom: 15px;

    .facebook-post-fetcher-item {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #b2b2b2 ;
      overflow: hidden;

      h3 {
        a {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .facebook-post-fetcher-image {
        float: left;
        margin: 0 10px 0 0;
        padding: 0;
      }

      .facebook-post-fetcher-message {
        font-size: 12px;
        line-height: 18px;
      }

      .facebook-post-fetcher-date-time {
        margin-top: 5px;
        color: $gray-text;
        font-size: 12px;
      }
    }
  }
}

//override global backgrounds
.page-node-7622 {
  .breadcrumb {
      display: none;
    }
  #content {
    .section > {
      .torn-pod-header {
        background:transparent;
        height:0;
      }
      .torn-pod-content {
        background:transparent;
        padding:0;
      }
      .torn-pod-footer {
        background:transparent;
        height:0;
      }
    }
  }
}


.view-promo-blocks.view-display-id-homepage {
  .views-col.pod_facebook_feed {
    .views-field-body {
      h2 {
        line-height: 50px;
      }

      h3 { font-size: 12px }

      #social-feed-container {
        .title { margin-top: 5px; }
        .handle { margin-bottom: 20px }
        .facebook-post-fetcher-message { margin-left:70px; }
      }

      .fb-user-img { height: 45px } 
    }
  }
}