/*-------------------------------
      footer
-------------------------------*/
@mixin footerlink {
  @include animate(.4s);
  @include font-and-line(26px, 26px);
  color: #fff;
  font-family: $headingbold;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.8;
  filter: alpha(opacity=80);
  &:hover {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.footerlinkmixin { //Why? Extending instead of including creates more concise rendered CSS.
  @include footerlink;
}

#footer {
  position: relative;
  width: 100%;
  background: #22332d;
  overflow: hidden;

  .section {
    width: 955px;
    margin: 0 auto;
    overflow: hidden;
  }

  #block-menu-block-3 {
    float: left;
    margin: 0 55px 50px 0px;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0 0 2px;
        list-style: none;

        a {
          @extend .footerlinkmixin;
        }
      }
    }
  }

  #block-menu-block-4 {
    float: left;
    margin: 0 0 0 0px;

    h2 {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0 0 2px;
        list-style: none;

        a {
          @extend .footerlinkmixin;
        }
      }
    }
  }

  #block-menu-block-5 {
    float: right;
    width: 470px;
    margin: 0 0 10px 0px;
    clear: right;

    h2 {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0 0 2px;
        list-style: none;

        a {
          @extend .footerlinkmixin;
        }
      }
    }
  }

  #block-menu-menu-social-media {
    float: right;
    width: 470px;
    margin: 0 0px 0 0;
    padding: 0;
    clear: right;

    h2 {
      margin: 0 0 5px;
      padding: 0;
      color: #fff;
      font-family: $headingmedium;
      font-size: 26px;
          opacity: 0.8;
          filter: alpha(opacity=80);
      font-weight: normal;
    }

    .content ul {
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin: 0 8px 0 0;
        padding: 0 0 2px;
        list-style: none;



        a {
          display: block;
          width: 57px;
          height: 56px;
          color: #fff;
          text-decoration: none;
          text-indent: -10000px;
          &.facebook-link {
           background: image-url('social-media/social-sprite.png') 0 0 no-repeat;
          }
          &.twitter-link {
           background: image-url('social-media/social-sprite.png') 0 -339px no-repeat;
           height: 55px;
          }
          &.gplus-link {
           background: image-url('social-media/social-sprite.png') 0 -112px no-repeat;
          }
          &.pinterest-link {
           background: image-url('social-media/social-sprite.png') 0 -225px no-repeat;
           width: 58px;
           height: 58px;
          }
          &.flickr-link {
           background: image-url('social-media/social-sprite.png') 0 -56px no-repeat;
          }
          &.instagram-link {
           background: image-url('social-media/social-sprite.png') 0 -168px no-repeat;
          }
          &.youtube-link {
           width: 101px;
           height: 36px;
           margin-top: 10px;
           background: image-url('social-media/social-sprite.png') 0 -394px no-repeat;
          }
        }
      }
      li.last {
        margin-right: 0px;
      }
    }
  }
  #footer-user-store-selector {
    position: relative;
    h4 {
      .views-label {
        text-transform: none;
      }
      a {
        color: #fff;
      }
    }
    p {
      color: #fff;
      font-style: italic;
    }
    label {
      color: #fff;
      text-transform: none;
      font-weight: normal;
      margin-bottom: 0;
    }
    select {
      min-width: 240px;
      background-color: #fff;
    }
    .form-submit {
      font-size: 14px;
      line-height: 16px;
      padding: 4px 0;
      width: 100px;
      border:  none;
      display: block;
      bottom: 0;
      right: 0;
      margin-top: 1.5em;
      @include orange-button;
    }
    a {
      text-decoration: underline;
    }
    address {
      font-style: normal;
    }
  }
}

#block-block-3 {
  clear:both;
  width: 800px;
  margin: 0 auto;
  .content {
    color: #fff;
    font-family: $headingmedium;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.8;
  }


  .footer-link {
      color: white;
      text-decoration: none;
      }
  .footer-link:hover { color: white; }
  .footer-link:active { color: white; }
  .footer-link:visited { color: white; }
}

.nl-subscription-form {
  .form-description {
    line-height: 0;
    margin-top: -5px;
    padding-bottom: 8px;
  }
  .email {
    float: left;
    margin-right: 10px;
    width: 220px;
    &.error {
      border-width: 1px;
    }
  }
  .form-submit {
    &:hover {
      border: none;
    }
  }
  .error-area {
    color: #FF0000;
  }
}

  div.footer-new-container {
    h4 {
      font-size: 14px;
      line-height: 16px;
    }
  }
