#free-form-container {
  overflow: auto; //clears floats
  width: 100%; // trigger "hasLayout" in Explorer Windows

  /* modular font family classes */
  .scala { font-family: WFM-SketchScalaSansBold; }
  .funky { font-family: 'WholeFunkyRegular'; }
  .messy { font-family: 'WholeMessyRegular'; }
  .cartoon { font-family: 'WFMSketchCartonBold'; }
  .shady { font-family: 'WholeShadyRegular'; }
  .sketch { font-family: 'WholeSketchyRegular'; }
  .skinny { font-family: 'WholeSkinnyRegular'; }
  .stripey { font-family: 'WholeStripeyRegular'; }
  .wirey { font-family: 'WholeWiryRegular'; }
  .grace { font-family: 'GracesHandRegular'; }
  .serifabold { font-family: 'Serifa Bold'; }
  .serifamedium { font-family: 'Serifa Medium'; }
  .boring { font-family: $bodyfont; }


  /* modular font size */

  .extrasmall { @include font-and-line(6px, 10px); }
  .smallish { @include font-and-line(12px, 18px); }
  .readable { @include font-and-line(18px, 28px); }
  .gettingbig { @include font-and-line(24px, 32px); }
  .bigger { @include font-and-line(36px, 40px); }
  .big { @include font-and-line(48px, 54px); }
  .grand { @include font-and-line(60px, 64px); }
  .huge { @include font-and-line(72px, 72px); }
  .mondo { @include font-and-line(96px, 96px); }
  .impressive { @include font-and-line(112px, 112px); }
  .wow { @include font-and-line(136px, 136px); }

  /* modular font colors */

  .orange { color:$orange-color; }
  .bluegreen { color: $blue-green; }
  .purple { color:$purple-color; }
  .maroon { color:$maroon-color; }
  .yellowgreen { color: $yellow-green; }
  .red { color: $red-color; }
  .darkgray { color: $dkgray-color; }
  .tan { color: #dac69b; }
  .white { color: #fff; }
  .honey { color: $honey; }

  /* some utilities */
  .border { border: 1px solid #ccc; }
  .thickborder { border: 3px solid #333; }

  h2 { font-family: $headingbold; font-size: 96px; color: #dac69b; margin:0; padding:0; font-weight:normal;}
  h3 { font-family: 'GracesHandRegular'; font-size: 72px; color: #dac69b; margin:0; padding:0; }
  p { font-family: $bodyfont; color: #dac69b; margin:0; padding:0; }

  div.free-form-content {
    position:relative;
    overflow: visible; //default, but making sure overflow:auto isn't applied
    width: 100%; // trigger "hasLayout" in Explorer Windows
    margin-bottom: 50px;
    img {
      max-width:100%;
      height: auto;
    }
    a {
      text-decoration:none;
    }
    a.learnMore {
      margin-top: 12px;
      display: inline-block;
      width: 125px;
      height: 23px;
      padding: 8px 0 0;
      background: url('/sites/all/themes/wholefoods/images/free-form-button.png') repeat-x;
      color: white;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}