/*--------------------------
  font variables
--------------------------*/
@font-face {
    font-family: 'WFMSketchCartonBold';
    src: url('../fonts/sketchscalasans-webfont.eot');
    src: url('../fonts/sketchscalasans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sketchscalasans-webfont.woff') format('woff'),
         url('../fonts/sketchscalasans-webfont.ttf') format('truetype'),
         url('../fonts/sketchscalasans-webfont.svg#WFM-SketchScalaSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WFM-SketchScalaSansBold';
    src: url('../fonts/sketchscalasans-webfont.eot');
    src: url('../fonts/sketchscalasans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sketchscalasans-webfont.woff') format('woff'),
         url('../fonts/sketchscalasans-webfont.ttf') format('truetype'),
         url('../fonts/sketchscalasans-webfont.svg#WFM-SketchScalaSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WholeFunkyRegular';
    src: url('../fonts/wholefunky-webfont.eot');
    src: url('../fonts/wholefunky-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wholefunky-webfont.woff') format('woff'),
         url('../fonts/wholefunky-webfont.ttf') format('truetype'),
         url('../fonts/wholefunky-webfont.svg#WholeFunkyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WholeMessyRegular';
    src: url('../fonts/wholemessy-webfont.eot');
    src: url('../fonts/wholemessy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wholemessy-webfont.woff') format('woff'),
         url('../fonts/wholemessy-webfont.ttf') format('truetype'),
         url('../fonts/wholemessy-webfont.svg#WholeMessyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WholeShadyRegular';
    src: url('../fonts/wholeshady-webfont.eot');
    src: url('../fonts/wholeshady-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wholeshady-webfont.woff') format('woff'),
         url('../fonts/wholeshady-webfont.ttf') format('truetype'),
         url('../fonts/wholeshady-webfont.svg#WholeShadyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WholeSketchyRegular';
    src: url('../fonts/wholesketchy-webfont.eot');
    src: url('../fonts/wholesketchy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wholesketchy-webfont.woff') format('woff'),
         url('../fonts/wholesketchy-webfont.ttf') format('truetype'),
         url('../fonts/wholesketchy-webfont.svg#WholeSketchyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WholeSkinnyRegular';
    src: url('../fonts/wholeskinny-webfont.eot');
    src: url('../fonts/wholeskinny-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wholeskinny-webfont.woff') format('woff'),
         url('../fonts/wholeskinny-webfont.ttf') format('truetype'),
         url('../fonts/wholeskinny-webfont.svg#WholeSkinnyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WholeStripeyRegular';
    src: url('../fonts/wholestripey-webfont.eot');
    src: url('../fonts/wholestripey-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wholestripey-webfont.woff') format('woff'),
         url('../fonts/wholestripey-webfont.ttf') format('truetype'),
         url('../fonts/wholestripey-webfont.svg#WholeStripeyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WholeWiryRegular';
    src: url('../fonts/wholewiry-webfont.eot');
    src: url('../fonts/wholewiry-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wholewiry-webfont.woff') format('woff'),
         url('../fonts/wholewiry-webfont.ttf') format('truetype'),
         url('../fonts/wholewiry-webfont.svg#WholeWiryRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GracesHandRegular';
    src: url('../fonts/gracehanreg-webfont.eot');
    src: url('../fonts/gracehanreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gracehanreg-webfont.woff') format('woff'),
         url('../fonts/gracehanreg-webfont.ttf') format('truetype'),
         url('../fonts/gracehanreg-webfont.svg#GracesHandRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Serifa Medium';
    src: url('../fonts/serifa-medium.eot');
    src: url('../fonts/serifa-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/serifa-medium.woff') format('woff'),
         url('../fonts/serifa-medium.ttf') format('truetype'),
         url('../fonts/serifa-medium.svg#GracesHandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Serifa Bold';
    src: url('../fonts/serifa-bold.eot');
    src: url('../fonts/serifa-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/serifa-bold.woff') format('woff'),
         url('../fonts/serifa-bold.ttf') format('truetype'),
         url('../fonts/serifa-bold.svg#GracesHandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family:"LeagueGothic";
  src:url("../fonts/League_Gothic.eot?") format("eot"),
      url('../fonts/League_Gothic.eot?#iefix') format('embedded-opentype'),
      url("../fonts/League_Gothic.woff") format("woff"),
      url("../fonts/League_Gothic.ttf") format("truetype"),
      url("../fonts/League_Gothic.otf") format("opentype"),
      url("../fonts/League_Gothic.svg#LeagueGothic") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'MuseoSlab';
  src:url('../fonts/MuseoSlab-700.eot');
  src:url('../fonts/MuseoSlab-700.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSlab-700.woff') format('woff'),
      url('../fonts/MuseoSlab-700.ttf') format('truetype'),
      url('../fonts/MuseoSlab-700.otf') format('opentype');
  font-weight:normal;
  font-style:normal;
}

$bodyfont: 'Lucida Sans', 'Lucida Grande', sans-serif;
$headingmedium: 'MuseoSlab', $bodyfont;
$headingbold: 'LeagueGothic', $bodyfont;

/*---------------------------------
    font styles for wysiwyg editor
----------------------------------*/
.header1 {
  font-family: $headingbold;
}

.cursivefont {
  font-family: 'GracesHandRegular';
}


/*--------------------------
  color variables
--------------------------*/
$orange-color: #d56325;
$orange-darker: darken($orange-color, 10%);
$blue-green: #006e53;
$gray-text: #444;
$purple-color: #6b0137;
$maroon-color: #4a1715;
$yellow-green: #939d42;
$red-color: #d6243e;
$dkgray-color: #222222;
$honey: #FFC310;
$disabled: #cccccc;
$yellow: #fffeb5;
$eggplant: #590032;
$grass: #57922c;
$slate: #232e37;
$orange-red: #cc3300;

// Colors for reskinning in 12-2015
$apple: #84c22d;
$kale: #006f46;
$snap-pea: #319f52;
$chard: #004e36;
$sprig: #77cab8;
$oyster: #c4c2b2;
$creme-fraiche: #f8f6ea;

$heading-shadow: #000 0px 0px 8px;

@mixin animate($time) {
  animation-timing-function:ease-in-out;
  -webkit-animation-timing-function:ease-in-out;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
  -webkit-transition: $time;
  transition: $time;
  -webkit-transition-property: color, background-color, opacity;
  -moz-transition-property: color, background-color, opacity;
  -o-transition-property: color, background-color, opacity;
  -ms-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity;
}

@mixin orange-button {
  @include inline-block;
  @include animate(.4s);
  @include font-and-line(20px, 20px);
  color: #fff;
  font-size: 20px; 
  line-height: 20px; 
  margin-bottom: 0; 
  padding: 7px 10px 5px; 
  text-transform: uppercase; 
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased; 
  
  font-family: $headingbold;
  background: $orange-color;
  border-top: 0 none;
  border-left: 0 none;
  border-bottom: 2px solid $orange-darker;
  border-right: 2px solid $orange-darker;
  text-decoration: none;
  height: auto;
  cursor: pointer;
  &:hover {
    background: darken($orange-color, 10%);
    border-bottom: 2px solid darken($orange-darker, 10%);
    border-right: 2px solid darken($orange-darker, 10%);
    color: #fff;
  }
  &.disabled {
    background: $disabled;
    border-bottom: 2px solid darken($disabled, 10%);
    border-right: 2px solid darken($disabled, 10%);
    &:hover {
      cursor: default;
    }
  }
}

@mixin nav-box-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(25, 25, 25, 0.75);
  -moz-box-shadow:    0px 0px 30px rgba(25, 25, 25, 0.75);
  box-shadow:         0px 0px 30px rgba(25, 25, 25, 0.75);
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin opacity-fix { //Fix rendering error with animated opacity.
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@mixin center-x-y {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@mixin search-submit($width: 24px, $height: 20px) {
  width: $width;
  height: $height;
  padding: 0;
  background-color: $orange-color;
  background: image-url('ui-sprite.png') 0 -86px no-repeat;
  text-indent: -10000px;
}

@mixin body-copy-link {
  @include animate(.4s);
  color: $orange-color;
  text-decoration: underline;
  &:hover {
    color: $orange-darker;
  }
}

@mixin font-and-line($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);

  @if $type == string {
    @if $min == xs {
      @media (max-width: 767px) { @content; }
    }
    @else if $min == sm {
      @media (min-width: 768px) { @content; }
    }
    @else if $min == md {
      @media (min-width: 1000px) { @content; }
    }
    @else if $min == lg {
      @media (min-width: 1220px) { @content; }
    }
    // Otherwise pass a warning to the compiler as to the appropriate options
    @else {
      @warn "The breakpoint mixin supports the following attributes: xs, sm, md, lg";
    }
  }

  @else if $type == number {
    $query: "all" !default;

    @if $min != 0 and $max != 0 {
      $query: "(min-width: #{$min}) and (max-width: #{$max})";
    }
    @else if $min != 0 and $max == 0 {
      $query: "(min-width: #{$min})";
    }
    @else if $min == 0 and $max != 0 {
      $query: "(max-width: #{$max})";
    }
    @media #{$query} {
      @content;
    }
  }
}

@mixin disabled-select {
  border-color: $disabled;
  background: image-url('select-arrow-disabled.png') no-repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-position: right center;
}

/*--------------------------
  global styles
--------------------------*/

html { height: 100%; }

img {
  max-width: 100%;
}

.view-store-map.view-id-store_map.view-display-id-map {
  img {
    max-width: inherit;
  }
}

.ratings-box {
  @include inline-block;
  width: 100px;
  height: 12px;
  position: relative;
  background: #ccc;
  margin-left: 10px;
  .overlay {
    display: block;
    z-index: 10;
    position: relative;
    background: image-url('pluck-star-output-overlay.png') top left no-repeat;
    width: 100px;
    height: 12px;
  }
  .underlay {
    @include inline-block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 12px;
    background: #e89532;
    text-indent: -9999px;
  }
}

/*------------------------
  Targets for @extend
--------------------------*/
.orange-button-cta {
  @include orange-button;
}
.body-copy-link {
  @include body-copy-link;
}
.hide {
  @include hide;
}
.greyborder {
  border: 1px solid #a2a2a2;
}

/*------------------------*/

body {
  @include font-and-line(13px, 21px); //Base body copy styles
  color: #222;
  &.cke_show_borders { //ckeditor edit box background
    background: #fff;
  }
}

#name-and-slogan, body.front #breadcrumb {
  display: none;
}

.page-user {
  .breadcrumb {
    display: none ;
  }
}

#breadcrumb.shown {
  display: block;
  font-size: 12px ;
  a {
    @extend .body-copy-link;
  }
}

#breadcrumb { display: none }

input[type="submit"] {
  @extend .orange-button-cta;
}
body.front #main-wrapper h1 { display: none; }
body.front #block-views-marquee-page-block { display: none; }
body.front h1, body.not-front h1 {
  @include font-and-line(75px, 96px);
  display: block;
  color: #fff;
  font-family: $headingbold;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  a {
    color: #fff;
    text-decoration: none;
  }
}

/*-------------------------------
  torn pod effect
-------------------------------*/
.torn-pod-header, .torn-pod-footer {
  //get rid of "torn edge" look
  display: none;
}

#sidebar-second {
  .torn-pod-content {
    padding: 0;
    .region {
      padding: 15px 25px 15px
    }
  }
}

.node-type-blog-post {
  #sidebar-second {
    .torn-pod-content {
      .region {
        padding: 0;
      }
    }
  }
}

.torn-pod-content, #views_infinite_scroll-ajax-loader {
  width: auto;
  padding: 15px 25px 15px;
  background: #fff;
  overflow: hidden;
  .field-label {
    display: none ;
  }
}

body {
  .views-field-title {
    a {
      @include font-and-line(32px, 36px);
      color: $blue-green;
      font-family: $headingbold;
      font-size: 32px;
      text-decoration: underline;
      &:hover {
        color: darken($blue-green, 5%);
      }
    }

  }

  h2 {
    @include font-and-line(50px, 64px);
    margin: 0 0 10px;
    padding: 0;
    color: $slate;
    font-family: $headingbold;
    text-transform: uppercase;
    font-weight: normal;
    p, a {
      @include font-and-line(32px, 40px);
    }
  }

  h3 {
    @include font-and-line(24px, 28px);
    margin: 0 0 10px 0;
    padding: 0;
    color: $grass;
    font-family: $headingmedium;
    font-weight: normal;
  }

  h4 {
    @include font-and-line(20px, 24px);
    margin-bottom: 10px;
    font-family: $headingmedium;
    color: $grass;
  }

  h5 {
    margin: 4px 0 ;
    padding: 0 ;
  }

  p {
    margin: 0 0 16px 0;
  }
   ul, ol {
    padding: 0 0 0 40px;
    li {
      font-size: 13px;
    }
   }

  .item-list ul {
    padding: 0;
  }

  a {
    @extend .body-copy-link;
    &:visited {
      @extend .body-copy-link;
    }
  }

    label {
        margin-bottom: 4px;
        color: #000;
        font-size: 12px;
        text-transform: uppercase;
    }

    select {
        min-width: 280px;//form-item-field-video-playlists-tid
        padding: 2px 3px;
        background: image-url('select-arrow.jpg') no-repeat;
        background-position: right center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-appearance: none;
        border-color: $orange-color;
        font-size: 12px;
        height: 24px;
        &:focus {
          outline-color: $orange-color;
        }
        &.disabled {
          @include disabled-select;
        }
        &:disabled {
          @include disabled-select;
        }
      }

    input[type="text"], input[type="email"], input[type="password"], textarea {
        padding: 4px 4px;
        background: #fff;
        border: 1px solid #9c9d9d;
        color: #333;
        font-size: 12px;
    }

    textarea {
        resize: none ;
    }

    ul.options {
      padding: 8px 0;
      border-top: 1px solid #b5b5b6;
      border-bottom: 1px solid #b5b5b6;
      overflow: hidden;

      li {
        float: left;
        margin: 0 28px 0 0;
        padding: 0;
        list-style: none;
      }

      &:last-child {
        margin-right: 0px;
      }

       a { display: inline; margin: 0; padding: 0; color: #ec7a37; font-size: 14px; text-decoration: none; }
            .add-to-shopping-list, .iframe { background: url('../images/icon-list.png') no-repeat; margin-right: 0px; padding-left: 22px ; }
            .print { background: image-url('icon-print.png') no-repeat; margin-right: 0px; padding-left: 22px;}
            .email { background: image-url('account/email-icon.jpg') 0px 4px no-repeat; padding-left: 22px;}
    }

}
.torn-pod-content .view-content .views-field .field-content {
  font-size: 13px;
}
.view-global-frontpage-promo-views .view-header .header1 {
  font-size: 36px;
}
//Firefox-specific styling for selects
@-moz-document url-prefix() {
  body select {
    background: rgba(255, 255, 255, 0.8);
    &.disabled {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

#node-17 h2  {
  margin-bottom: 10px;
  a {
    color: $maroon-color;
    font-family: $headingbold;
  }
}

.node {
  .field-name-body, .webform-client-form {
    padding: 0 20px;
  }
}

.social {
  .torn-pod-content {
/*    padding-bottom: 35px ; */
  }
}

.not-logged-in {
    .social {
      .torn-pod-content {
        padding-bottom: 62px ;
    }
  }
}

input[type="file"] {
  font-size: 80% ;
}

/*-------------------------------
            misc
-------------------------------*/
.strong {font-weight: bold;}
.fs9 {font-size: 9px;}
.fs12 {font-size: 12px;}
.fs16 {font-size: 16px;}

/*---------------------------------
    to make footer stay at bottom
-----------------------------------*/
.push { display: block; height: 240px; }

.front .push { display: block; height: 160px; }


.webform-confirmation {
  padding: 20px;
}

.addthis_button_compact.at300m {
  width: 57px;
}

.torn-pod-content {
  .torn-pod-footer { display: none; }
  .torn-pod-top { display: none; }
  .torn-pod-header { display: none }
}

/*---------------------------------
  Update for iframe width on gift cards page
-----------------------------------*/
body.page-buy-gift-cards {
  div.torn-pod-content {
    padding: 15px 12px;
  }
}

/*---------------------------------
  Display SIGN IN / SIGN OUT links
  when appropriate
-----------------------------------*/
body {
  &.logged-in {
    a#capture_signin_link {
      display: none;
    }
    a.capture_end_session {
      display: inline;
    }
  }
  &.not-logged-in {
    a#capture_signin_link {
      display: inline;
    }
    a.capture_end_session {
      display: none;
    }
  }
}

body {
  select.store-select, select.state-select {
      min-width: 360px;
  }
}

/**
 * Hide an annoying useless Pluck error message that popped up.
 */
#plckDebugErrorDiv {
  display: none;
}