.region-marquee {
  background: $snap-pea image-url('green-tablecloth-texture.gif') repeat;

  #block-views-marquee-scroller-block {
    padding-bottom: 62px;
    background: image-url('wfm-main-content-bg.jpg') bottom repeat-x;

    .marquee-nav {
      position: absolute;
      bottom: 40px;
      display: block;
      background: image-url('wfm-main-content-bg.jpg') bottom repeat-x;
      width: 100%;
      height: 28px;
      margin: 20px auto 0;
      overflow: hidden;
      text-align: center;
      z-index: 50;

        .prev1 {
          /*float: left;*/
          position: absolute;
          display: none;
          left: 35%;
          width: 16px;
          height: 28px;
          background: image-url('marquee-sprite.png') 0 -28px no-repeat;
          text-indent: -10000px;
          margin-left: -20px;
        }

        .next1 {
          /*float: right;*/
          position: absolute;
          display: none;
          right: 35%;
          width: 16px;
          height: 28px;
          background: image-url('marquee-sprite.png') 0 0 no-repeat;
          text-indent: -10000px;
          margin-right: -20px;
        }

        .pager-nav {
          margin: 4px;
          padding: 0;
          overflow: hidden;

          a {
            display: inline-block;
            margin: 0 4px;
            width: 17px ;
            height: 16px ;
            background: image-url('marquee-sprite.png') no-repeat;
            background-position: 0 -57px;
            text-indent: -10000px;
            cursor: pointer;

            &.active {
              background-position: 0 -73px;
            }
          }

        }

    }
    /*.views-field-field-marquee-url {
      position: absolute;
      top: 45%;
      left: 50%;
      color: #fff;
      z-index: 1000 ;


    }*/

    .item-list ul li {
      margin: 0;
    }

    .context-block-region {
      color: #fff ;
    }

    .marquee-container{


        /*.marquee-row {
          max-width: 100%;
          width: 1680px;
          height: auto;
          height: 748px;
          overflow: hidden;*/

          .marquee-content {
            display: block;
            position: absolute;
            width: 55%;
            //width: 935px;
            //height: 335px;
            height: 48%;
            margin: auto;
            top: 100px;
            left: 50%;
            margin-left: -27.5%;
            padding: 2% 0;
            z-index: 1;

//            &:hover {
//              background-color: rgba(#000000, 0.5);
//            }

            p {
              margin: 0 ;
              padding: 0 ;

              h1 {
                margin: 0 ;
                padding: 0 ;
                color: #fff;
                font-family: $headingbold;
                font-size: 500%;
                text-shadow: #000 0px 0px 2px;
                text-transform: uppercase;

                a {
                  background: none;
                  color: #fff;
                  font-size: inherit;
                  text-decoration: none;
                }
              }
            }

            h1 {
              @include font-and-line(103px, 103px);
              margin: 0 ;
              padding: 0 ;
              color: #fff;
              font-family: $headingbold;
              text-shadow: $heading-shadow;
              text-transform: uppercase ;
              opacity: 0.99;
              filter: alpha(opacity=99);
              strong {
                font-weight: normal;
              }
              @media screen and (min-width:471px) and (max-width: 767px) {
                @include font-and-line(64px, 64px)
              }
            }

            h2 {
              @include font-and-line(24px, 32px);
              margin: 0px;
              padding: 0 ;
              color: #fff ;
              font-family: $headingmedium;
              text-shadow: #000 0px 0px 10px;
              text-align: center;
              text-transform: uppercase;
              @media screen and (min-width:471px) and (max-width: 767px) {
                @include font-and-line(16px, 16px)
              }
            }
            .learn-more {
              position: absolute;
              width: 100%;
              bottom: 90px;
              //left: 45%;
              margin: 0px auto 0;
              text-align: center;
              a {
                @extend .orange-button-cta;
                @include font-and-line(22px, 26px);
                text-decoration: none;
              }
            }
          }
          img {
              top: 0px;
              display: block;
              max-width: 100%;
              min-height: 190px;
              z-index: 0;
            }

    }

  }

}
