/**********************************
 *  Modal Window
 **********************************/
#modal_message {
  margin-bottom: 10px;
}

div#modalContent {
  padding: 25px 10px 10px 10px;
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000') ; /* IE  - does not validate W3C compliant*/
  z-index: 1001 ;
  overflow: hidden;

  div.ctools-modal-content {
     background: none repeat scroll 0 0 #FFFFFF;
     color: #000000;
     border: 0px;
     margin: 5px;
     padding: 0;
     text-align: left;
     overflow: hidden;

    .modal-content {
        overflow: auto;
        padding: 1em;
    
        .messages{
          font-size: 13px;
        }

        .modal-throbber-wrapper img {
          margin-top: 100px;
        }
     }

    .modal-header {
      position: absolute;
      top: 15px;
      right: 15px;
      background: transparent;

      .modal-title {
        display: none;
      }

      .close {
        display: block;
        width: 12px;
        height: 12px;
        background: image-url('modal-close.png') no-repeat;
        text-indent: -10000px;
      }
    }
  }
}
