
.nav {
  position: fixed;
  left: -1px;
  top: 80px;
  z-index: 500;
  background: #fff;
  width: 205px;
  height: 598px;
  overflow: visible;
  border-top: 1px solid $apple;
  border-right: 1px solid $apple;
  border-bottom: 1px solid $apple;
  @include box-shadow(0px 0px 30px 5px rgba(10,10,10,0.2));

  a.home-link {
    display: block;
    width: 195px;
    height: 135px;
    overflow: hidden;
    text-indent: -9999px;
    margin: 10px 0 0 0;

    background: transparent image-url('txt-nav/monster_nav_sprites_2016.png') no-repeat;
    background-position: 0 0;
  }

  .main-links-container > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .undernav-nav-content & {
      padding: 0;
    }

    & > li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style-image: none;
      background-position: left bottom;
      position: relative;
      width: 190px;

      .undernav-nav-content & {
        padding: 0;
        background-image: none;
      }

      &.last {
        background-image: none;
      }

      a.primary-link {
        display: block;
        width: 205px;
        height: 56px;
        overflow: hidden;
        text-indent: -9999px;
        text-decoration: none;
        background: transparent image-url('txt-nav/monster_nav_sprites_2016.png') no-repeat;
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        -ms-transition-property: none;
        transition-property: none;
      }

      a.about-our-products {
        background-position: 0 -182px;
      }
      a.blogs {
        background-position: 0 -414px;
      }
      a.healthy-eating {
        background-position: 0 -124px;
        border-top: 0 none;
      }
      a.mission-values {
        background-position: 0 -356px;
      }
      a.online-ordering {
        background-position: 0 -298px;
      }
      a.recipes {
        background-position: 0 -240px;
      }
      a.store-departments {
        background-position: 0 -472px;
        border-bottom: 0 none;
      }
    }
  }
}


.nav .main-links-container.desktop > ul > li {
  .menu-drop-container {
    display: none;
    position: absolute;
    left: 205px;
    top: -40px;
    width: 810px;
    padding: 20px;
    background: rgba(0,0,0,0.15);

    ul {
      list-style: none;

      li {
        list-style-image: none;
        list-style-type: none;
      }
    }

    & > ul {
      padding: 10px;
      margin: 0;
      background: #fff;
      overflow: hidden;

      & > li {
        float: left;
        padding: 10px;
        width: 235px;
        min-height: 100px;

        &:nth-child(4n) {
          clear: left;
        }

        & > a {
          display: block;
          font-size: 16px;
          margin-bottom: 15px;
          text-decoration: none;
          border-bottom: solid 1px #000;
          color: #000;
        }

        a.two-cols + .sub-menu-drop-container ul {
          overflow: hidden;
          li {
            float: left;
            width: 50%;
          }
        }

        ul {
          padding: 0;
          margin: 0;

          li {
            padding: 0 0 2px 0;
            margin: 0;
            font-size: 12px;

            a {
              color: #ec7a37;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  &:hover {

    .menu-drop-container {
      display: block;
    }

    a.primary-link {
      position: relative;
      z-index: 10;
      background-color: #fff;
    }

    a.about-our-products {
      background-position: -215px -182px;
    }
    a.about-our-products + .menu-drop-container {
      top: -125px;
    }

    a.blogs {
      background-position: -215px -414px;
    }
    a.blogs + .menu-drop-container {
      width: 610px;
    }

    a.healthy-eating {
      background-position: -215px -124px;
    }

    a.mission-values {
      background-position: -215px -356px;
    }
    a.mission-values + .menu-drop-container {
      top: -405px;
    }

    a.online-ordering {
      background-position: -215px -298px;
    }
    a.online-ordering + .menu-drop-container {
      width: 610px;
    }

    a.recipes {
      background-position: -215px -240px;
    }
    a.recipes + .menu-drop-container {
      top: -223px;
    }

    a.store-departments {
      background-position: -215px -472px;
    }
    a.store-departments + .menu-drop-container {
      top: -210px;
      width: 610px;
    }
  }
}

.undernav-nav-content {
  a.home-link {
    margin-left: 15px;
  }
}

.undernav-nav-content .main-links-container > ul > li {
  a.primary-link {
    width:235px;
  }
  &:hover {

    a.primary-link {
      width: 235px;
      background-color: #fff;
    }


    a.about-our-products {background-position: -215px -182px;}
    a.blogs {background-position: -215px -414px;}
    a.healthy-eating {background-position: -215px -124px;}
    a.mission-values {background-position: -215px -356px;}
    a.online-ordering {background-position: -215px -298px;}
    a.recipes {background-position: -215px -240px;}
    a.store-departments {background-position: -215px -472px;}

  }

  .menu-drop-container {
    display: none;
    width: 195px;
    margin-left: 20px;

    ul {
      list-style: none;

      li {
        list-style-image: none;
        list-style-type: none;
      }
    }

    & > ul {
      padding: 20px;
      margin: 20px 0;
      background: #fff;
      overflow: hidden;

      & > li {
        padding: 0 0 10px 0;

        & > a {
          display: block;
          font-size: 16px;
          margin-bottom: 20px;
          text-decoration: none;
          border-bottom: solid 1px #000;
          color: #000;
        }

        a.two-cols + .sub-menu-drop-container ul {
          overflow: hidden;
          li {
            float: left;
            width: 50%;
          }
        }

        ul {
          padding: 0;
          margin: 0;
          min-height: 100px;

          li {
            padding: 0 0 5px 0;
            margin: 0;

            a {
              color: #ec7a37;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  a.undernav-link-open + .menu-drop-container {
    display: block;
  }
}


body.undernav-open {
  margin-left: 0px ;
}

body.content-manager {
  .undernav-nav-content .nav {
    top: 30px;
    a.home-link {
      margin: 32px 0 0 15px;
      width: auto;
    }
  }
  .nav {
    top: 110px;
  }
  &.toolbar-drawer {
    .nav {
      top: 145px;
    }
  }
}
