// Site-wide Pagination 

.item-list .pager {
  li {
    margin: 0;
    padding: 0;
  }

  .pager-previous, .pager-next{
    a {
      border: 1px solid $slate;
      color: $slate;
      display: inline-block;
      font-weight: bold;
      line-height: 26px;
      padding: 0 5px;
      text-decoration: none;
    }
  }

  .pager-previous, .first {
    margin: 0 10px 0;
  }

  .pager-inactive {
    border: 1px solid $slate;
    color: $slate;
    display: inline-block;
    font-weight: bold;
    line-height: 26px;
    opacity: 0.3;
    padding: 0 5px;
    text-decoration: none;
  }
  
  .pager-next, .last {
    margin: 0 0 0 10px;
  }

  .pager-first, .pager-item, .pager-last {
    a {
      border: 1px solid $slate;
      color: $slate;
      display: inline-block;
      font-weight: bold;
      line-height: 26px;
      text-decoration: none;
      min-width: 20px;
      padding: 0 3px;
      &:hover {
        border: 1px solid $orange-color;
      }
    }
  }

  .pager-current {
    background: none repeat scroll 0 0 $orange-color;
    color: #fff;
    display: inline-block;
    line-height: 16px;
    min-width: 16px;
    padding: 0.5em;
  }
}