/************************************************************************************
 Smaller than 750 ex. iPhone Landscape
 *************************************************************************************/
@media only screen and (max-width: 750px) {

  .view-display-id-homepage.view-promo-blocks, .view-display-id-homepage_local.view-promo-blocks {
    width: 100%;

    .views-row.col-width-one .views-col {
      float: none;
      margin: auto;

      &.views-row-last {
        margin: auto;
      }
    }

    .views-row.col-width-three .views-col {
      margin: auto;
      width: 306px;
    }
  }

  .region-marquee #block-views-marquee-scroller-block .marquee-container .marquee-content {
    top: 5px;
    width: 90%;
    height: 86%;
    margin-left: -45%;

    .learn-more {
      bottom: 70px;
    }

    .marquee-nav {
      bottom: 10px;
    }
  }
  .recipeSpotlight {
    width: 306px ;
  }
  .Comments_Container iframe#commentsiframe {
    height: 210px ;
  }

  #block-views-recipe-header-recipe-header {
    .views-field-php-1 {
      .social-links {
        width:100%;
        float:none;
        margin:10px 0 0;
        div {
          width:90px;
          float:left;
          margin-right:5px;
        }
      }
    }
    .views-field-body {
      margin-left:0;
      width:100%;
    }
    .views-field-php {
      float:none;
      margin:10px 0 15px ;
      padding:0 ;
      width:100%;
    }
  }

}
