#pins {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    //position: relative;
    li {
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
      width:25%;
      float:left;
      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
        width:33%;
      }
      @media screen and (max-width: 480px) {
        width:50%;
      }
      .pin-wrap {
        margin: 0 10px;
        background: #fff;
        padding: 0 0 10px 0;
      }
      img {
        margin: 0 auto 10px auto;
        display: block;
        height: auto;
      }
      p {
        padding: 0 10px 10px 10px;
      }
      .description {
        word-wrap:break-word;
      }
      a {
        color: $orange-color;
        text-decoration: none;
      }
    }
  }
  .button-wrap {
    width: 40px;
    height: 20px;
    margin: 0 auto;
  }
}

.see-us-on-pinterest {
  width: 180px;
  height: 30px;
  margin: 0 auto 2em auto;
}

body.pinterest.page-node.node-type-page {
  #breadcrumb {
    display: none;
  }
  .torn-pod-content {
    background: transparent;
  }
  .torn-pod-header {
    display: none;
  }
  .torn-pod-footer {
    display: none;
  }
  #content .section > .torn-pod-content .contentbox #block-views-generic-page-items-block-2,
  #content .section > .torn-pod-content .contentbox .block-views {
    padding: 0;
  }
}