/* Product Lines Styles */

#body.page-node-822 .region-content {}

.view-product-lines-header-block {
  .views-field-field-logo {
    width:297px;
    float:left;
    margin: 0 15px 15px 0;
  }
  .view-footer {
    clear: both;
    padding-top: 20px;
  }
}

#block-views-product-lines-prodline {
  width: 880px;
  margin: 10px auto 15px;
  padding: 0 20px 10px ;
  text-align: center;
  border-bottom: 1px solid #999;
  padding: 20px 0 25px;
  table {
    width: 100%;
    td {
      border-right: 1px #999 solid;
      &:last-child {
       border-right: none;
      }
    }
  }
  .prodline-logo {
    clear: both;
    padding: 0 0 15px;
    img {}
  }
  .prodline-title {
    width: 145px;
    margin: 0 auto;
    a {
      color: #EC7A37;
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
#block-views-ea63982c2cba834a786f0becb1af741c {
  margin: 0;
  text-align: center;
  padding: 0 0 25px;
  h2 {text-align: left;}
  table {
    width: 100%;
    td {
      border-right: 1px #999 solid;
      &:last-child {
        border-right: none;
      }
    }
  }
  .prodline-feat-img {
    padding: 0 0 10px;
    img {}
  }
  .prodline-feat-title {
    width: 240px;
    margin: 0 auto;
    a {
      color: #333;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.view-id-product_header.view-display-id-product_header {
    .views-field-field-image { border: 1px solid #adadad; }
    .views-field-title {
        height: auto;

        span h1 {
          color: $blue-green;
          font-family: $headingbold;
          font-size: 32px;
          text-align: left;
          text-transform: uppercase;
          opacity: 0.99;
          filter: alpha(opacity=99);
          line-height: 31px;
        }
    }
    .addthis_toolbox{
      float: right;
      height: 50px;
      margin: -19px 0 0;
      padding: 0;
    }
    .views-field-php {

      ul {
        @include clearfix;
        float: left;
        margin: 0;
        padding: 5px 0 5px;
        border-bottom: 1px solid #b5b7b8;
        min-width: 477px;

        li {
          float: left;
          margin: 0 8px 0px;
          padding: 0;
          background-image: none;
          list-style: none;

          /*&:nth-child(2n+1) {
            clear: left;
          }*/

          &:last-child {
            margin-right: 0px;
          }

          a {
            display: inline;
            margin: 0;
            padding: 0;
            color: #ec7a37;
            font-size: 14px;
            text-decoration: none;
          }
          .add-to-shopping-list, .iframe {
            background: image-url('ui-sprite.png') -24px -86px no-repeat;
            margin-right: 0px;
            padding-left: 22px ;
          }
          .print {
            background: image-url('ui-sprite.png') 0 -48px no-repeat;
            margin-right: 0px;
            padding-left: 22px;
          }
          .email {
            background: image-url('ui-sprite.png') -24px -14px no-repeat;
            padding-left: 22px;
          }
        }
      }
    }
}

.node-product {
  .group_left {
    .field-name-body {
      padding: 0px;
      .field-label {
        margin-bottom: 10px;
        font-family: $headingbold;
        font-size: 32px;
        font-weight: normal ;
        text-transform: uppercase ;
        opacity: 0.99 ;
        filter: alpha(opacity=99);
      }
    }


    .field-name-field-ingredients, .field-name-field-allergen-info {
      .field-label {
        font-family: $bodyfont;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  .node-product-certification {
    width: 140px;
    h2 {
      color: $gray-text;
      font-family: $bodyfont;
      font-size: 20px ;
      font-weight: normal;
    }
  }
}

.views-field-field-product-size, .views-field-nothing {
  font-size: 12px;
}

#block-views-product-related-recipes-block {
  //width: 420px;
  margin-top: 20px;
  padding: 20px 20px 0 ;
  border-top: 1px solid  $gray-text;

  h2 {
    margin: 0 0 10px;
    color: $gray-text;
    font-family: $bodyfont;
    font-size: 22px ;
    font-weight: normal;
    text-transform: uppercase;
  }
  .view-product-related-recipes {
    .views-row {
      float: left;
      width: 162px;
      margin: 0 20px 20px 0;

      &:nth-child(even){
        margin-right: 0px;
      }

      div.field-content {
        img {
          width: 162px;
          height: 106px;
          border: 1px solid #9a947e;
        }
      }
      a {
        color: #000;
        font-size: 14px;
        font-family: $bodyfont;
      }
    }
  }
}

.node-type-product {
  .column {
    .node-product {
      .group_left {
        width: 570px ;
        padding: 20px;
      }
      .group-right {
        .certifications_title {
          display:block;
          font-size:20px;
        }
        ul.certifications {
          list-style-type:none;
          margin: 0 0 1em 0;
          padding: 0;
          li.certification {
            font-size:13px;
          }
        }
      }
    }
    #block-views-product-related-recipes-block {
      width: 910px ;

      .views-row {
        width: 280px ;
        .views-field-field-hero-image {
          img {
            width: 278px ;
            height: 165px ;
          }
        }
      }
      .views-row:nth-child(even) {
        margin-right: 20px ;
      }
    }
  }
  .column.with-sidebar {
    .node-product {
      .group_left {
        width: 401px ;
      }
    }
    #block-views-product-related-recipes-block {
      width: 420px ;

      .views-row {
        width: 162px ;
        views-field-field-hero-image {
          img {
            width: 162px ;
            height: 106px ;
          }
        }
      }
      .views-row:nth-child(even) {
        margin-right: 0px ;
      }
    }
  }
}

#block-healthy-eating-recipe-comments, #block-products-product-comments {
  h3 {
    color: $blue-green;
    font-family: $headingbold;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 0.99 ;
        filter: alpha(opacity=99);
  }

  .Sitelife_PluckLogo {
    display: none;
  }

  .Comments_Submit {
    input[type="submit"]{
      background: $orange-color ;
      border: 0px ;
      color: #fff ;
    }
  }

}

body.node-type-product-line {
  div.product {
    width:140px;
    height:200px;
    float:left;
    margin: 0 15px 15px 0;
    text-align:center;

    img {
      display:block;
      margin: 10px auto;
      padding: 5px;
      border: 1px solid #cccccc;
    }
  }
  .contentbox {
    //padding: 20px;
    .view-display-id-block {
      margin-top: 20px ;
    }
  }
  .view-product-lines-right-rail {
    img {
      float:left;
      margin: 0 10px 10px 0;
    }
    p {
      margin: 0 0 0 110px ;
    }
  }
}

h2.products_list_header {
  margin-top: 20px;
}

div.view-display-id-products_by_argument {
  overflow:auto;
  div.view-content { overflow:hidden; }
  div.views-row {
    width:140px;
    height:160px;
    float:left;
    margin: 0 15px 15px 0;
    text-align:center;

    img {
      display:block;
      margin: 10px auto;
      padding: 5px;
      border: 1px solid #cccccc;
    }
  }
}

#body .view-product-recalls-list-block {
   .views-field-title a {
    font-family: $bodyfont;
    font-size: 16px ;
    color:$orange-color;
  }
  .views-field-field-recall-date p span {
    font-size:22px;
    color:$gray-text;
    font-family: $bodyfont;
  }
  .views-field-body div.target {
    background:#ffffff;
    padding:20px;
    border:1px solid #cccccc;
    margin: 0 0 20px 0;
    .rtable {
      margin-bottom:1.4em;
      th {
        padding:0.4em;
        border:1px solid #777;
      }
      td {
                                padding:0.4em;
                                border:1px solid #777;
      }
    }
  }
}

.node-product.node-teaser {
  .field-name-field-image {
    display: inline-block;
    float: left;
    margin-right: 25px;
  }
  .content { margin-bottom: 20px; /*padding-left: 25px */}
}

.view-product-category-header {
  .views-row {
    margin: 0px 0 -18px;
    padding: 0 ;
    color: white ;
    font-family: 'GracesHandRegular';
    font-size: 88px;
    font-weight: normal;
    text-shadow: black 0px 0px 2px;
    text-align: center;
  }
}

#webform-client-form-7477 #webform-component-product-upc {
  /*padding-top: 100px;*/
  background: url('../images/barcode.png') no-repeat right top;
  height: 80px;
  position: relative;
  width: 332px;
  label {
    display: none;
  }
  .description {
    width: 175px;
  }
  .field-prefix {
    display: none;
  }
  .form-text {
    left: 265px;
    position: absolute;
    top: 42px;
  }
}

.search_result_row .search_result_item .search_result_product { //why so many selectors? to over-ride some BS.
  padding:20px;
  .title {
    text-align: center;
    line-height: 18px;
    padding-top: 5px;
  }
  img {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
  }
  p {
    text-align: center;
  }
}
