body ul.quicktabs-tabs {
  margin: 40px 0 20px 0;
  border-bottom: 1px solid #9b9b9b;
  height: 40px;
  padding: 0 0 0 20px;
  //@include clearfix;
  //overflow: auto;
  a {
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    &:visited {
      color: #fff;
    }
  }
  li {
    @include inline-block;
    margin: -5px 0 0 .5em;
    a {
      @extend .orange-button-cta;
      border: 0 none;
      padding: 8px 40px;
      font-family: $bodyfont;
      font-size: 13px;
      &:hover {
        border: 0 none;
      }
      -webkit-transition-property: none;
      -moz-transition-property: none;
      -o-transition-property: none;
      -ms-transition-property: none;
      transition-property: none;
    }
    &.first {
      margin-left: 0;
    }
  }
  li.active {
    border-top: 1px solid #9b9b9b;
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    border-bottom: 4px solid #fff;
    padding: 15px 40px 5px 40px;
    background-color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    a {
      padding: 0;
      background-color: #fff;
      color: $slate;
      border: 0 none;
      vertical-align: baseline;
      @include breakpoint(md) {
        position: relative;
        top: -2px;
      }
    }
  }
}