
#block-healthy-eating-recipe-individual-page-header {
  .torn-pod-content {
    overflow:visible;
    &.outer {
      padding:15px 25px 30px;
    }
  }
  .views-field-field-serves {
    .views-label {
      display: inline-block; font-weight: bold
    }
    .field-content { display: inline-block; margin-bottom: 10px; }
  }
  .views-field.photos {
    width: 427px;
    overflow: hidden;
    clear: left;
    ul.ad-thumb-list {
      padding-left: 0px;
      list-style: none;
      li { display: inline-block }
    }
    .upload-photo-form {
      display: none;
    }
    a.upload-photo {
      @extend .orange-button-cta;
      float: right;
    }
    a.view-photos {
      color: #757677;
      font-size: 11px;
      text-transform: uppercase;
      position: relative;
      top: 4px;
    }
  }

  .recipe-image {
    float: left;
    clear:right;
    max-width: 100%;
    width: 425px;
    border: 1px solid #b7b8b9;
    margin-right: 20px;
    text-align:center;
    background-color: #fff;
    img {
      padding: 0;
      height: auto ;
    }
  }

  h2 {
    @include font-and-line(30px, 36px);
    margin: 0;
    padding: 0;
    color: $eggplant;
    font-family: $headingmedium;
  }
  h1 {
    margin: 0;
    padding: 0;
    color: #4a1715 ;
    font-family: $headingbold;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: left;
  }

  .views-field-body {
    width: 464px;
    margin-left: 447px;
  }

  .views-field-field-serve-count {
    width: 460px;
    margin: 0 0 10px;
    padding: 0;
    font-family: $bodyfont;
    font-size: 14px;
    overflow: hidden;

    .views-label-field-serve-count {
      float: left;
      margin-right: 5px;
    }
  }

  .views-field.user-ratings,
  .views-field.share-links {
    float: left;
    width: 460px;
    margin: 0 0 10px;
    padding: 0;
    padding-bottom: 5px;
/*    .addthis_toolbox { float: right; margin-bottom: 5px; }*/
    border-bottom: 1px solid #b5b7b7;
    .social-links {
/*      float:right;
      margin:10px 10px 0 0;*/
      div {
        width:90px;
        float:left;
        margin-right:5px;
      }
    }
  }
  .recipe-featured-in-8481 {
    float: right;
    height: 100px;
    width: 100px;
    background: image-url('HSH-circle-logo.png');
    margin: 0 -9px 5px 0;
  }

    .views-field.recipe-links {
      float: right;
      width: 445px;
      margin-right: 13px;
      ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 400px;

        li {
          margin: 0 0 5px;
          padding: 0;
          background-image: none;
          list-style: none;

          a { @extend .body-copy-link; }
            .add-to-shopping-list, iframe, .shopping-list-login { width: 260px; background: url('../images/icon-list.png') no-repeat; margin-right: 20px; padding-left: 22px; }
            .view-saved-recipes { float: left; background: image-url('saved-recipes-icon.png') no-repeat; margin-right: 20px; padding-left: 22px; }
            .print { float: right; background: image-url('icon-print2.png') no-repeat; margin: 0 5px; padding-left: 22px; }
            .email { float: right; clear: right; background: url('../images/icon-email2.png') no-repeat; padding-left: 22px; }
        }
        .user_recipe_links { float: left; width: 260px; }
      }
    }
    .upload-photo-form {
      margin: 10px 0 0;
      h2 {
        font-size: 30px ;
      }
      ul {
        margin: 0;
        li {
          padding-bottom: 8px;
          font-size: 13px;
        }
      }
    }
    .upload-photo-div {
      float: left;
      width: 426px;
      overflow: hidden;
      a {
        float: right;
        padding: 2px 6px;
        background: $orange-color ;
        color: #fff ;
      }
    }
    .aggregateRating {
      display:none;
    }
}

.node-recipe.node-teaser img {
  display: none;
}

.node-recipe {
  .field-label {
    display: block ;
  }
  padding: 20px;

  .field-group-div.group-left {
    width: 100%;
    max-width: 600px;

    .field-label {
      @include font-and-line(30px, 36px);
      padding: 0;
      color: $eggplant;
      font-family: $headingmedium;
    }

    .ingredient_ul {
      margin: 0 0 15px;
      padding: 0;

      li {
        margin: 0 0 4px;
        padding: 0;
        font-size: 13px;
        list-style: none;
        overflow: hidden;
      }
    }
    .step_description {
      font-size: 13px;
      line-height: 20px;
    }
  }
  .field-group-div.group-right {
    max-width: 600px;
    .field-label {
      @include font-and-line(24px, 30px);
      color: $eggplant;
      font-family: $headingmedium;
    }
    h4 {
      font-size: 14px;
    }
    .nutritional-info {
      margin: 0 0 20px;
      padding: 0;

      li {
        margin: 0 0 4px;
        padding: 0;
        color: #000;
        font-size: 13px;
        list-style: none;
      }
    }
    ul.recipe_special_diets {
      list-style-type:none;
      padding:0;
      li.recipe_special_diet_item {

      }
    }
    p.disclaimer {
      font-size:80% ;
      line-height: 12px;
      a {
        font-size:100% ;
      }
    }
  }
  .field-name-field-recipe-directions, .field-name-field-nutritional-info {
    margin: 0 0 20px 0;
  }
}

/*--------------
    quicktabs
--------------*/

#block-quicktabs-recipes {
  @include clearfix;
  h2 {
    display: none;
  }
}

#quicktabs-recipes {
  padding-top: 20px;
  .view-id-recipes {
    @include clearfix;
    margin: 0 0 0 1.5em;
    .views-row {
      margin-right: 40px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      max-width: 200px;
      float:left;
      margin-right: 7.5%;
      min-height: 260px;
      @include breakpoint(md) {
        max-width: 260px;
      }
      .views-field-title {
        a {
          @extend .body-copy-link;
          @include font-and-line(13px, 21px);
          font-family: $bodyfont;
        }
      }
      .ratings-box {
        margin-left: 0;
      }
    }
  }
} //#quicktabs-recipes


#content #block-views-generic-page-items-block-2 .view-display-id-by_argument{
  overflow:auto;
  .views-row {
    float: left;
    width: 260px;
    padding: 20px 19px;
    height: 350px;
    overflow:hidden;

    .views-field-field-hero-image {
      width: 260px;
      height: 160px;
      border:1px solid #555;
    }

    .field-content {
      margin: 0;
      padding: 0;
    }
    .views-field-title{
      padding: 15px 0 10px 0;
      text-transform: uppercase;
      a {
        color: $orange-color;
        font-family: $bodyfont;
        font-size:15px;
      }
    }
  }
}

.quicktabs-tabpage {
  .views-field-field-special-diet {
    a {
      font-size: 11px;
      font-weight: bold;
    }
  }
}

//global override
.page-node-41 {
  .view-promo-blocks {
    #breadcrumb {
      display: none;
    }
  }

  #content {
    .torn-pod-content {
       padding:15px 0 0 0;
       #breadcrumb {display:none;}
    }
  }


  #block-views-related-content-block {
    .content {
      padding-left: 20px;
      .views-row {
        width: 268px;
        padding-right: 30px;
        border-right: 1px solid #6e6e6f;
        .views-field-title {
          a {
            color: #000;
            font-family: $bodyfont;
            font-size: 13px ;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#block-healthy-eating-recipe-search {
  margin-bottom: 10px;
  .torn-pod-content {
    position: relative;
    padding: 15px 20px;

    #healthy-eating-recipe-search {
      .form-type-textfield {
        float: left;
        margin: 0 0 0px;
        padding: 0;
      }

      .unfocused {
        color:#888;
        font-style:italic;
      }
      .form-submit {
        @extend .orange-button-cta;
        float: left;
        height: 25px;
        padding: 0 8px;
      }

      .advanced-search-link {
        margin: 4px 0 0 20px;
        padding: 0 20px 0 0;
        background: image-url('icon-advanced-search.png') right no-repeat;

        &.on {
          background: image-url('icon-advanced-search-mini.png') right no-repeat;
        }
      }

      #edit-advanced {
        float: left;
        legend {
          width: 920px;
          padding-top: 15px;
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;

          span {
            display: block;
            border-bottom: 1px solid #bdbdbd;

          }
        }

#edit-special-occasions {
  float: left;
}

.form-item-field-recipe-occasions {
  clear: both;
}
.form-item-field-recipe-category {
  /*clear: left;*/
}

        .form-item-field-special-diet, .form-item-field-recipe-cusine, .form-item-field-recipe-course, .form-item-field-recipe-main-ingredient, .form-item-field-recipe-category, .form-item-field-recipe-featured-in {
          float: left;
          width: 180px;
          margin-right: 4px;

          label {
            font-size: 13px;
          }

          .form-item {
            label {
              font-size: 11px ;
              text-transform: normal ;
            }
          }

        }

        .form-item-field-recipe-featured-in {
          margin-right: 0px;
        }
      }
    }
  }
}

//recipe search in sidebar on recipe pages.
#sidebar-second {
  #block-healthy-eating-recipe-search #healthy-eating-recipe-search {
    .form-submit {
      margin-right: 0;
      font-size: 18px;
    }
  }
}

div#user-ratings {
  .recipe_rating {
    .Ratings_Container img { display: inline  }
    div.Ratings_Container {
      .RatingWidgetByCount { display: none }
      .Ratings_Heading { display: none  }
      div.Ratings_YourRating { display: none  }
      div.Ratings_YourRating * { display: none  }
      div.Ratings_YourRating Ratings_Heading { display: none  }
    }
    .rating_star {
      width: 13px;
      height: 11px;
      background-image: url('../images/star.png');
      display: inline-block;
    }
    .rating_star.filled {
      background: url('../images/star.png') 13px 0;
    }
  }
}

/*--------------
    no-sidebar
--------------*/

#content {
  &.with-sidebar {
    .node-recipe {
      .field-group-div.group-left {
//        width: 430px;
      }
      .group-right {
//        width: 144px ;
      }
    }
  }
}

.torn-pod-content a.default-font {
  font-size: 16px;
}


// Recipes Landing Page
// TODO: Special case for toolbar.
// TODO: Special case for toolbar w/ toolbar-drawer
body.page-node-41.not-front.page-node {
  .recipeSpotlight {
    position: relative;
    width: 960px;
    height: 350px;
    margin: -350px auto 0;
    overflow: hidden;
  }
  #block-views-recipe-promo-block {
    position: absolute;
    right: 0px;
    height: 320px;
    width: 270px;
    padding: 15px;
    background: image-url('recipe-transparency.png') repeat top left;

    .views-field-title {
      height: 210px;
      max-height: 210px;
      overflow:  hidden;
      margin-top: 35px;
      color: black;
      font-family: $headingbold;
      font-size: 36px;
      font-weight: normal;
      text-decoration: none;
      text-transform: uppercase;
      @include opacity(0.9);
    line-height: 1;
    }

    .views-field-php {
      margin: 15px 0;
    }

    .views-field-view-node {
      a {
        @extend .orange-button-cta;
      }

      display: inline-block;
      float: left;
    }

    .recipe-promo-nav {
      display: inline-block;
      float: right;
      .recipe-prev1, .recipe-next1 {
        display: none;
      }
      .recipe-promo-pager-nav {
        margin: 1px 10px 0;
        padding: 0;
        overflow: hidden;

        li {
          display: inline;
          margin: 0 4px;
          padding: 0;
          list-style: none;

          a {
            display: inline-block;
            width: 14px ;
            height: 13px ;
            background: image-url('marquee/pager-orange.png') no-repeat;
            background-position: 0 0;
            text-indent: -10000px;
          }


        }
        li.activeSlide a {
          background-position: 0 -13px;
        }
      }
    }
  }
}

.node-recipe.node-teaser {
  .field-field-hero-image {
    float: left;
    margin: 0 10px 0 0;
  }
  border-bottom: 1px solid #ccc;
}

#Comments_Container {
  margin-left: 20px;
}


.page-node #content .section > .torn-pod-content .contentbox #block-views-special-diets-related-recipes.block-views {
  padding-top: 20px;
  width: 632px;
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  a {
    font-size: 13px;
    color: #EC7A37;
    text-decoration: none;
  }
}

.node-type-recipe {
  #main-wrapper {
    overflow: inherit;
  }
  #main {
    overflow: inherit;
   div#user-ratings {
     .Ratings_Container * {
       display: inline;
     }
     .Ratings_Container {
       display: block ;
       font-size: 12px;
       .Ratings_YourRating {
         display: block ;
         font-size: 12px ;
         .Ratings_Heading { font-size: 12px; }
        }
      }
    }
  }
  #newsletters-sidebar-subscription-form {
    padding-bottom: 0;
    border-bottom: 0 none;
  }
}

.view-recipe-header.view-id-recipe_header.view-display-id-recipe_header {
  .torn-pod-content { padding: 0 }
  #user-ratings {
    width: 250px;
  }
  .pin-link {
    margin: .5em 0 0 0;
    span {
      width: 25px;
      height: 25px;
      background: transparent image-url('social-media/social-sprite.png') -57px -197px no-repeat;
      display: block;
      float: left;
      margin: 0 .5em 0 0;
    }
    .text-link {
      position: relative;
      top: 3px;
    }
  }
}

.SiteLife_Login {
  a {
    font-size: 13px;
    color: #EC7A37;
    text-decoration: none;
  }
}

.layout_one #sidebar-second {
  #block-views-related-recipes-related, #block-views-related-recipes-featured {
    margin: 0 0 15px 0;
    h2 {
      @include font-and-line(28px, 24px);
      font-weight: normal;
      font-family: $headingbold;
      text-transform: uppercase;
      color: $slate;
    }
    .views-row { margin-bottom: 0px; padding-bottom: 0px; }
    .views-field-title {
      margin-bottom:5px;
      a {
        @extend .body-copy-link;
        @include font-and-line(13px, 18px);
      }
    }
  }

  #block-views-related-recipes-related {
    margin-bottom: 15px;
  }
}

.per-serving-title {
  font-family: $bodyfont;
  padding-right: 10px;
  font-weight: bold;
}

#sidebar-second {
  #block-healthy-eating-recipe-search {
    .torn-pod-header, .torn-pod-footer { display: none }
    .torn-pod-content { padding: 0; padding-bottom: 15px }
    form a { display: none }
    #edit-search-box { width: 145px }
  }
}

#edit-new-list {
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000') ;
  z-index: 1001 ;
  padding: 15px;
  display: none;
  width: 500px;

  .fieldset-wrapper {
    padding: 25px;
    background: #ebebeb;
    .form-item { margin: 0}
    .form-item-new-list-name {
      display: inline-block;
      label {  margin-bottom: 15px; }
      input { width: 300px }
    }
    .cancel-button {
      display: block;
      margin-top: 15px;
    }
  }
}


form#healthy-eating-add-recipe-ingredients-form {
  margin-bottom: 25px;
  .form-item-shopping-list {
    display: inline-block;
  }

  select:disabled {
    color: gray;
  }

  .form-submit {
    @extend .orange-button-cta;
    margin: -1px 0 0 6px;
    padding-top: 5px;
  }
  #extra-msg { display: inline-block }
}

//[api:recipe_list[nids]/] styling
.view-id-recipes.view-display-id-by_argument {
  @include clearfix;
  .views-row {
    @include border-box;
    max-width: 33%;
    float:left;
    padding-right: 10px;
    min-height: 240px;
    &:nth-child(3n) {
      padding-right: 0;
    }
    img {
      display: block;
      float:none;
      margin: 0 auto 10px auto;
      height: auto;
      border: 1px solid $dkgray-color;
    }
    .views-field-title {
      a {
        @include font-and-line(13px, 21px);
        font-family: $bodyfont;
        @extend .body-copy-link;
      }
    }
    .ratings-box {
      margin-left: 0;
    }
  }
}

#sidebar-second {
  .view-id-recipes.view-display-id-by_argument {
    border-bottom: 1px solid #999999;
    .views-row {
      min-height: 0;
      @media screen and (min-width: 1000px) {
        max-width: 100%;
        float: none;
      }
      margin: 0 auto 10px auto;
      padding: 0 10px 0 0;
      border-bottom: 0 none;
      .views-field-title {
        margin-bottom: 0;
        a {
          @include font-and-line(13px, 21px);
          font-family: $bodyfont;
          @extend .body-copy-link;
        }
      }
      img {
        margin-bottom: 0;
      }
    }
  }
}

#block-healthy-eating-recipe-landing-footer {
  @include clearfix;
  padding: 0 1.5em 4em 1.5em;
  h3 {
    color: $eggplant;
  }
  .nav-column {
    @include border-box;
    width: 20%;
    padding-right: 15px;
    float: left;
    .nav-list {
      list-style-type:none;
      padding: 0;
      margin-top: 0;
      .list-item {
        list-style: none;
      }
    }
    .nav-title {
      @include font-and-line(13px, 21px);
      color: $slate;
      font-family: $bodyfont;
      margin-bottom: 0;
    }
  }
}
