.page-coupons, .page-sales-flyer {
  .torn-pod-content {
    padding: 15px 0;
  }
  #breadcrumb {
    margin-left: 25px;
  }
  .quicktabs-wrapper {
    * {
      box-sizing: border-box; // http://css-tricks.com/box-sizing/
    }
    & > div {
      padding: 0 25px;
      &.item-list {
        padding: 0;
        margin-bottom: 20px;
      }
    }
  }
  .disclaimer {
    padding: 20px 20px 0 20px;
    clear: both;
  }
  .sales-flyer-pdf {
    position: absolute;
    left: 0;
  }

  .print-and-share-box {
    float: right;
    margin-right: 25px;
    .social-links {
      display: inline-block;
      margin-top: 15px;
    }
    .socfl {
      display: inline-block;
      width: 78px;
      &.google-plus {
        width: 52px;
      }
    }
    .print-icon {
      display: inline-block;
    }
    .recipe-fb {
      position: relative;
      top: -6px;
    }
    .print-icon {
      a {
        background: image-url('printer.png') top center no-repeat;
        display: block;
        padding-top: 24px;
        width: 33px;
        text-align: center;
        font-family: $headingmedium;
      }
    }
  }
}

#quicktabs-custom_quicktab_sales_coupons {
  margin-top: 25px;
}

.wfm-coupons-sidebar-block {
  width: 33%;
  float:right;
  padding-left: 20px;
  @include breakpoint(md) {
    width: 275px;
    padding-left: 0;
  }
}

#wfm-coupons-print-form, #quicktabs-tabpage-custom_quicktab_sales_coupons-0 .torn-pod-content {
  width: 66%;
  float:left;
  border-right: 1px solid #9b9b9b;
  padding-right: 45px;
}

#quicktabs-tabpage-custom_quicktab_sales_coupons-0 {
  position: relative;
  .torn-pod-content {
    padding-top: 40px;
  }
}

#sales-coupons-header {
  @extend .clearfix;
  margin: 15px 20px;
  background-color: #fcc524;
  background-image: image-url('sales-coupons-header-bkgd.jpg');
  background-repeat: repeat;
  padding: 20px;
  .text-wrap {
    float:left;
    max-width: 48%;
    @include breakpoint(md) {
      max-width: 460px;
    }
  }
  h2 {
    color: $orange-red;
    margin: 0;
    line-height: 64px;
  }
  .subtitle {
    text-transform: uppercase;
  }
  .no-store-selected {
    font-weight: bold;
    position: absolute;
    bottom: 40px;
    max-width: 45%;
    @include breakpoint(md) {
      max-width: 460px;
    }
  }
}

#block-wfm-blocks-wfm-blocks-coupon-filters {
  float: right;
  max-width: 48%;
  h3 {
    font-family: $bodyfont;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 21px;
    color: #222;
  }
  .form-select {
    min-width: 320px;
    max-width: 100%;
  }
}

.view-sales-items.this-is-not-a-view { // Yes, it's a fake view.
  .views-row {
    width: 269px;
    height: 269px;
    float: left;
    border: 1px solid #cacaca;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    &:nth-child(odd) {
      margin-right: 15px;
    }
    .views-field-field-flyer-brand-name {
      text-transform: uppercase;
    }
    .views-field-field-flyer-product-name {
      @include font-and-line(20px, 24px);
      color: $grass;
      font-family: $headingmedium;
      .field-content {
        font-size: 20px;
      }
    }
    .sale_line {
      color: $grass;
      font-family: $headingmedium;
      padding: 10px 0 0 0;
      @include font-and-line(20px, 24px);
      .sub_price {
        @include font-and-line(13px, 21px);
      }
    }
    .views-field-body {
      min-height: 54px;
      margin: 0 0 10px 0;
      .field-content {
        @include font-and-line(11px, 18px);
        max-height: 58px; // three lines of text
        overflow: hidden;
      }
    }
    .savings {
      position: absolute;
      bottom: 15px;
      right: -30px;
      padding: 6px;
      text-align: center;
      background: $red-color;
      color: #fff;
      width: 120px;
      font-weight: bold;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
    }
    .you_save {
      text-transform: uppercase;
      color: $orange-red;
    }
    .views-field-field-flyer-end-date {
      font-weight: bold;
      position: absolute;
      bottom: 10px;
    }
    .sales-flyer-image {
      max-width: 90px;
      max-height: 70px;
      min-width: 90px;
      min-height: 70px;
      float: left;
      margin-right: 10px;
      img {
        max-height: 90px;
        display: block;
        margin: 0 auto;
      }
    }
    .prices {
      position: absolute;
      top: 145px;
      width: 100%;
    }
  }
}