//Global Search Results
ol.search-results {
  padding: 0;
  .search-result {
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px 0;
    .search-snippet-info {
      padding: 0;
      float: left;
      max-width: 80%;
    }
    .post_info {
      font-style: italic;
      color: #999;
      margin: 0;
    }
    .media {
      width: 80px;
      min-height: 20px;
      float: left;
      margin-right: 15px;
    }
    .title {
      font-size: 22px;
      a {
        @include body-copy-link;
      }
    }
    .search_categories {
      font-style: italic;
      margin-top: 5px;
      color: #999;
    }
    .active {
      @include body-copy-link;
    }
    .ratings-box {
      @include inline-block;
      width: 100px;
      height: 12px;
      position: relative;
      background: #ccc;
      margin-left: 10px;
      .overlay {
        display: block;
        z-index: 10;
        position: relative;
        background: image-url('pluck-star-output-overlay.png') top left no-repeat;
        width: 100px;
        height: 12px;
      }
      .underlay {
        @include inline-block;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 12px;
        background: #e89532;
        text-indent: -9999px;
      }
    }
  }
}

.page-site-search, .page-recipe-search, .page-blog-search, .page-products-search {
  .item-list .pager {
    li {
      margin: 0 0 0.25em .5em;
    }
  }
}

body.page-site-search {
  h2 {
    @include font-and-line(50px, 50px);
    font-family: $headingbold;
    color: $grass;
  }
  div#main-wrapper {
    margin-top: -465px;
  }

  .search_results {
    .search_result_row {
      border: 0;
    }

    .search_result_item {
      float: none;
      width: 100% ;
      height: auto;
      border-bottom: 1px dotted #ccc;
      border-left: 0;
      margin: 0 0 15px 0;
      padding-bottom:15px ;
      img {
        display:none;
      }
      .node-unpublished {
        display:none ;
      }
    }

    // Never show any image fields regardles of the teaser.
    .field-type-image {
      display: none;
    }
  }
  #content {
    .torn-pod-content {
      padding: 0 25px;
      #breadcrumb.shown {
        margin-top: 15px;
      }
    }
  }
}

.search_result_item {
  .field-type-text-with-summary {
    .field-item {
      h2 {
        display: none;
      }
    }
  }
}
// Small desktop 1200 Search Results Modifications
@media only screen and (max-width: 1200px) {
  body.page-site-search{
    div.region-marquee  {
      margin-top: -65px;
    }
    div#main-wrapper {
      margin-top: -364px;
    }
  }
}


// Tablet-Landscape Search Results Modifications
@media only screen and (max-width: 1024px) {
  body.page-site-search{
    div.region-marquee  {
      margin-top: -65px;
    }
    div#main-wrapper {
      margin-top: -340px;
    }
  }
}



// Tablet-portrait Search Results Modifications
@media only screen and (max-width: 999px) {
  body.page-site-search{
    div.region-marquee  {
      margin-top: -65px;
    }
    div#main-wrapper {
      margin-top: -310px;
    }
  }
}

// 800px Search Results Modifications
@media only screen and (max-width: 800px) {
  body.page-site-search{
    div.region-marquee  {
      margin-top: -65px;
    }
    div#main-wrapper {
      margin-top: -250px;
    }
  }
}


// 750px Search Results Modifications
@media only screen and (max-width: 750px) {
  body.page-site-search{
    div.region-marquee  {
      margin-top: -65px;
    }
    div#main-wrapper {
      margin-top: -200px;
    }
  }
}

// iPhone-portrait Search Results Modifications
@media only screen and (max-width: 480px) {
  body.page-site-search{
    div.region-marquee  {
      margin-top: -65px;
    }
    div#main-wrapper {
      margin-top: -150px;
    }
  }
}

// iPhone-landscape Search Results Modifications
@media only screen and (max-width: 320px) {
  body.page-site-search{
    div.region-marquee  {
      margin-top: -65px;
    }
    div#main-wrapper {
      margin-top: -100px;
    }
  }
}

//Search Result Sidebar
//Top searches unordered list
.google-analytics-top-searches {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  li {
    list-style-type: none;
    margin: 0 0 5px 0;
  }
}

#sidebar-second #block-views-recipes-top-rated-recipes-list {
  .view-content {
    margin-bottom: 1em;
  }
  .views-field-title {
    margin: 0 0 5px 0;
    a {
      @extend .body-copy-link;
      @include font-and-line(13px, 21px);
    }
  }
}

#block-views-blogs-latest-blog-posts {
  .view-content {
    margin-bottom: 1em;
  }
  .views-row {
    margin: 0 0 5px 0;
  }
}

//No results page
#block-wfm-blocks-wfm-blocks-no-search-results {
  #block-google-analytics-top-searches-google-analytics-top-searches {
    width: 33%;
    float:left;
    h2 {
      @include font-and-line(13px, 21px);
      font-family: $bodyfont;
      color: $dkgray-color;
      margin-bottom: 0;
    }
  }
  .google-analytics-top-searches {
    list-style: disc;
    padding: 0 0 0 40px;
    li {
      list-style-type: disc;
      margin-bottom: 0;
    }
  }
  .search-header {
    @include font-and-line(13px, 21px);
    font-family: $bodyfont;
    color: $dkgray-color;
    margin-bottom: 0;
  }
  .more-searches {
    float:left;
    margin: 0;
  }
}

#search-sort-form {
  .form-item-search-sort-form {
    margin-left: 335px;
    label {
      float: left;
      margin-right: 15px;
      text-transform: none;
    }
    #edit-search-sort-form--2 {
      background: url("../images/select-arrow.jpg") no-repeat scroll right center rgba(255, 255, 255, 0.8);
      min-width: 150px;
    }
  }
}
