/***************************
* Store Lookup by State
*****************************/

.view-store-locations-by-state {
  .view-header {
    height: 50px;
  }

  font-size: 11px;
  line-height: 14px;
  .view-content {
    .views-row {
      width: 27%;
      padding-right: 2%;
      min-height: 500px;
      /* margin: 5px 16px 15px 0;*/
      float: left;
      .views-field-field-storefront-image {
        width: 225px;
        border: 1px solid #999;
        overflow: hidden;
        margin: 0 0 10px;
      }
      .views-field-title {
        a {
          @extend .body-copy-link;
          @include font-and-line(42px, 46px);
          font-family: $headingbold;
          text-transform: capitalize;
        }
        margin-bottom: 10px;
      }
      .views-field-field-postal-address {
        margin: 0 0 10px;
      }
      .views-label {
        font-weight: bold;
      }
      .views-field-nothing {
        margin: 15px 0;
      }
    }
  }
}

form#views-exposed-form-store-lookup-by-address-store-locations-block {
  margin-top: 70px;

  div.views-exposed-widget{
   /* margin-top: -3px; */
  }

  div.views-submit-button {
    background: $orange-color;
    height: 22px;
    line-height: 0;
  }

}

.view-display-id-store_locations_block {
    .views-row{
        width: 50% ;
    }
}

div.view-display-id-store_locations_block{
    div.title input.form-submit{
        color:#EC7A37 ;
        border: none ;
    }
}


/*#body {
  &.page-store-list {
    .views-row {padding: 25px 12px;}
  }
}*/
.show_more_stores {clear:both;}

#webform-client-form-7477 {
  label {
    text-transform: none;
  }
  #edit-submitted-phone {
    width: 200px;
  }
  select.error {
    border-color: #FF0000;
  }
  .header-content {
    width: 650px;
    li {
      list-style-type: disc;
    }
  }
}
#webform-client-form-7477 #block-views-ab14fd5ea913ef070def3887cd05d050 {
  display: none;
  padding: 0;
  .torn-pod-content {
    padding: 0;
    .store-select-box {
      padding-top: 20px;
    }
    h4 {
      display: none;
    }
  }
}

/*New styles for select store dropdowns*/
.store-select-box {
  float: left;
  width: 385px;
}
#phone-number-box-wrapper {
  display: none;
  position: absolute;
  left: 500px;
  top: 100px;
  background: #F4E08A;
  width: 212px;
  &.topic-instacart {
    top:175px;
  }
  #phone-number-box {
    padding: 10px;
  }
  .phone-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 10px 10px;
  }
}
.page-stores-list-state {
  h3 {
    font-family: "MuseoSlab","Lucida Sans","Lucida Grande",sans-serif;
  }
  .stores-by-us-state {
    color: #006e53;
    font-family: "MuseoSlab","Lucida Sans","Lucida Grande",sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
  }
  .view-store-locations-by-state {
    .view-header {
      height: 50px;
    }
    font-size: 14px;
    line-height: 14px;
    .view-content {
      .views-row {
        float: left;
        height: 350px;
        margin: 5px 14px;
        min-height: 0;
        padding: 0;
        width: 30%;
        .views-field-field-storefront-image {
          width: 95px;
          border: 1px solid #999;
          overflow: hidden;
          margin: 0;
          float: left;
        }
        .views-field-title {
          margin: 0 0 10px 110px;
          padding: 0;
          a {
            font-size: 18px;
            font-weight: bold;
            font-family: "MuseoSlab","Lucida Sans","Lucida Grande",sans-serif;
            color: #d56325;
            line-height: 18px;
          }
        }
        .views-field-field-postal-address {
          margin: 0 0 10px 110px;
        }
        .views-field-field-phone-number {
          margin: 0 0 10px 110px;
          .views-label-field-phone-number{
            float: left;
          }
        }
        .views-field-field-store-hours {
          margin: 0 0 10px 110px;
          .views-label-field-store-hours{
            float: left;
          }
        }
        .views-field-nothing {
          margin: 0 0 10px 110px;
        }
        .views-field-store-make-users-store {
          height: 47px;
          margin: 0 0 10px 110px;
          overflow: hidden;
          .title {
            display: none;
          }
          .storefront-button-description {
            display: none;
          }
        }
        .views-label {
          font-weight: bold;
        }
      }
    }
  }
}

#views-exposed-form-store-locations-by-state-page-state {
  margin: 0 0 80px;
  .views-exposed-form label {
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 4px;
    text-transform: none;
  }
  .form-submit {
    font-size: 18px;
    height: 26px;
    line-height: 20px;
    margin-top: 18px;
    padding: 0 10px;
    width: 60px;
  }
  .form-select {
    background: url("../images/select-arrow.jpg") no-repeat scroll right center rgba(255, 255, 255, 0.8);
    border: 2px solid #ec7a37;
    font-size: 12px;
    height: 26px;
    min-width: 200px;
    padding: 2px 3px;
  }
}
