div.view-grouping-content h2.view-grouping-header {
  color:$orange-color;
  font-size: 15px;
    font-family: $bodyfont;
    text-transform: uppercase;
}

div.view-grouping div.view-grouping-header {
  margin: 0 0 10px;
  padding: 0;
  color:$blue-green;
  font-family: $headingbold;
  font-size: 32px ;
  font-weight: normal;
  opacity: 0.99;
} 

div.view-grouping-content div.view-grouping-header {
  color:$orange-color;
  font-size: 15px;
  font-family: $bodyfont;
  text-transform: uppercase;
}

.view-stores-sell-alcohol .view-header h2 {
  color: $maroon-color;
}