/************************************************************************************
 Smaller than 999 ex. iPad Portrait
 *************************************************************************************/
@media only screen and (max-width: 999px) {
  /*
  .region-marquee #block-views-marquee-scroller-block .marquee-container .marquee-content h1 {
    font-size: 35px;
    line-height: 35px;
  }

  .region-marquee #block-views-marquee-scroller-block .marquee-container .marquee-content h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: -10px;
  }
  */
  .region-marquee #block-views-marquee-scroller-block .marquee-container .marquee-content {
    top: 30px;

    .learn-more {
      bottom: -5px;
    }

    .marquee-nav {
      bottom: 10px;
    }
  }

  #main {
    width: 100%;
  }

  body.front #page {
    margin-top: 0px ;
  }
  #page {
    margin: 0;
  }

  #page-wrapper {
    margin: 0 ;
  }

  body.front #main-wrapper {
    margin: 0;
  }

  .view-display-id-front_page {
    .view-header {
      display: block;
      margin: auto;
      float: none;
    }
  }
}
.undernav-active {

  .nav-tab {
    display: none;
  }

  .undernav-menu-bar {
    a {
      font-family: $headingbold;
      opacity: 0.99;
      filter: alpha(opacity=99);
      font-weight: normal;
      padding: 8px 5px 5px 5px;
      top: -3px;
      position: relative;
    color: #fff ;

      &:hover {
        color: #fff;
      }
    }
  }

  .header {
    position: relative;
    top: auto;
    width: 100%;
    background: #000;
    overflow: hidden;
    z-index: 1;

    .region-header {
      width: 100%;
      height: auto;
    }

    #block-block-1 {
      position: relative;
      width: 100%;
      margin: 5px;
    }

    #block-system-user-menu {
      width: 100%;
      position: relative;
      left: auto;
      bottom: auto;
      margin: 0;

        ul.menu {
          text-align: center;
          @include clearfix;
        }

        li {
          white-space: nowrap;
        }
    }

    #block-search-api-page-global-search {
      position: relative;
      bottom: 0px;
    }

    #block-wfm-welcome-block-wfm-welcome-block {
      position:static;
      width:auto;
      text-align: center;
      margin: 5px 0 0 0;
    }
  }

  .nav {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    padding-bottom: 0px;
    overflow: visible;

    li {
      .nav-wholefoods {
        display: block;
        margin: 10px auto 20px;
      }
    }
    li .views-row-first .view-monster-nav.view-display-id-level_2 {
      bottom: 0px ;
    }

    li .views-row-3 .view-monster-nav.view-display-id-level_2 {
      bottom: 0px ;
    }

    li .views-row-4 .view-monster-nav.view-display-id-level_2 {
      bottom: 0px ;
    }
  }

  .view-monster-nav.view-display-id-top {

    ul {
      width: 100%;
    }

    a {
      width: 100%;
      margin: 0;
      background-position-x: center;

      &:hover {
        background-color: #ffffff;
      }
    }

    li {
      background: none;
      padding: 0;
    }
  }

  .view-monster-nav.view-display-id-primary {

    .views-field-php {
      //display: block;
    }

    .views-row:hover .views-field-php {
      display: none;
    }

    li {
      display: block;

      &:hover {
        .views-field-php-2 {
          position: relative;
          background: none;
          z-index: 1;

          a {
            color: #ffffff ;
            border-bottom: none;
          }
        }
      }
    }
  }

  .view-monster-nav.view-display-id-level_2 {
    position: relative;
    left: auto;
    bottom: auto;
    padding: 20px;
    z-index: 0 ;
    /*margin-top: -119px;*/
    background: none;
    width: auto;

    .view-content .views-row {
      float: none;
      width: 100%;
      margin: 0;
      padding: 0px 0 10px 0;
    }
  }

  .free-form-container img {
    display: none;
  }

  .view-display-id-homepage.view-promo-blocks, .view-display-id-homepage_local.view-promo-blocks {
    width: 100%;

    .views-row.col-width-one .views-col {
      float: none;
      margin: auto;
      .torn-pod-content {
        margin-bottom: 20px;
      }
    }
  }

  .push {
    height: 50px;
  }

  #footer {
    height: auto;
    background: #22332d;

    .section {
      width: auto;
    }

    #block-menu-block-3, #block-menu-block-4, #block-menu-block-5, #block-menu-menu-social-media, #block-block-3 {
      float: none;
      margin: 0;
      width: auto;
      text-align: center;

      ul.menu {
        text-align: center;
      }
    }

    #block-menu-menu-social-media .content ul li {
      float: none;
      display: inline-block;
    }
  }

  #block-views-promo-blocks-block {
    .promo-container {
      width: 100%;

      .promo-media {
        float: none;
        width: 100%;
        height: auto;
        margin: 0;

        img, iframe {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .layout_one {
    #sidebar-second {
      float: none;
      width: 100%;
    }
    #content.with-sidebar {
      float: none;
      width: 100%;
    }
  }

  .torn-pod-content h2, #views_infinite_scroll-ajax-loader h2 {
    line-height: 32px;
  }

  #center_content {
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  ul.quicktabs-tabs li {
    display: inline-block;
  }

  .node-type-page #content .section > .torn-pod-content .contentbox #block-views-generic-page-items-list-copy .view-generic-page-items .brief {

    .image, .float-right {
      float: none;
    }
  }

  .region-marquee {
    img {
      display: block;
    }
  }

  body.not-front.page-node #main-wrapper {
    margin-top: -209px ;
  }
  body#body.page-node-41.not-front.page-node #main-wrapper {
    margin: 0 ;
  }

  #block-views-generic-page-items-marqee {
    top: 215px ;
  }

  body.page-node-41.not-front.page-node .recipeSpotlight {
    width: 100%;
  }

  .toolbar {
    top:50px ;
    z-index:50   ;
  }
  body.content-manager .undernav-nav-content .nav {
    top: 0px;
  }
}
