#block-core-twitter-page-feed-global, #block-core-twitter-page-feed-local {
  margin-bottom: 20px;
  .social-feed-container {
    padding-bottom: 15px;

    .social-feed-header {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #b2b2b2;
      #profile_image {
        float: left;
        margin-right: 15px;
      }
      #profile_description {
        position: relative;
        width: 88%;
        left: 85px;
      }
    }

    .tweet-content {
      margin-bottom: 10px;
      padding: 10px 0;
      border-bottom: 1px solid #b2b2b2;
      overflow: hidden;

      .pic {
        float: left;
        height: 72px;
        margin: 0 10px 0 0;
        padding: 0;
      }

      .tweet-text {
        font-size: 12px;
        line-height: 18px;
      }

      .tweet-time {
        margin-top: 5px;
        color: $gray-text;
        font-size: 12px;
      }
    }

    a {
      font-size: 14px;
    }

  }
}

//override global backgrounds
.page-node-7519.page-node-7519 .torn-pod-content select, #views_infinite_scroll-ajax-loader select {
  min-width:160px;
}
.page-node-7519 {
  #breadcrumb {
      display: none;
    }
  #content {
    .section > {
      .torn-pod-header {
        background:transparent;
        height:0;
      }
      .torn-pod-content {
        background:transparent;
        padding:0;
      }
      .torn-pod-footer {
        background:transparent;
        height:0;
      }
    }
  }
}

.view-twitter-accounts-by-state {
  .views-submit-button {
    position: relative;
    left: 150px;
    bottom: 51px;
  }
}

.torn-pod-content {
  #twitter_state {
    max-width: 163px ;
  }
}


.tweet-content {
  h4 {
    text-transform: none
  }
}

.view-promo-blocks.view-display-id-homepage {
  .views-col.pod_twitter_feed {
    .views-field-body {
      h2 {
        line-height: 50px;
        color: #2daae1;
      }
      .social-feed-container {
        .tweets-container {
          margin: 0 0 5px 0;
        }
        .handle { 
          display:inline-block;
          margin-bottom:0;
          font-size: 13px;
        }
        .screen_name {
          font-size:11px;
          font-weight:bold;
          color: $gray-text;
          margin: 0 0 5px 0;
          display: block;
        }
        .timeago {
          float:right;
          color: $gray-text;
          a {
            font-size: 11px;
          }
        }
        .retweet {
          font-size: 11px ; //why? because I have to override another .
          .retweeticon {
            width: 12px;
            height: 12px;
            background: transparent image-url('twitter-sprite.png') -18px -2px no-repeat;
            display: inline-block;
            margin: 0 5px 0 0;
          }
          a {
            font-size: 11px ; //<a> tags have their own font-size independent of their parent <p> tags. WTF???
          }  
        }
        .tweet-actions {
          margin: 0 0 5px 70px;
          a {
            background-image: image-url('twitter-sprite.png');
            background-repeat: no-repeat;
            display: inline-block;
            text-indent: -9999px;
            width: 12px;
            height: 12px;
            margin-right: 5px;
          }
          .reply {
            background-position: -2px -2px;
          }
          .reply:hover {
            background-position: -18px -2px;
          }
          .retweet {
            background-position: -81px -2px;
            width: 14px;
            position: relative;
            top: -2px;
          }
          .retweet:hover {
            background-position: -97px -2px;
          }
          .retweet.clicked {
            background-position: -113px -2px;
          }
          .favorite {
            background-position: -33px -1px;
            width:15px;
            height:15px;
            position: relative;
            top: -1px;
          }
          .favorite:hover {
            background-position: -49px -1px;
          }
          .favorite.clicked {
            background-position: -65px -1px;
          }
        }
        .follow {
          border-top: 1px solid #a7a7a7;
          text-align: center;
          margin: 0 0 0 0;
          padding: 10px 0 0 0;
        }
        p { margin-left: 70px; }
      }
      .tweet-img { height: 50px } 
    }
  }
}
