#block-views-core-values-header-header {
  .views-field-title {
    margin-bottom: 15px;
    span {
      
      text-transform: uppercase;
      opacity: 0.99;
      filter: alpha(opacity=99);
      a {
        font-family: $headingbold;
        font-size: 43px ;
        color: #6b0137;
      }
    }
  }

}

#block-views-core-values-header-listing {
  .view-core-values-header {
    overflow: hidden;
    .views-row {
      display: block;
      margin-bottom: 20px;
      padding-top: 20px;
      border-top: 1px solid #bbbbbb;
      overflow: hidden;

      .views-field-field-value-media {
        float: left;
      }
      .views-field-title {
        a {
          color: $gray-text;
          font-size: 22px;
          font-family: $bodyfont;
          line-height: normal;
        }
      }
    }
    
  }
}

.view-core-values-header {
  .views-field-field-value-media {
    float: left;
    margin-right: 20px;
  }

  .views-field-title {
    margin: 0;
    padding: 0;
    a {
      color: $purple-color;
      font-family: $headingbold;
      font-size: 64px;
      line-height: 58px;
      text-transform: uppercase;
      opacity: 0.99;
      filter: alpha(opacity=99);
    }
  }
}

.node-core-value {
  h3 {
    color: $purple-color;
    font-family: $headingmedium;
    font-size: 32px;
    opacity: 0.99;
      filter: alpha(opacity=99);
  }
}