#block-views-local-vendor-profiles-header, #block-views-lplp-recipient-profiles-header {
  padding: 25px;
  background: #fff;
  overflow-y: auto;
}

.view-local-vendor-profiles.view-id-local_vendor_profiles.view-display-id-header {
  .views-field-php {
    .local-selector { float: left }
    .local-selector.us { width: 47% }
    .local-selector.uk { width: 25% }
    .local-selector.ca { width: 25% }
  }
}

#block-views-local-vendor-profiles-block, #block-views-lplp-recipient-profiles-block {
  .views-row {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 20px;
    overflow:auto;
    h2 {
      font-size: 42px;
      margin-bottom: 0;
    }
    .views-field-field-image {
      width: 190px;
      float:left;
      padding: 0 15px 0 0;
      img {
        border:1px solid #ccc;
      }
    }
    p.location {
      span {
        font-weight: bold;
      }
    }
    .views-field-field-founded-year {
      display:block;
      margin: -16px 0 16px 0;
      span {
        font-weight: bold;
      }
      div {
        display: inline;
      }
    }
  }
}


/*Vendor maps*/
#edit-field-geo-data-latlon-gmap {
  display: none;
}
#edit-field-geo-data-latlon-wrapper {
  label { display: none }
}
#edit-field-geo-data-latlon-geocode { display: none }
.form-type-search-api-location-pick .form-wrapper { display: none }
//.form-type-search-api-location-pick div { display: none }
.form-type-search-api-location-pick .form-item-address { display: block }
#content-top {
  margin-bottom: 20px;
}


.node-product {
    .field-label { display: block ; }
  .group-left {
    width: 401px;
    padding-right: 25px;
    border-right: 1px solid gray;
    float: left;
    h3 { display: none }
  }
  .group-right {
    max-width: 260px;
    padding-left: 25px;
    float: left;
    padding: 15px 0 0 20px;
    h3 { display: none }
  }
}

#block-views-product-header-product-header {
  .views-field.views-field-field-hero-image {
      float: left;
      margin-right: 20px;
      width: 475px;
      text-align: center;
      padding: 0px;
      background: #fff;
  }

  .views-field.views-field-field-image {
    float: left;
    margin-right: 20px;
    width: 475px;
    text-align: center;
    padding: 0px;
    background: #fff;
  }
  .views-field-title {
          //font-family: 'GothamRoundedRegular';
          font-size: 32px;
  }
  .views-field {
    /*padding-left: 260px;*/
    .links {
      a { display: inline; margin: 0; padding: 0; color: #ec7a37; font-size: 14px; text-decoration: none; }
      .add-to-shopping-list { background: url('../images/icon-list.png') no-repeat; margin-right: 60px; padding-left: 22px; }
      .print { background: url('../images/icon-print.png') no-repeat; margin-right: 60px; padding-left: 22px;}
      .email { background: url('../images/icon-email.png') no-repeat; padding-left: 22px;}
      .iframe.fancy {
        padding-left: 22px;
      }
      p {
        font-size: 14px ;
      }
    }
  }
}
#control_box .olControlLayerSwitcher {
  position: inherit;
  padding: 0;
  width: 100%;
  height: 100%;
  .layersDiv { background: transparent; }
}
#block-healthy-eating-recipe-comments, #block-products-product-comments {
  margin-top: 20px;
  .content {
    #comments-section-head {
      padding: 20px;
      padding-bottom: 0px;
      margin: 0px;
    }
    padding: 5px;
    tbody { border: 0px }
    background: #fff;
    .Comments_TableRowColor {
      border-bottom: 1px solid black;
      td.Comments_UserImage {
        width: 110px;
        img { width: 75px ; height: 75px; }
        padding: 25px 0px 25px 20px;
      }
      td.Comments_TableRight {
        padding: 25px 20px 25px 0px;
      }
    }
  }
}
.view-display-id-store_locations_list_page, .view-display-id-store_locations_page {
  background: #fff;
  /*padding: 25px;*/
  .views-row {
    /*float: left;*/
    margin: 5px 16px 15px 0;
  }
}
.openlayers-container-map-local_vendors_map {
  border: 10px solid #fff ;
}
.olControlLayerSwitcher .layersDiv {
  .baseLbl, .baseLayersDiv, .dataLbl { display: none }
  #control_data_layers {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      width: 175px;
      height: 28px;
      margin: 0px 0 5px;
      .labelSpan {
        display: block;
        padding: 8px 0px 0px 35px;
        height: 28px;
        background: url('../images/local-x.png') no-repeat;
        color: #000;
      }
      &:hover {
        cursor: pointer;
      }
    }
    #control_layer_lplp.checked .labelSpan { background: url('../images/local-lplp.png') no-repeat; }
    #control_layer_grocery.checked .labelSpan { background: url('../images/local-grocery.png') no-repeat; }
    #control_layer_store_location.checked .labelSpan { background: url('../images/local-store.png') no-repeat; }
    #control_layer_fruit_veggies.checked .labelSpan { background: url('../images/local-fruit-veggies.png') no-repeat; }
    #control_layer_wine_beer.checked .labelSpan { background: url('../images/local-beer.png') no-repeat; }
    #control_layer_coffee_tea.checked .labelSpan { background: url('../images/local-coffee.png') no-repeat; }
    #control_layer_meat_dairy.checked .labelSpan { background: url('../images/local-meat.png') no-repeat; }
    #control_layer_baked_goods.checked .labelSpan { background: url('../images/local-baked-goods.png') no-repeat; }
    #control_layer_whole_body.checked .labelSpan { background: url('../images/local-whole-body.png') no-repeat; }
    #control_layer_seafood.checked .labelSpan { background: url('../images/local-seafood.png') no-repeat; }
  }
}
.olControlLayerSwitcher {
  .maximizeDiv { display: none }
}

.openlayers-views-map {
  #popup {
    #popup_FrameDecorationDiv_0, #popup_FrameDecorationDiv_2 {
      width: auto ;
    }
    #popup_FrameDecorationDiv_0, #popup_FrameDecorationDiv_1 {
      height: auto ;
    }
    #popup_close {
      top: 10px ; //importants necessary to override in-line stlyes on element
      right: 30px ;
    }
  }
}

.view-display-id-department_header {
  div.views-field {
    float: right;
    width: 440px;
  }
  div.views-field-title {
    color: #4a1715;
    font-family: $headingbold;
    font-size: 36px;
    opacity: 0.99;
    filter: alpha(opacity=99);
  }
  div.views-field-field-department-thumbnail {
    float: left;
    width: auto;
  }
}

.views-field-field-page-intro-subheading {
  .field-content {
    font-weight:bold;
    margin: 10px 0 20px 0;
  }
}

/* Vendor single page view */

.node-local-vendor {
  .content {
    padding-right: 20px;
    h2 {
      padding-left: 20px;
      display: inline-block;
    }
    .whenandwhere {
      padding-left: 20px;
      font-style: italic;
    }
    .field-name-field-image {
      float:right;
      img {
        padding: 5px;
        background: #fff;
        border: 1px solid #ccc;
        margin: 0 0 0 15px;
      }
    }
  }
}

#sidebar-second {
  .sidebar_vendors {
    padding:20px;
    h3{
      margin: 0 0 15px 0;
    }
    img {
      border: 1px solid #ccc;
      float:left;
      margin: 0 15px 0 0;
    }
    .views-field-title {
      a {
        color: $orange-color;
        font-size: 13px ;
        text-transform:none;
      }
    }
    .views-row {
      @extend .clearfix;
    }
    .pager-current {
      font-weight: normal;
    }
  }
}

.view-id-lplp_recipient_profiles, .view-id-local_vendor_profiles {
  padding-top: 20px;
}
