/*******************
 * Body layouts
 *******************/
.view-generic-page-items {
  a {
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:active,
    &:hover {
      text-decoration: underline !important;
    }
  }
  /* Body list layout */
  &.view-display-id-mobile_list_copy,
  &.view-display-id-special_diets_list,
  &.view-display-id-product_faq_list,
  &.view-display-id-core_values_list {
    color: $lightBlack;

    h1.page-title {
      font-size: round($baseFontSize * 2.45);
      font-weight: normal;
      line-height: 1.2em;
      letter-spacing: 0.0em;
      padding: 0.5em 0 0.5em 0;
    }
    h2,
    p,
    .view-header {
      font-size: $baseFontSize;
      -webkit-text-size-adjust: 125%;
      -ms-text-size-adjust: none;
    }
    .faq-pages-list {
      margin: 8px 0 20px;

      li {
        &.views-row-first,
        &:first-of-type {
          border-top: 1px solid $baseColor2 + $baseColor3;
        }
        a {
          border-bottom: 1px solid $baseColor2 + $baseColor3;
          display: block;
          font-size: $baseFontSize * 1.35;
          font-weight: lighter;
          padding: 20px 40px 20px 80px;
          position: relative;
          .file-image {
            position: absolute;
            width: 60px;
            height: 60px;
            top: 0;
            left: 0;
          }
          .read-more {
            background: url("../images/arrow-right.png") no-repeat scroll center center transparent;
            height: 100%;
            position: absolute;
            right: 0;
            text-indent: -9999px;
            top: 0;
            width: 17px;
          }
        }

        &.views-row-last {
          a {
            border-bottom: none;
          }
        }
      }
    }
  }

  /* Body copy layout by default. */
  &.view-display-id-block_1,
  &.view-display-id-block_2 {
    .view-content {
      margin-top: 1em;
      font-size: $baseFontSize;
    }
    h2:first-of-type {
      @extend h2;
      padding: 0 0 0.5em;
      font-weight: normal;
    }
    h3 {
      color: $lightBlack;
      font-size: 28px;
      font-weight: bold;
    }
  }
}

.views-field-body,
.views-field-field-body-mobile,
.field-name-body {
  -webkit-text-size-adjust: 125%;
  -ms-text-size-adjust: none;

  p {
    padding-bottom: 20px;
  }

  ol, ul {
    padding-left: 1em;

    &.inline {
      padding-left: 0;
    }

    li {
      padding: 0.5em 0;
      line-height: 1.5em;
    }
  }

  ul {
    list-style: disc;
    padding-left: 1em;
  }

  hr {
    height: 0px;
  }
}

/* User authentication */
body.not-logged-in #region-header .block-menu ul.menu li a.logout-menu-link {
  display: none;
}


body.logged-in #region-header .block-menu ul.menu li a.signin-menu-link {
  display: none;
}


