.page-node-7477,
#customer-service {

  .form-type-select,
  .webform-component {
    margin: 0.5em 1.5em 1em 0.75em;

    label {
      font-size: 1.15em;
      font-weight: bold;
    }
    select.form-select,
    input,
    textarea {
      width: 100%;
      font-size: 1.2em;
    }
  }
  .webform-component {
    label {
      font-size: 1.1em;
    }
  }
  .phone-number-box {
    margin-top: 1.3em;
  }
  h2 {
    font-size: 1.65em;
    font-weight: normal;
    line-height: 1.2em;
  }
  h3 {
    font-size: $baseFontSize + 2px;
    padding-top: 1.2em;
    color: $lightBlack;
    font-weight: bold;
  }
  ul {
    list-style: disc;
    padding-left: 1.9em;
    margin-top: 1em;

    li {
      line-height: 1.4em;
    }
  }
}

#webform-client-form-7477 #webform-component-product-upc {
  background: url("../images/barcode_blank.png") no-repeat scroll 15px 45px transparent;

  label {
    padding-bottom: 200px;
  }
  input {
    width: auto;
  }
  span {
    font-size: 1.2em;
    margin: 0 8px;
  }
}
