//Holidays 2013
$holiday-orange: #c0511f;
$holiday-red: #b30f20;
$holiday-green: #6fac97;
$holiday-gray: #4e4943;
$holiday-border-gray: #c6beb4;
//Holiday Hover colors
$holiday-green-hover: #1c7864;
$holiday-orange-hover: #9a4119;
$holiday-red-hover: #810916;

//Holidays2013 Fonts
@font-face {
    font-family: 'TradeGothic';
    src: url('/sites/all/themes/wholefoods/fonts/trade-gothic.eot');
    src: url('/sites/all/themes/wholefoods/fonts/trade-gothic.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/wholefoods/fonts/trade-gothic.woff') format('woff'),
         url('/sites/all/themes/wholefoods/fonts/trade-gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HolidayIcon';
    src: url('/sites/all/themes/wholefoods/fonts/holidays2013.eot');
    src: url('/sites/all/themes/wholefoods/fonts/holidays2013.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/wholefoods/fonts/holidays2013.woff') format('woff'),
         url('/sites/all/themes/wholefoods/fonts/holidays2013.ttf') format('truetype'),
         url('/sites/all/themes/wholefoods/fonts/holidays2013.svg#holidays2013') format('svg');
    font-weight: normal;
    font-style: normal;
}
//Holiday script font
@font-face {
    font-family: 'AZCutScript';
    src: url('/sites/all/themes/wholefoods/fonts/AZCUTSCR-webfont.eot');
    src: url('/sites/all/themes/wholefoods/fonts/AZCUTSCR-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/wholefoods/fonts/AZCUTSCR-webfont.woff') format('woff'),
         url('/sites/all/themes/wholefoods/fonts/AZCUTSCR-webfont.ttf') format('truetype'),
         url('/sites/all/themes/wholefoods/fonts/AZCUTSCR-webfont.svg#AZCutScript') format('svg');
    font-weight: normal;
    font-style: normal;
}
.view-id-generic_page_items img.holiday-head {
  max-width: 100%;
  margin-bottom: 1em;
}

//Holiday Nav
#holiday-nav {
  #holiday-nav-head {
    background: $holiday-orange;
    max-height: 50px;
    padding: 0 1em;
    overflow: hidden;
    a {
      color: #fff;
    }
    h2 {
      float: left;
      font-family: "TradeGothic", "Helvetica Nueue", Helvetica, arial;
      text-transform: uppercase;
      span {
        background: url("/sites/all/themes/wholefoods/images/holiday2013/house.png") top left no-repeat;
        display: inline-block;
        width: 24px;
        height: 21px;
        margin: 0 16px 0 0;
        line-height: .5;
      }
    }
    .togglenav {
      font-family: "TradeGothic", "Helvetica Nueue", Helvetica, arial;
      text-transform: uppercase;
      float: right;
      top: .4em;
      @include more('bottom', #fff);
      &.exposed {
        @include more('top', #fff);
      }
    }
  }
  .topmenu {
    display: none;
    background: #eee;
    list-style-type: none;
    position: absolute;
    width: 600px;
    padding: 1em;
    @include border-box;
    h3 {
      color: $holiday-orange;
      font-family: "TradeGothic", "Helvetica Nueue", Helvetica, arial;
      text-transform: uppercase;
    }
    a {
      color: $holiday-orange;
    }
    .expandable {
      @include more('bottom', $holiday-orange);
      display: inline-block;
      text-indent: -9999px;
      margin-left: 15px;
      &.expanded {
        @include more('top', $holiday-orange);
      }
    }
  }
  .column {
    padding: 0;
    h3 {
      margin-bottom: .5em;
    }
  }
  .column > ul {
    list-style-type: none;
    display:none;
    margin: 0 0 .5em 0;
    padding-left: 1em;
    border-left: 1px solid $holiday-border-gray;
    border-bottom: 1px solid $holiday-border-gray;
    li {
      padding: 0 .5em 0 0;
      border-right: 1px solid $holiday-border-gray;
      display: inline-block;
      margin: 0 0 1em 0;
      //border-bottom: 1px solid $holiday-border-gray;
      &:last-child {
        border-right: 0 none;
      }
    }
  }
}

//Holiday Footer
.holiday-footer {
  text-align: center;
  padding: 30px 0 20px 0;
  background: url('/sites/all/themes/wholefoods/images/holiday2013/threedots.png') top left repeat-x;
  a {
    color: $holiday-orange;
    &:visited, &:link {
      color: $holiday-orange;
    }
  }
  h3 {
    font-family: "TradeGothic", "Helvetica Nueue", Helvetica, arial;
    color: $holiday-gray;
    text-transform: uppercase;
    line-height: 1;
    .script {
      font-family: "AZCutScript", script;
      font-size: 80%;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .social-links {
    ul {
      margin: 1em auto 0 auto;
      width: 210px;
      li {
        float:left;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .blog {
    .views-row {
      margin-bottom: 1em;
    }
  }
  .whole-deal, .newsletter {
    h3 {
      margin-bottom: 1em;
    }
  }
}

.holiday-footer > div {
  padding-bottom: 10px;
  background: url('/sites/all/themes/wholefoods/images/holiday2013/onedot.png') bottom left repeat-x;
  margin: 1em 0 0 0;
}

#holiday-wrap .banner {
  background-color: $holiday-green;
  color: #fff;
  padding: 0;
  height: 49px;
  display: inline-block;
  line-height: 1.65;
  margin: 0 0 .5em 0;
  span {
    background: url('../images/holiday2013/banner-mask.png?1381508179');
    width: 11px;
    height: 49px;
    display: inline-block;
    background-position: -11px 0px;
    margin: 0 0 0 15px;
  }
  span:first-child {
    background-position: 0px 0px;
    margin: 0 15px 0 0;
  }  
  &#beer-wine-cheese {
    font-size: 28px;
    line-height: 1.8;
  }
}

#holiday-wrap {
  img {
    max-width: 100%;
  }
  .embed-container {
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    margin: 40px 0; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto;
    iframe, object, embed {
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%;
    }
  }  
}

//Holiday landing page
.item {
  text-align: center;
  .imgreplace {
    margin: 0 auto;
  }
  img {
    margin: 0 auto;
    display: block;
  }
  h2 {
    font-family: "TradeGothic", "Helvetica Nueue", Helvetica, arial;
    text-transform: uppercase;
    color: $holiday-green;
  }
  p {
    color: $holiday-green;
  }
  a {
    color: $holiday-green;
  }
  .imgreplace {
    margin-bottom: 1em;
  }
  &.border-bottom {
    padding-bottom: 10px;
    background: url('/sites/all/themes/wholefoods/images/holiday2013/onedot.png') bottom left repeat-x;
    margin-bottom: 1em;
  }
  &.border-top {
    padding-top: 10px;
    background: url('/sites/all/themes/wholefoods/images/holiday2013/onedot.png') top left repeat-x;
  }  
  &.holiday-color {
    h2 { 
      color: $holiday-orange;
    }  
    p {
      color: $holiday-orange;
    }
    a {
      color: $holiday-orange;
    }
  }
}

.left > .left, .right > .left {
  width: 50%;
  float: left;
  //border-right: 1px solid $holiday-border-gray;
  padding-right: 2%;
  @include border-box;
}

.left > .right, .right > .right {
  width: 50%;
  float: right;
  padding-left: 2%;
  border-left: 1px solid $holiday-border-gray;
  @include border-box;  
}

#holiday-wrap > .left .item:last-child {
  padding-bottom: 10px;
  background: url('/sites/all/themes/wholefoods/images/holiday2013/onedot.png') bottom left repeat-x;
}

#holiday-wrap > .right > .right .item:first-child, #holiday-wrap > .right > .item:last-child > .imgreplace {
  margin-top: 1em;
}

.holiday-promo {
  display: none;
}

/**
* Recipe pages
*/
#holiday-wrap .holiday-text-head {
  text-align: center;
  .heading {
    h2 {
      font-family: "AZCutScript", script;
      color: $holiday-gray;
      font-size: 64px;
      margin-top: 1em;
      line-height: 1.5;
    }
    .subhead {
      font-style: italic;
      color: $holiday-gray;
    }
  }
}

#inline-nav {
  padding: 5px 0;
  background: url('/sites/all/themes/wholefoods/images/holiday2013/onedot.png') top left repeat;
  margin: 2em 0;
}  
.holidays .holiday-inline-nav {
  text-align: center;
  margin: 0 auto;
  padding: 15px 5% 0 5%;
  border: 6px solid transparent;
  background: #fff;
  li {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #c6beb4;
    text-transform: uppercase;
    font-family: "TradeGothic", "Helvetica Nueue", helvetica, arial, sans-serif;
    margin-bottom: 15px;
    a {
      color: $holiday-green;
    }
  }
}

#holiday-wrap {
  .recipe-holiday-body {
    text-align: center;
  }
  .holiday-grid-list {
    list-style-type: none;
    padding: 0;
    li {
      padding: 0;
      margin: 1em 0;
      text-align: center;
      border-bottom: 1px solid $holiday-border-gray;
      &.blank {
        display: none;
      }
      &:last-child {
        border-bottom: 0 none;
      }
      img {
        display: block;
        margin: 0 auto;
      }
      .download {
        a {
          font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 100%;
          img {
            display: inline;
            margin-right: 10px;
          }
        }
      }
      a {
        font-family: "TradeGothic", "Helvetica Nueue", helvetica, arial, sans-serif;
        color: $holiday-green;
        font-size: 150%;
      }
      .servings {
        color: $holiday-green;
      }
      .arrow {
        a {
          width: 23px;
          height: 23px;
          min-height: 23px !important;
          margin: 0 auto 10px auto;
          background: url('/sites/all/themes/wholefoods/images/holiday2013/arrows.png') 0 -25px no-repeat;
          text-indent: -9999px;
          display: block;
        }
      }
    }
  }  
}

body.diy-decorating-etsy {
  .holiday-promo {
    display: block;
    border-bottom: 1px solid #c6beb4;
    padding-top: 1em;
    &:first-child {
      border-top: 1px solid #c6beb4;
    }
    &:last-child {
      border-bottom: 0 none;
    }
    ul {
      list-style-type: none;
      &.etsylist {
        text-align: left;
        img {
          margin-right: 1em;
        }
      }
    }
  }

}

/**
* Menu Pages
*/
#holiday-menus-list {
  padding: 30px 0 0 0;
  background: url('/sites/all/themes/wholefoods/images/holiday2013/onedot.png') top left repeat-x;
  list-style-type: none;
}
#holiday-menus-list > li {
  margin: 1em 0 0 0;
  text-align: center;
  background: url('/sites/all/themes/wholefoods/images/holiday2013/onedot.png') bottom left repeat-x;
  .banner {
    display: inline-block;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  a {
    color: $holiday-green;
    font-family: "TradeGothic", "Helvetica Nueue", helvetica, arial, sans-serif;
    text-transform: uppercase;
  }
  &:first-child {
    margin: 0;
  }
}

body.holidays {
  &.main-courses {
    .holiday-inline-nav .main-courses {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.appetizers {
    .holiday-inline-nav .appetizers {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.side-dishes {
    .holiday-inline-nav .side-dishes {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.potatoes-and-sweet-potatoes {
    .holiday-inline-nav .potatoes-and-sweet-potatoes {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.cookies {
    .holiday-inline-nav .cookies {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.pies {
    .holiday-inline-nav .pies {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.desserts {
    .holiday-inline-nav .desserts {
      a {
        color: $holiday-gray;
      }
    }
  } 
  &.vegetarian {
    .holiday-inline-nav .vegetarian {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.vegan {
    .holiday-inline-nav .vegan {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.gluten-free {
    .holiday-inline-nav .gluten-free {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.healthy {
    .holiday-inline-nav .healthy {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.seasonal-favorites {
    .holiday-inline-nav .seasonal-favorites {
      a {
        color: $holiday-gray;
      }
    }
  }   
  &.hanukkah {
    .holiday-inline-nav .hanukkah {
      a {
        color: $holiday-gray;
      }
    }
  } 
  &.leftovers {
    .holiday-inline-nav .leftovers {
      a {
        color: $holiday-gray;
      }
    }
  }
  &.breads-muffins-rolls {
    .holiday-inline-nav .breads-muffins-rolls {
      a {
        color: $holiday-gray;
      }
    }
  } 
  //Gifts section  
  &.gifts-kitchen {
    .holiday-inline-nav .gifts-kitchen {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.diy-decorating-etsy {
    .holiday-inline-nav .diy-decorating-etsy {
      a {
        color: $holiday-gray;
      }
    }
  }  
  &.gifts-give-back {
    .holiday-inline-nav .gifts-give-back {
      a {
        color: $holiday-gray;
      }
    }
  }     
  &.gifts-under-5-10-15-30 {
    .holiday-inline-nav .gifts-under-5-10-15-30 {
      a {
        color: $holiday-gray;
      }
    }
  }  
}

//Servings Calculator
#holiday_calc {
  font-family: WFMScalaSansSpringRegular, "Helvetica Nueue", helvetica, arial, sans-serif;
  width: 100%;
  color: $holiday-gray;
  margin: 0 0 30px 0;
  thead {
    border: 0 none;
    th {
      border: 0 none;
      font-family: "TradeGothic", "Helvetica Nueue", helvetica, arial, sans-serif;
      color: $holiday-green;
      padding-bottom: 15px;
      font-size: 120%;
    }
  }
  tbody {
    border-top: 0 none;
    th {
      border-bottom: 0 none;
      font-family: WFMScalaSansSpringBold, "Helvetica Nueue", helvetica, arial, sans-serif;
    }
  }
  input {
    width: 100px;
    &:focus {
      border: 2px solid $holiday-green;
    }
  }
}

#holiday-videos {
  list-style-type: none;
  padding-left: 0;
  li {
    text-align: center;
    background: url('/sites/all/themes/wholefoods/images/holiday2013/onedot.png') bottom left repeat-x;
  }
  .recipe-image {
    display: none;
  }
  iframe {
    max-width: 100%;
  }
  h3 {
    font-family: "TradeGothic", "Helvetica Nueue", helvetica, arial, sans-serif;
    color: $holiday-green;
    text-transform: uppercase;
  }
  .servings {
    color: $holiday-green;
  }
}

/**
* Holiday Icon Font Styles
*/
.icon-arrow, .icon-home, .icon-shopping-cart, .icon-iphone, .icon-gift, .icon-calculator, .icon-arrow-menu, .icon-arrow-nocircle, .icon-arrow-over {
  font-family: 'HolidayIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-arrow:before {
  content: "\e002";
}
.icon-home:before {
  content: "\e003";
}
.icon-shopping-cart:before {
  content: "\e004";
}
.icon-iphone:before {
  content: "\e005";
}
.icon-gift:before {
  content: "\e006";
}
.icon-calculator:before {
  content: "\e007";
}
.icon-arrow-menu:before {
  content: "\e008";
}
.icon-arrow-nocircle:before {
  content: "\e009";
}
.icon-arrow-over:before {
  content: "\e001";
}

.icon-arrow, .icon-arrow-menu, .icon-arrow-nocircle, .icon-arrow-over {
  font-size: 24px;
}

span[class*='icon'] {
  font-size: 200%;
}

.diy-decorating-etsy .holiday-text-head {
  .holiday-promo {
    display: none;
  }
}
//Christmas styles
body.christmas {
  #holiday-nav {
    #holiday-nav-head {
      background: $holiday-red;
    }
    .topmenu {
      h3 {
        color: $holiday-red;
      }
      a {
        color: $holiday-red;
        &.expandable {
          @include more('bottom', $holiday-red);
          &.expanded {
            @include more('top', $holiday-red);
          }
        }
      }
    }
  }
  .item.holiday-color {
    a, p, h2 {
      color: $holiday-red;
    }
    .arrow {
      a {
        width: 23px;
        height: 23px;
        background: url('/sites/all/themes/wholefoods/images/holiday2013/arrows.png') 0 -100px no-repeat;
        display: block;
        margin: 0 auto;
        img {
          display: none;
        }
      }
    }
  }
  .holiday-footer {
    a {
      color: $holiday-red;
    }
    .arrow {
      a {
        width: 23px;
        height: 23px;
        background: url('/sites/all/themes/wholefoods/images/holiday2013/arrows.png') 0 -100px no-repeat;
        display: block;
        margin: 0 auto;
        img {
          display: none;
        }
      }
    }
  }
  table#baketable {
    th {
      background-color: $holiday-red;
    }
  }
  table#sweetsubs {
    th {
      background-color: $holiday-red;
    }
  }
} //.christmas