@mixin more ($direction : 'bottom', $color : $orange) {
  position: relative;
  padding-right: 24px;

  &:after {
    position: absolute;
    top: 13px;
    right: 0;
    display: block;
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    line-height: 0px;
    @if $direction == 'bottom' {
      border-width: 8px 8px 0 8px;
      border-color: $color transparent transparent transparent;
      _border-color: $color #000000 #000000 #000000;
    }
    @else {
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent $color transparent;
      _border-color: #000000 #000000 $color #000000;
    }
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  }
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin animate($time) {
  animation-timing-function:ease-in-out;
  -webkit-animation-timing-function:ease-in-out;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
  -webkit-transition: $time;
  transition: $time;
}

@mixin stars {
  .field-content {
    width: 137px;
    height: 25px;
    @include sprite-sprite(stars-empty);

    .stars {
      height: 25px;
      @include sprite-sprite(stars-full);
    }
  }
}

@mixin visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}