@mixin bold-label {
  font-size: 26px;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}

@mixin green-bar {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid $apple;
}

.page-newsletters-preferences {
  h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 30px 0;
  }
  h3 {
    @include bold-label;
  }
}

#newsletters-preferences-form {
  @include green-bar;
  margin: 30px 0 50px 0;
  padding-bottom: 50px;

  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }

  input[type="checkbox"] + label {
    cursor: pointer;
    vertical-align: top;
  }
  input[type="checkbox"] + label:before {
    @include sprite-sprite('checkbox-0');
    width: 31px;
    height: 31px;
    margin-right: 15px;
    cursor: pointer;
    content: " ";
    display: inline-block;
  }

  input[type="checkbox"]:checked + label:before {
    @include sprite-sprite('checkbox-1');
  }

  .required_note {
    font-style: italic;
  }
  .form-item-wfm-mobile-app\|ios\.push {
    @include clearfix;
    margin: 0 0 30px 0;
  }
  #cancel-button, #save-button, #top-save-changes {
    border-radius: 0;
    width: 175px;
    margin-right: 30px;
    font-size: 100%;
  }
  #cancel-button {
    background-color: $medium_gray;
    border: 1px solid $medium_gray;
    &:hover {
      background-color: #fff;
      color: $medium_gray;
    }
  }
}

#edit-personal-info, #edit-lifestyle-interests, #edit-email-subscriptions {
  & > legend {
    @include bold-label;
  }
}

#edit-personal-info {
  @include green-bar;
  .form-type-textfield {
    @include clearfix;
    label {
      float: left;
      margin: 11px 15px 0 0;
    }
    .form-text {
      display: inline-block;
      max-width: 470px;
      &.newsletter-preferences__email {
        max-width: 510px;
      }
    }
  }
  #edit-zip-code {
    max-width: 245px;
  }
  .form-item-core\|gender {
    margin-top: 0;
    label {
      float: left;
      margin: 11px 24px 0 0;

    }
    .form-select {
      width: 245px;
    }
  }
}

#edit-lifestyle-interests {
  @include green-bar;
  .form-type-checkboxes > label {
    font-weight: bold;
  }
  .form-item-lifestyle-jobs {
    margin-bottom: 0;
  }
  .form-item-lifestyle-jobs-program\|esp\|career-preference {
    margin-bottom: 0;
  }
}

#edit-email-subscriptions {
  .form-checkboxes {
    input {
      float: left;
      margin-right: 15px;
    }
    label {
      width: 90%;
      float: left;
      &:before {
        float:left;
      }
    }
  }
  .form-type-checkbox {
    @include clearfix;
    margin-bottom: 30px;
  }
  .newsletter-preferences__option-title {
    display: block;
    margin: -3px 0 0 0;
    @include bold-label;
  }
  .newsletter-preferences__option-image {
    margin: 0 20px 0 45px;
    max-width: 155px;
    height: auto;
    display: block;
    float: left;
  }
  .newsletter-preferences__option-text {
    vertical-align: top;
    width: 320px;
    float: left;
  }
}

#edit-birthday {
  @include clearfix;
  & > legend {
    float: left;
    margin: 11px 15px 0 0;
  }
  .fieldset-wrapper {
    display: inline-block;
  }
  .form-type-select {
    display: inline-block;
    margin-top: 0;
  }
  .form-item-core\|birth-month {
    width: 245px;
  }
  .form-item-core\|birth-day {
    width: 145px;
  }
}
