.view-store-departments.view-display-id-mobile_local {
  .views-row {
    margin-top: 1em;
    border-bottom: 2px solid gray;
    &.views-row-last {
      border-bottom: none;
    }
    .thumbnail {
      float: left;
      margin-right: 1em;
      img {
        width: 65px;
        height: 65px;
      }
    }
    .views-field-title a {
      font-size: 24px;
      text-decoration: underline;
      line-height: 36px;
      padding-bottom: 20px;
      display: block;
      background: url("../images/arrow-right.png") no-repeat scroll 96% center transparent;
    }
  }
}