.process{
  float: right;
  list-style-type: none;

  li{
    float:left;
    padding: 1.5em 1em;

    font-size: 12px;
    &.active {
      background: $orange;
      color: $white;
    }

  }
  @media only screen and (max-width:768px) {
	  float: none;
	  width: 100%;
	  text-align: center;
	  li {
		  float: none;
		  display: inline-block;
	  }
  }
}


ul.cart.list > li {
  padding: 0;
  border-top: 0;
  border-bottom: 1px dotted $light-gray;

}


#column_header {
  @include clearfix;
  background: white;
  padding:0;
  font-size: 1.25em;
  font-family: $header_font;
  margin-top: 2em;
  .contained {
	  background: $alt-gray;
	  border: 1px solid $light-gray;
	  padding: 0.75em;
	  text-transform: uppercase;
	  font-size: 1.15em;
	  font-weight: normal;
	  -webkit-font-smoothing: antialiased;
	  letter-spacing: 0.03em;
	  .item-info .info-body {
		margin-top: 0 !important;
		}
	  .controls {
		  .quantity_chooser .price_wrapper, .quantity_chooser .quantity {
			  padding-top: 0 !important
		  }
	  }
  }

  .info-body {
    margin-left: 0;
  }
}


  .item-info .image {
    display: none;
  }

.info-body {
  padding: 15px;
}
.controls {
  padding: 15px;
  position: relative;

  .quantity_chooser {
    .quantity {
      width: auto;
      float: right;
      margin-top: -2.5em;
      }
    }

  @media (min-width: 480px) {
    .quantity_chooser {
      .quantity {
        width: 45%;
        float: left;
        margin-top: inherit;
      }
      .price_wrapper {
        width: 40%;
        float: left;

      }
    }
  }


}

.remove {
  position: absolute;
  color: rgba($red, .85);
  background: none;
  border: 1px solid rgba($red, .25);
  width: auto;
  text-align: right;
  float: right;
  padding: 0 .5em;
  margin-top: 0;
  font-size: 1.15em;
  clear: both;
  display: block;
  font-family: $header_font;
  font-weight: normal;
  letter-spacing: .05em;
  text-transform: uppercase;
  height: 40px;
  -webkit-font-smoothing: antialiased;
  right:0;
  @include ease;
  &:hover{
    background:$red;
    color: white;
  }
  @media (min-width:1024px){
    right: 0;
  }
  @media (max-width: 600px) {
	  right: 30%;
	  top: 5px;
  }
}

.selected_options {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $gray;
  size: 0.8em;
  li {
    display: block;
  }
}


  .subtotal .price {
    font-size: 2em;
    color: $grayblue;
  }



  @media (min-width: 768px) {

    .item-info {
    	 h1 {
	    	 font-size: 1.5em;
    	 }
      .image {
        display: block;
        float: left;
        max-width: 150px;
        width: 37%;
        margin:1em;
      }

      .info-body {
        margin-left: 38%;
      }


      float: left;
      width: 45%;
    }

    .controls {
      float: left;
      width: 33%;
    }

    .subtotal {
      padding: 15px;
      text-align: right;
      float: right;
      width: 20%;
    }
  }


ul.cart.list > li.note {
  text-align: right;
  padding: 15px;

}

ul.cart.list > li.apply_discount {
    @include clearfix;
    text-align: right;
    padding: 1em;
    form {
      float: right;
      margin-top:-5px;

      @media (min-width: 990px) {
        width: 21%;
      }
    }

    label {
        font-weight: normal;
        float: right;
        font-size: 1.25em;
        font-family: $header_font;
        text-transform: uppercase;
        letter-spacing: .03em;
        @media (max-width: 989px) {
          padding: 0 1em 0;
        }
    }

}

ul.cart.list > li.figure {


  .value {
      float: right;
      color: $grayblue;
      text-align: right;
      padding: 15px;

      @media (min-width: 990px) {
        width: 20%;
      }

      .price {
        font-size: 1.75em;

      }

  }
  label {
      font-weight: normal;
      text-transform: uppercase;
      float: right;
      font-size: 1.25em;
      font-family: $header_font;
      padding: 1.25em 1em 0;
      letter-spacing: .03em;
  }


}


.signup {
  @include clearfix;
  background: $grayblue;
  color: $cream;
  text-align: center;
  padding: 1em;
}

.proceed {

  padding: 15px;
  text-align: right;
  button {
    display: inline-block;
    max-width: 250px;
  }

  @media (min-width: 1024px) {

    width: 50%;
    float: right;
  }
  @media (max-width:  767px) {
	  text-align: center;
  }


}



  .cart-footer{

    fieldset {
    
        border: 1px solid $light-gray !important;
        padding: 0 !important;
        border-top: 0 !important;

      h4 {
        color: $grayblue;
        background-color: $alt-gray;
        padding: 1em;
        font-family: $header_font;
        font-size: 1.25em;
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        text-transform: uppercase;
        display: block;
        width: 100%;
	   -webkit-font-smoothing: antialiased;
	   font-weight: normal;
	   letter-spacing: .05em;
      }
	 p { padding: 0.5em 1em; }
      p, li {
        font-size: 13px;
        line-height: 150%;
      }

      @media (min-width: 768px) {

        float: left;
        width: 49%;
        margin: 0;
        margin-right: 2%;
        height: 150px;
        &:last-of-type {
	        margin-right: 0;
        }
        
        &.full-width {
          float: none;
          height: 300px;
          width: 100%;
          margin: 2% 0;
          ul{
            list-style-position: outside;
            margin-left: 45px;
          }
          li{
            margin:0 15px 15px 15px;
          }
        }
      }
      @media (max-width: 767px) {
	      margin: 0 1em 2em;
	      ul {
		      padding: 0 1.5em;
	      }
      }
    }

  }

.cart-body{
  background:#fff;
  padding-bottom: 2em;
}

.subtotal span.price, ul.cart.list>li.figure .value .price{
  font-family:$header_font;
  font-size:1.75em;
}

.empty-cart{
  padding:1.5em;
}

.alert_message {
  padding: 1em;
  text-align: center;
  font-weight: 600;
  font-size:14px;
  padding:13px;
  background:#CE521D;
  color:#fff;
}

.alert_icon{
  background: url('images/alert.svg');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 10px;
}

.apply_discount{
  input[type="text"]{
    font-size: 100%;
    padding: 0.75em 0.5em;
    height: 50px;
    border: 1px solid $light-gray;
    background: $alt-gray;
    font-family:$body_font;
    font-weight:300;
    max-width: 125px;
  }
  input[type="submit"]{
    background: $orange;
    color:$white;
    font-family: 'LeagueGothic',sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-transform: uppercase;
    border:none;
    font-size:1.25em;
    padding: 0.75em;
    height: 50px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    cursor: pointer;
  }
}

.promo_item{

  background: $alt-gray;
  border: 1px solid $light-gray;
  color: white;
  padding: 1em 1em 1.75em;
  text-align: left;
  @media (max-width: 767px) {
	  text-align: center;
	  margin: 2em 1em;
	  h2 {
		  margin-bottom: 0.75em;
	  }
  }

  h2{
    color: $grayblue;
  }
  button{

    height: auto;
    width: auto;
    font-size: 1.4em;
    padding: {
      left: 25px;
      right: 25px;
      top: auto;
      bottom: auto;
    }
  }
  .description{
    padding: 5px;
    color: $grayblue;
  }
  .promo-center{
    width: 100%;
    max-width: 100%;
    margin: 0;
      left: auto;
      right: auto;
      div {
	      display: inline-block;
	      vertical-align: middle;
	      width: auto;
	      margin-right: 2%;
	      @media (max-width: 768px) {
		 	width: 100%;
		 	margin-right: 0;
		 }
      }
    
  }

}
