#page .checkout, #page .receipt-cont {

  padding: 0;
  max-width: 500px;
  margin: 0px auto;

  h3, p { margin-bottom: 1em; }

  input {
    width: 100%;
    font-size: 1.15em;
    padding: 1em 0.5em;
    border: 1px solid $light-gray;
    border-radius: 2px;
    background:$alt-gray;
  }

  label {
    margin: 1em 0 .5em;
    display: inline-block;
    font-family: Lucida sans, helvetica, sans-serif;
    font-size: 90%;
  }
  .button {
    background: $orange;
  }

  .checkbox {
    width: auto;
  }


  // select {
  //   width: 100%;
  //   font-size: 1.5em;
  //   padding: 1em;
  //   border-radius:0;
  //   border: 1px solid rgba(150,150,150,0.37);
  //   background-image: linear-gradient(-179deg, #FFFFFF 0%, rgba(0,0,0,0.10) 100%);
  // }

  .timepicker {
    @media only screen and (min-width:768px){
      width: 49%;
      float: left;
      margin-right: 2%;
      &:last-of-type {
	      margin-right: 0 !important;
      }
    }
  }

  textarea {
    width: 100%;
    font-size: 1.5em;
    padding: 0.25em;
  border: 1px solid $gray;

  }

  fieldset {
    padding: 2em 1em;
    border-bottom: 1px dotted $light-gray;

  }



  .city_field {


  }

  .state_field,
  .zip_field {

      width: 40%;
      margin-right: 2.5%;
      label {
        display: block;
      }
      input,select {
        width: 100%;
      }

      float: left;
  }


  .month_field,
  .year_field,
  .cvv_field {

    margin-right: 1em;
    label {
      display: block;
    }
    input {
      width: auto;
    }

    float: left;

  }

}


.bill-info{
  width: 94%;
  padding: 1em;
  background: white;
  margin: 1em auto;
  border: 1px solid $light-gray;
  padding: 0;
  h4{
    color: $apple-green;
    font-size:1.75em;
    letter-spacing: .02em;
    margin-bottom: 0.25em;
    font-family:$header_font;
    padding: 0.75em 1em;
    background: $alt-gray;
    border-bottom: 1px solid $light-gray;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    text-transform: uppercase;
  }
  p {
    padding: .5em 1.5em 1em;
  }
  @media only screen and (min-width:768px){
    width:40%;
    min-height:190px;
    float:left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }
}

.edit-info{
  display: block;
  float: right;
  margin-top: 1em;
  margin-right: 1em;
  border-bottom: 1px dotted;
}

.list-header{
  font-size:1.5em;
  padding:0.75em;
  background: $alt-gray;
  border: 1px solid $light-gray !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.review ul.list.cart, ul.list.cart{
  margin-top:0;
  margin-bottom: 2.5em;
  border: 1px solid $light-gray;
  border-top: 0;
  padding:0.5em;
  .figure{
    border-bottom:none;
  }
}

.review p{
  line-height:1.5em;
}

.review strong{
  font-weight:bold;
}



.order_summary {
  padding: 2em 0 0.5em;
  font-size: 100%;
  font-weight: bold;
  @media (max-width: 767px) {
	  padding: 2em 1em .5em;
  }
  
}
.secure-btn {
  background-image: url('images/secure.png');
  background-repeat: no-repeat;
  background-position: top left;
}

#page form.attempted_submit .ng-invalid {
  box-shadow: none;
  border-color: #B13737;
}

.check-order {
  padding: 0 1em;
}

.drop-style{
  position:relative;
  border-radius:0px;
  border: 0;

  &:after{
    content: "\25BE";
    color:$gray;
    text-shadow: 0 -1px 0 $white;
    position:absolute;
    top: 0.55em;
    right: 0.5em;
    font-size:1.5em;
    pointer-events:none;
  }
  select {
    font-size: 1.15em;
    padding: 1em 0.5em;
    width: 100%;
    border: 1px solid $light-gray;
    box-shadow: none;
    border-radius: 2px;
    background: $alt-gray;
    background-image: none;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
  }
}

@media only screen and (min-width:768px){

}
