.store_closed_page {

  @media (min-width: 768px) {
    margin-left: 300px;
  }

  .body_inner {
    padding: 1em 2em;

  }

  .orange_box {
    padding: 2em;
    background-color: rgba(243, 131, 59, 0.9);
    margin-bottom: 40px;

    .store_name {
      text-decoration: underline;
    }
  }

  p {
    color: #FFF;
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    font-weight: bold;

    &.store_address {
      color: $orange;
      font-weight: normal;
    }

    &.links {
      font-size: 1em;
      line-height: 1.5em;
      a {
        text-decoration: underline;
      }
    }
    a {
	    font-weight: normal;
	    text-decoration: underline !important;
    }
  }


  .column {
    width: 100%;
    overflow: hidden;
    float: left;

    &.second {
      float: right;
      margin-top: 2em;
    }
    &.first p.fixed_height {
	    margin-bottom: 2em;
    }
    p {
	    color: inherit;
    }
  }

  button {
    margin-top: 1em;
    width: 250px;
  }

}


.error_message {

  background-image: url(images/error_bg.png);
  background-size: cover;
  background-position: center center;
  padding: 3em;

  @media (min-width: 768px) {

    min-height: 600px;
  }

  h1 {
    color: #FFF;
    text-transform: none;
    margin-bottom: 1rem;
  }
  p {
    color: #FFF;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  blockquote {
    color: #FFF;
    font-size: 1.2em;
    padding-left: 1em;
    margin-bottom: 1em;

  }

  button {
    margin-top: 1em;
    width: 250px;
  }

}
