	.cards{

		overflow: hidden;
		padding: 0px;

		li{
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			-ms-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;
			background-image: url('images/creditcards.png');
			background-position: 0 0;
			float: right;
			height: 32px;

			text-indent: -9999px;
			width: 51px;
		}
		.off{
			display: none;
		}

		.visa{
			background-position: 0px 0;
			&.off{
				background-position: 0px 32px;
			}
		}
		.visa_electron{
			background-position: 255px 0;
			&.off{
				background-position: 255px 32px;
			}
		}
		.mastercard{
			background-position: 204px 0;
			&.off{
				background-position: 204px 32px;
			}
		}
		.maestro{
			background-position: 153px 0;
			&.off{
				background-position: 153px 32px;
			}
		}
		.discover{
			background-position: 102px 0;
			&.off{
				background-position: 102px 32px;
			}
		}
		.amex{
			background-position: 51px 0;
			&.off{
				background-position:51px 32px;
			}
		}
	}

.creditcard-label{
	width: calc(100% - 52px);
	margin: 0 !important;
	padding: {
		top: 1.0em;
	}
	float: left;
}
