

.dialog{
  @include ease-modals;
  position: absolute;
  width: 350px;
  min-height: 200px;
  max-height:400px;
  overflow-x: hidden;
  margin: 0px auto;
  position: absolute;
  top: 10%;
  left: calc(50% - 150px);
  background: $white;
  z-index: 1000;

  .right {
    padding: 1em;
    font-size: 1.5em;
    color: $orange;
  }

  .photo {
    float: left;
    margin-right: 1em;
    max-width: 100px;
  }

  .uom {
    color: $gray;
    font-size:0.8571428571em;
    display:block;
    padding-bottom: 34px;
    margin-left: 114px;
  }

  .price_quant {
    position: absolute;
    padding: 1em;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 1.4285714286em;
    font-family:$header_font;
    color:$orange;
  }

  h3 {
    padding: 1em;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid $light-gray;
    font-family:$header_font;
    font-size:1.5em;
    background: $alt-gray;
    color: $grayblue;
    span{
      color: $orange;
    }
  }

  .footer {
    padding: .51em;
    text-align: center;
    border-top: 0;
    button{
      margin-top:0.5em;
      @media only screen and (min-width:768px){
        width:100%;
      }
    }
  }

  .inner{
    padding: 1.5em;
    position: relative;
    overflow-y: auto;
    h2{
      margin-bottom:10px;
    }
  }


  &.warning {
	h3 {
		background-color: yellow;
	}
	.right {
		color: white;
	}
	button {
		background-color: white;
		color: yellow;
	}

  }
  &.error{
	h3 {
		background-color: red;
		color: white;
	}
	.right {
		color: white
	}
	button {
		background-color: white;
		color: red;
	}
  }
  &.success{
	h3 {
		background-color: green;
		color: white;
	}
	.right {
		color: white;
	}
	button {
		background-color: white;
		color: green;
	}
  }
}
