#region-footer {
  @include clearfix;
  background-color: $cream;
  border-top: none;

  @media only screen and (min-width:768px){
    padding: 30px;
  }

  a { color: $grayblue; }



  ul.network_links,
  ul.social_links {

    @include clearfix;
    list-style-type: none;
    margin: 0px auto;

    li {
         float: left;
         margin-left: 17px;
         margin-bottom: 17px;
    }




  }
  ul.network_links{
    margin: 0 auto 17px;
    padding-top:17px;
    img{
      height:75px;
      width:auto;
    }
    @media only screen and (min-width:768px){
      padding-top:0px;
      margin:0px auto;
    }
  }


  ul.links {
    @include clearfix;
    list-style-type: none;
    margin: 0px auto;
    width:100%;
    background:#f4f1ec;
    font-family:$header_font;

    li{
      padding:15px;
      border-bottom:1px solid $light-gray;
      font-size:20px;
      text-transform:uppercase;
      letter-spacing:0.02em;
      a{
        display:inline-block;
	   font-size: 13px;
	   padding: .25em 0;
	   margin-bottom: .25em;
	   border-bottom: 1px dotted;
      }
    }

    @media only screen and (min-width:768px){
      width: 50%;
      float: left;
      background:none;
      font-family: $body_font;
      li{
        padding:0;
        border-bottom:none;
        text-transform:none;
        font-size:16px;
        font-weight:600;
      }
    }

  }

  .footer_left, .footer_right {
    width:100%;
    @media only screen and (min-width:768px){
      width: 50%;
      float: left;
    }
  }

}

.disclosure{
  background:#013d2b;
  color:$white;
  text-align:center;
  p{
    margin-bottom:0.5em;
  }
  a {
	  color: $apple-green;
  }
  span{
    font-weight:600;
    display:block;
    @media only screen and (min-width:480px){
      display:inline;
    }
  }
  .contained{
      padding:2.5em;
  }
}
