//
//ng-dirty ng-invalid ng-invalid-number ng-invalid-required
//

/// restrict validation errors to fields that have been used
input{
  -webkit-border-radius: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input.ng-dirty,
select.ng-dirty,
textarea.ng-dirty
{

  &.ng-invalid{
    //box-shadow: 1px 1px 1px 1px red;
    border: 1px solid $red;
  }

  &:focus{
    box-shadow: none !important;
  }
}

// save these style applications for after the user has attempted to submit
form.attempted_submit{

  .ng-invalid-required{
    //box-shadow: 1px 1px 1px 1px yellow;
    border: 1px solid $red;
  }
  .ng-invalid{
    //box-shadow: 1px 1px 1px 1px red;
    border: 1px solid $red;
  }
}
