#section-header {
  @include clearfix;
  background-color: $cream;
  background-image: none;
  height: 80px;

  .region-header {
    max-width: 1024px;

    margin: 0 auto;
  }


  .site-logo {

    #site-logo {
        background-image: url('images/logo.png?v=2');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 116px;
        height: 92px;
        text-indent: -10000px;
        overflow: hidden;
        float: left;
        position: absolute;
        margin-left: $side_padding;

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
    }

    .block-menu {
        float: right;

        .content {
          @include clearfix;
        }

        .menu {
          list-style-type: none;
          margin: 0;
          padding: 0;

          a {
            font-family:'LeagueGothic', sans-serif;
            color:#28323B;
            text-transform:uppercase;
            letter-spacing: 0.025em;
            font-size:18px;
          }

          li {
            float: left;
            height: 80px;
          }
          .first { }

          .last {
              border-left: 1px solid #AAA6A0;
          }

          .store_finder,
          .cart_icon {
            display: block;
            height: 50px;
            margin-top: 15px;
            text-align: center;
          }

          .user_menu {
            position:relative;
            padding: 15px;


            h4 {
              font-family: 'Open Sans', sans-serif;
              font-size: 20px;
              font-weight: 400;
              a{
                font-size: 20px;
              }
            }

            p {
              margin-top: 0.25em;
              a { font-size: 14px; }
            }
            a {
              text-decoration: underline;
              font-family: 'Open Sans', sans-serif;
            }

            &:hover{
              background:#233847;
              color:$white;
              a{
                color:$white;
              }
              p{
                a{
                  text-decoration:none;
                }
              }
              & > ul{
                display:block;
              }
            }

            @media (max-width: 350px) {

              padding-top: 20px;

              h4 {
                font-size: 12px;
                a{ font-size: 12px;}
              }

              p { a { font-size: 12px; } }

            }


          }



          .store_finder {
            background-image: url('images/location_blue.png');
            background-image: url('images/location_blue.svg');
            background-repeat: no-repeat;
            background-position: top center;
            padding-top: 30px;
            width: 100px;

            &:hover {
              background-image: url('images/location_orange.png');
              background-image: url('images/location_orange.svg');
              color: $orange;

            }
          }


          li.secure {
            padding:20px;
            @media only screen and (min-width:1044px){
              padding: 20px 0 0;
            }


            .secure {
              font-weight: normal;
              background-image: url('images/secure.png');
              background-repeat: no-repeat;
              background-position: top left;
              padding-left: 1.5em;
              font-size: 13px;

            }
          }


          .cart_icon {
            background-image: url('images/cart_blue.png');
            background-image: url('images/cart_blue.svg');
            background-repeat: no-repeat;
            background-position: top center;
            padding-top: 30px;
            width: 60px;


          }


          .last:hover {
            background-color: $orange;
            .cart_icon{
              background-image: url('images/cart_white.png');
              background-image: url('images/cart_white.svg');
              color: $white;
            }
          }

        }

    }
  }


}

#section-header .site-logo .block-menu .menu  ul.user_drop{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  list-style:none;
  background:#233847;
  z-index:999;
  width:100%;
  li{
    height:auto;
    border-top:2px solid $grayblue;
    width:100%;
    a{
      color:$white;
      font-size:1em;
      text-decoration:none;
      text-transform:none;
      display:block;
      padding:15px;
    }
    &:hover{
      background: lighten(#233847, 5%);
    }
  }
}



@media (min-width: 1024px) {
  .last {
      border-right: 1px solid #AAA6A0;
  }
}
