@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin mildclearfix {
  &:after {
    content: "";
    display: table;
    clear: right;
  }
}


@mixin container {
  max-width: 1024px;
  margin: 0px auto;
}


.contained {
  @include container;
  @include clearfix;
}

.clearfix {
  @include clearfix;
}

//TRANSITION MIXINS
@mixin ease {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
@mixin ease-modals {
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
}