@media print {

  body{
    font-size: 12px !important;
  }
  #section-header{
   display: none;
  }
  .navbar{
   display: none;
  }
  .check-order{
   display: none;
  }
  .proceed{
   display: none;
  }
  #region-footer{
    display: none;
  }
  .disclosure{
    display: none;
  }
  .signup{
    display: none;
  }
  .cart-footer{
    display: none;
  }
  .nav.tablet_only{
    display: none;
  }
  .bill-info{
    width: 50%;
    float: left;
    background: none;
  }
  .edit-info{
    display: none;
  }
  .item {
    .image{
      display: none;
    }
  }
  button{
    display: none;
  }
}
