
#page .nav {
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;

  & > * {
    padding-left: $side_padding;
    padding-right: $side_padding;
  }
}

#page .body {
  @include clearfix;
  padding: 0;
  background: $white;


  .body_inner {
    padding-top:1px;
  }

  @media (min-width: 768px) {
    .body_inner {
        padding: 2.5em;
    }
  }

}


@media (min-width:480px){
  section.product_info {
      margin: 0;
      padding: 21px;
      padding-top:30px;
      padding-bottom:36px;



      .photo {
        float: left;
        width: 43%;
        max-width: 300px;
        text-align: center;
        margin-right:21px;
      }

      .info,
      .actions {
        margin-left: 48%;
        padding:0;
      }

      .quantity_chooser .quantity {
        width: 65%;
      }

      .addToCart{
        max-width:260px;
      }

  }

}



.tablet_only { display: none; }

@media (min-width: 1025px) {
  section.product_info {
    .options { display: block; }
  }
}

@media (min-width: 768px) {

  .tablet_only { display: block; }
  .mobile_only { display: none; }
  .nav {
      width: 300px;
      float: left;
      border-left: 0;
      border-right: 0;
    }

    .body {
      float: left;
      width: calc(100% - 300px);
    }

    .product.list li {
      @include mildclearfix;
      border-radius: 5px;
    }

    .product.list li {

      width: 195px;
      margin: 0 1em 1em 0;
      float: left;
      border-top: 0;

      &:hover {

      }

      .photo {
        float: none;
        width: auto;

        img {
          width: 200px;
          height: 200px;
        }
      }

      .info {
        margin-left: 0;
      }


    }


    @media (min-width: 768px) {

      .recipe {
        width: 200px;
        height: 200px;
        margin: 0 1em 1em 0;
        float:left;
      }

    }


    section.rating,
    section.product_description,
    section.related_products,
    section.product_recipes,
    section.product_story {
      padding:18px 21px 36px;
      clear:both;
    }

    section.rating {
      padding: 15px 25px;
    }

    section.product_recipes {
      h2 {
        padding: 0;
      }
    }

    section.related_products {
      h2 {
        padding: 1em 0 0;
      }
    }

    section.product_info {
      .photo{
        width:45%;
      }

    }

}

@media only screen and (min-width:768px) and (max-width:768px){
  section.product_info .photo {
    float: left;
    width: 43%;
    max-width: 300px;
    text-align: center;
    margin-right: 21px;
  }
}

@media only screen and (min-width:800px){
  .product.list li {
    width: 200px;
  }
}


@media only screen and (min-width:480px) and (max-width:767px){
  .list.cart{
    .controls .quantity_chooser .quantity {
      width:136px;
      float:right;
    }
  }
}
