

#page .nav #store_header {
  color: $cream;
  position: relative;
  font-weight:lighter;
  letter-spacing:.025em;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  padding: 0 !important;

  .store_image {

    // background-image: url('images/lamar_photo.png');

    // filter: saturate(0%);
    // -webkit-filter: saturate(0%);
    // -moz-filter: saturate(0%);
    // -o-filter: saturate(0%);
    // -ms-filter: saturate(0%);
    background-position: center center;
    background-size: 100%;
    width: 100%;
  }

  .store_image_color_overlay {
    background-color: rgba(25, 78, 63, 0.8);
    padding: $side_padding;
  }

  a { color: $cream; }

  h1 {
    color: $cream;
    text-transform: uppercase;
    padding-top: 2em;
    padding-bottom:0.5em;
  }

  p{
    line-height:150%;
    font-weight:400;
  }

  ul.buttonbar {
      @include clearfix;
      padding-bottom:0.5em;
      li {
        float: left;
        margin-right: 1em;
      }
  }
}
