#chooser {
  background-image: url('//assets.wholefoodsmarket.com/www/online-ordering/estorepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  height: 100%;
  min-height: 100%;
      @media screen and (max-width: 767px){
        background: none;
        padding: 0;
        height: auto;
        min-height: 0;
      }

  #store_select {
    @include clearfix;
    background: #fff;
    padding: 1.5em;
    max-width: 800px;
    width: 60%;
    margin:  0;
    font-size: 1.3em;
    line-height: 1.6em;
    strong {
      font-weight: bold;
    }
    p {
      &.mobile {
        display: none;
      }
      &.fullcopy {
        display: block;
      }
      @media screen and (max-width: 767px) {
        &.mobile {
          display: block;
        }
        &.fullcopy {
          display: none;
        }
      }
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: 1.1em;
      p{
        width: 80%;
        margin: 0 auto 1em;
        display: block;
      }
    }

    h1 {
        font-size: 3em;
        line-height: 1em;
      @media screen and (max-width: 767px) {
        color: #fff;
        text-decoration: none;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 20%;
        padding-right: 20%;
        min-height:150px;
        width:100%;
        //font-size: 36px;
        text-align: center;
        margin:0 0 .25em;
        box-sizing: border-box;
        display: block;
        font-size: 2.3em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        background: url('//assets.wholefoodsmarket.com/www/online-ordering/oo_usa_estore.jpg') no-repeat;
        background-size: 100% auto;
      }
    }

    p em {
      color: #106c5a;
      font-style: italic;
      margin: 1em 0;
      font-size: 1.125em;
      display: block;
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }

    .store-select-form {
      width: 80%;
      max-width: 300px;
      margin: 2em auto 1em;
      @media screen and (max-width: 767px) {
        margin: 2em auto;
      }
    }

    label {
     //display: block;
      position:absolute;
      left:-10000px;
      top:auto;
      width:1px;
      height:1px;
      overflow:hidden;
    }

    select {
      width: 100%;
      margin-bottom: 1em;
      padding: 2px 3px;
      background: url(//www.wholefoodsmarket.com/sites/all/themes/wholefoods/images/select-arrow.jpg?1445353382) no-repeat;
      background-position: right center;
      background-color: rgba(255,255,255,0.8);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-appearance: none;
      border-color: #d56325;
      font-size: 12px;
      height: 24px;
    }

    input.form-submit {
      //height: 50px;
      padding: .25em 1em;
      margin: .25em auto;
      max-width: 80%;
      display: block;
      background-color:#F18243;
      text-align: center;
      border: none;
      color: #FFF;
      font-size: 1.4em;
      //letter-spacing: 0.025em;
      font-family:'LeagueGothic', sans-serif;
      -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
      text-transform: uppercase;
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      cursor: pointer;
       @media screen and (max-width: 767px) {
        font-size: 1.2em;
       }
    }
  }
}
