//Some basic font stuff

$body_font: 'Lucida Sans','Helvetica','sans-serif';
$header_font: "LeagueGothic","Helvetica Neue","sans-serif";

$baseline_fontsize: 16px;


$side_padding: 15px;
$padding: 10px;

//Some colors

$white: #FFF;

$black: #000;

$grayblue: #28323B;

$orange:#F18243;

$cream:#F4F1EC;

$gray:	#6B7179;

$eggshell:#FAF8F8;

$red: #B13737;

$white:	#FFFFFF;

$light-gray: #e1e1e1;

$alt-gray: #F9F9F9;
$alt-dark-gray: #979797;

$green: #1d6957;
$apple-green: #84c22d;
$kale-green: #004e36;
$oyster: #c4c2b2;
