/*
Font: 		
Style: 		
URL: 		http://www.youworkforthem.com/font/T0235/ywft-hannah
Foundry: 	YouWorkForThem
Foundry: 	http://youworkforthem.com/designer/1/youworkforthem
Copyright:	
Version: 	1.5
Created:	October 15, 2014
License: 	http://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'YWFTHannahNarrow-SemiBold';
	src: url('hannah-narrow-semibold.eot');
	src: url('hannah-narrow-semibold.eot?#iefix') format('embedded-opentype'),
	     url('hannah-narrow-semibold.woff') format('woff'),
	     url('hannah-narrow-semibold.ttf') format('truetype'),
	     url('hannah-narrow-semibold.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}
