
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
  background: $page;
}

body {
  background: #fff;
  font-family: $sans-serif-small; // Set from _custom.scss font variables
  font-size: 87.5%;
  min-width: 768px;

}

/* =============================================================================
 *   Display SIGN IN / SIGN OUT links when appropriate
 * ========================================================================== */
body {
  &.logged-in {
    a#capture_signin_link {
      display: none;
    }
    a.capture_end_session {
      display: inline;
    }
    #block-menu-menu-brand-camp-top li.last {
      display: none;
    }
  }
  &.not-logged-in {
    a#capture_signin_link {
      display: inline;
    }
    a.capture_end_session {
      display: none;
    }
  }
}


/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

h1 {}


h2 {}


h3 {}


h4 {}


h5 {}


h6 {}


p {}


b,
strong {}


i,
em {}


dfn {}


sup {}


sub {}


del {}


ins {}


blockquote {}


cite {}


q {}


address {}


ul {}


ol {}


li {}


dl {}


dd {}


dt {}


abbr {}


acronym {}


pre,
code,
tt,
samp,
kbd,
var {
  font-family: $mono;
}


/* =============================================================================
 *   Wrappers
 * ========================================================================== */

/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings. You can
 * style the .container class but do not add width such as border, padding,
 * margins etc.
 */

.region-header > .region-inner,
#branding,
#columns,
//.region-tertiary-content > .region-inner,
#footer > .region-footer
{
  max-width: 1060px;
  margin: 0 auto;
}

#page-wrapper {}


#page  {
  @include box-shadow(0px 0px 30px 5px rgba(10, 10, 10, 0.2));
  &.container {
    background: #fff;
  }
}


/*
 * Wraps all header elements - branding and .region-header
 */
#header {
  height: 70px;
  position: relative;
  margin-bottom: 41px;
}
.page-values-matter #header {
  margin-bottom: 441px;
}
.page-values-matter.page-values-matter-your-stories #header {
  margin-bottom: 175px;
}


/*
 * Wraps the sidebars the content column
 */
#columns {
  position: relative;
}


/*
 * Main content column wrapper
 */
#content-column {}


/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
#main-content {
  margin-left: 0;
  margin-right: 0;
}

/*
 * Wraps the content region, avoid applying styles to this wrapper, its used
 * mainly for position and invisible gutters and can be problematic to style
 */
#content {}


/*
 * Footer wrapper
 */
#footer {
  background-color: $footer;
  color: $medium_dark;
  position: relative;
  &#footer {
    height: auto;
  }
}


/*
 * Panels may need additional margin wrangling when in the $content region
 */
#content .panel-display {}


/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */

/*
 * Wraps the leaderboard
 */
#leaderboard-wrapper {
  .container {}
}


/*
 * Wraps the header
 */
#header-wrapper {
  /* Debug styles, is this working */
  background: $debug;
  .container {}
}


/*
 * Wraps the nav elements
 */
#nav-wrapper {
  .container {}
}


/*
 * Wraps breadcrumb
 */
#breadcrumb-wrapper {
  .container {}
}


/*
 * Wraps messages and help
 */
#messages-help-wrapper {
  .container {}
}


/*
 * Wraps the secondary content/preface region
 */
#secondary-content-wrapper {
  .container {}
}


/*
 * Wraps the main content column
 */
#content-wrapper {
  .container {}
}


/*
 * Wraps the tertiary content/postfix region
 */
#tertiary-content-wrapper {
  .container {}
}


/*
 * Footer wrapper
 */
#footer-wrapper {
  /* Debug styles, is this working? */
  background: $debug;

  .container {}
}


/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {
  position: relative;
  z-index: 5;
}


/*
 * Logo
 */
#logo {
  padding: 10px 0;

  img {
    vertical-align: bottom;
  }
}


/*
 * Wrapper for the site name and slogan
 */
#name-and-slogan {
  position: absolute;
  top: 0;
  right: 0;
  //float: right;
  a {
    display:block;
    width: 163px;
    height: 155px;
    background: url('../images/logo.png') no-repeat 0 0;
    text-indent: -9999px;
  }
}


/*
 * Site name (h1)
 */
#site-name {
  margin: 0;

  a {
    -webkit-transform: translateZ(0);

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


/*
 * Site slogan (h2)
 */
#site-slogan {
  margin: 0;
}


/* =============================================================================
 *   Page content header
 * ========================================================================== */

/*
 * Main content header wraps the page title, tabs and actions links
 */
#main-content-header {}


/*
 * The main page title (h1)
 */
#page-title {
  margin: 0;
}


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Feed icons
 */
.feed-icon {}


/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}


.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}


/*
 * Generic styles for the more link
 */
.more-link {}


/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}


/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
  margin: 0;
  padding: 0;
}


/*
 * Attribution message and link
 */
.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;
    -webkit-transform: translateZ(0);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


/* =============================================================================
 *   Regions
 * ========================================================================== */

/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
.region {}


/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
.region-inner {}


/*
 * Regions can be nested, such as when using Panels
 */
.region-inner .region-inner {}


/*
 * Header region, embedded in the #header
 */
.region-header {}


/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
.region-help {}


/*
 * Secondary content
 */
.region-secondary-content {}


/*
 * Sits above the main content header, like a content-top region
 */
.region-highlighted {}


/*
 * Sits below the main content, like a content-bottom region
 */
.region-content-aside {}


/*
 * Sidebars - targets both
 */
.sidebar {}


/*
 * First sidebar
 */
.region-sidebar-first {}


/*
 * Second sidebar
 */
.region-sidebar-second {}


/*
 * Tertiary content
 */
.region-tertiary-content {
  background-color: $front;
  color: white;
}


/*
 * Footer region
 */
.region-footer {}


/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;
  -webkit-transform: translateZ(0);

  &:link,
  &:visited {}

  &:active,
  &.active {}

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

.nav {
  clear: both;
  margin: 10px 0;

  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }

  li,
  ul.menu li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a,
  ul.menu li a {
    -webkit-transform: translateZ(0);
    display: block;
    white-space: nowrap;
    padding: 0 10px;

    &:visited {}

    &:hover,
    &:focus {}
  }

  .block {
    margin-bottom: 0;
  }
}


/* =============================================================================
 *   Superfish
 * ========================================================================== */

ul.sf-menu {
  margin-bottom: 0;

  a {
    border-left: 0;
    border-top: 0;
    padding: 0 10px;
    text-decoration: none;
    height: 2.5em;
    line-height: 2.5em;

    &:link,
    &:visited {}
  }

  li {
    -webkit-transform: translateZ(0);
    &:hover,
    &.sfHover {
      outline: 0;
    }
  }

  a {
    -webkit-transform: translateZ(0);
    &:focus,
    &:hover,
    &:active {
      outline: 0;
    }
  }
}


/*
 * Superfish blocks
 */
.block-superfish {

  .block-inner .content {}

  ul {
    margin: 0 !important;
    padding: 0 !important;

    ul {
      ul {
        ul {}
      }
    }
  }

  li {
    margin: 0 !important;
    padding: 0 !important;
  }
}


/*
 * Vertical style
 */
.sf-vertical {
  width: 100%;

  li {
    -webkit-transform: translateZ(0);
    width: 100%;

    &.last {}

    &:hover ul,
    &.sfHover ul {
      left: 100%;
      top: 0;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 0 10px;
    }
  }
}


/*
 * Navbar style
 */
.sf-navbar {
  padding-bottom: 0 !important;
}


/*
 * Sensible padding for the default style
 */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}


/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
// .at-mt is a page class
.at-mt {
  .at-menu-toggle,
  .at-menu-toggle ul,
  .at-menu-toggle ul.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .at-menu-toggle-button {
    margin: 0;
  }

  .at-menu-toggle ul a {
    padding: 0 10px;
    white-space: nowrap;
  }
}


/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  padding-left: 15px;

  ul {
    padding-left: 15px;

    ul {
      ul {}
    }
  }

  li {
    margin: 0;

    &.collapsed,
    &.expanded,
    &.leaf {}

    a {
      -webkit-transform: translateZ(0);

      &:link,
      &:visited {}

      &:active,
      &.active {}

      &:hover,
      &:focus {}
    }

    &.active a,
    &.active-trail a {}

    &.first,
    &.last {}
  }
}


/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}


/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {

  .page-links {}

  .page-previous {}

  .page-next {}

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}


/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }

  li.crumb-first {}

  li.crumb-last {}

  a {
    -webkit-transform: translateZ(0);

    &:link,
    &:visited {}

    &:active,
    &.active {}

    &:hover,
    &:focus {}
  }
}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}


.item-list ul.pager li {
  margin: 0;
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;

  &.pager-current {
    font-weight: 700;
  }
}


.block ul.pager li {
  margin: 0;
}


/*
 * Theme the various states of pager links
 */
ul.pager li {

  a {
    -webkit-transform: translateZ(0);

    &:link,
    &:visited {}

    &:active,
    &.active {}

    &:hover,
    &:focus {}
  }

  &.pager-item {}
  &.first {}
  &.last {}
  &.pager-current {}
  &.pager-first {}
  &.pager-previous {}
  &.pager-next {}
  &.pager-last {}
}


/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    -webkit-transform: translateZ(0);
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}


ul.primary {
  border-bottom-color: $border;
  margin: 20px 0;
  padding: 0 0 0 5px;

  li {
    display: block;
    float: left;
    margin: 0 1px -1px;

    a {
      -webkit-transform: translateZ(0);
      background-color: $ultralight;
      border-color: $border;
      margin-right: 1px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 1.5em;
      line-height: 1.5em;

      &:hover,
      &:focus {
        background-color: $light;
        border-color: $border;
      }
    }
  }

  li.active {
    a,
    a:hover,
    a:focus {
      background-color: $page;
      border-bottom-color: $page;
    }
  }
}


ul.secondary {
  border-bottom: 1px solid $border;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      -webkit-transform: translateZ(0);
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}


/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;

  li {}
}


/* =============================================================================
 *  Field Styling
 * ========================================================================== */

/*
 * Wrapper for any field
 */
.field {}


/*
 * Above and inline classes are on the field wrapper
 */
.field-label-above {}


/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
.field-label-inline {

  /* Remove the margin on inline field lables to preserve vertical formatting */
  .field-label {
    margin: 0;
  }
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}


/*
 * Field types (Core)
 */

/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
.field-type-image {

  .caption {}

  .full-caption {}

  .teaser-caption {}
}


/*
 * Taxonomy
 */
.field-type-taxonomy-term-reference {

  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;

  &.field-label-inline .field-items {
    margin: 0;
    padding: 0;
  }

  &.field-label-inline .field-item {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}


/*
 * Text
 */
.field-type-text {}


/*
 * Long text
 */
.field-type-text-long {}


/*
 * Text with summary
 */
.field-type-text-with-summary {}


/*
 * File
 */
.field-type-file {}


/*
 * Number/Integer
 */
.field-type-number-integer {}


/*
 * Decimal
 */
.field-type-number-decimal {}


/*
 * Number float
 */
.field-type-number-float {}


/*
 * List
 */
.field-type-list-text {}


/*
 * List boolean
 */
.field-type-list-boolean {}


/*
 * List integer
 */
.field-type-list-integer {}


/*
 * List float
 */
.field-type-list-float {}


/*
 * Field types (Contrib)
 */
.field-type-datetime {}

.field-type-node-reference {}

.field-type-user-reference {}


/*
 * Named fields
 */
.field-name-body {}

.field-name-field-image {}

.field-name-field-tags {}


/*
 * Underscores in field name are replaced with dashes
 */
.field-name-field-FIELDNAME {}


/*
 * Image Alignment Theme Settings - included here so you can easily override
 */

/*
 * Float none setting
 */
.ia-n .field-type-image,
.iat-n .field-type-image {}


/*
 * Float left setting
 */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}


/*
 * Centered setting
 */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}


/*
 * Float right setting
 */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}



/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
.block {
  margin-bottom: 20px;
}


/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
.block-inner {}


/*
 * The first block in the region
 */
.block.first {}


/*
 * The last block in the region
 */
.block.last {}


/*
 * Zebra striping for each block in the region
 */
.block.odd {}


/*
 * Zebra striping for each block in the region
 */
.block.even {}


/*
 * Block title
 */
.block-title {
  margin: 0;
}


/*
 * Block content wrapper
 */
.block-content {}


/*
 * Match item list and block menu margin and padding
 */
.block-content {

  ul,
  ol {
    padding: 0 0 0 15px;
  }

  li {
    margin: 0;
    padding: 0;
  }
}


/*
 * Block for the latest news items in the first category
 */
#block-aggregator-category-1 {}


/*
 * Block for the latest news items in the first feed
 */
#block-aggregator-feed-1 {}


/*
 * First block created with "Add block" link
 */
#block-block-1 {}


/*
 * "Recent blog posts" block
 */
#block-blog-recent {}


/*
 * "Book navigation" block for the current book's table of contents
 */
#block-book-navigation {}


/*
 * "Recent comments" block
 */
#block-comment-recent {}


/*
 * "Active forum topics" block
 */
#block-forum-active {}


/*
 * "New forum topics" block
 */
#block-forum-new {}


/*
 * Language switcher block
 */
#block-locale-language {}


/*
 * Custom menu block
 */
#block-menu-menu-NAME {}


/*
 * "Recent content" block
 */
#block-node-recent {}


/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
#block-node-syndicate {}


/*
 * "Most recent poll" block
 */
#block-poll-recent {}


/*
 * "Author information" block for the profile of the page's author
 */
#block-profile-author-information {}


/*
 * "Search form" block
 */
#block-search-form {}


/*
 * "Shortcuts" block
 */
#block-shortcut-shortcuts {}


/*
 * "Popular content" block
 */
#block-statistics-popular {}


/*
 * "Main menu" block
 */
#block-system-main-menu {}


/*
 * "Management" block for Drupal management menu
 */
#block-system-management {}


/*
 * "Navigation" block for Drupal navigation menu
 */
#block-system-navigation {}


/*
 * "User menu" block for Drupal user menu
 */
#block-system-user-menu {}


/*
 * "System help" block
 */
#block-system-help {}


/*
 * "Main page content" block
 */
#block-system-main {}


/*
 * "Powered by Drupal" block
 */
#block-system-powered-by {}


/*
 * "User login form" block
 */
#block-user-login {}


/*
 * "Who's new" block for a list of the newest users
 */
#block-user-new {}


/*
 * "Who's online" block for a list of the online users
 */
#block-user-online {}


/* =============================================================================
 *   Node Styling
 * ========================================================================== */

a.all-topics {
  display: none;
}

.page-node {
  #tasks {
//    display: none;
  }

  .content-inner #block-system-main  {
    background: #fff;
  }

  a.all-topics {
    display: block;
    max-width: 1060px;
    margin: auto;
    height: 70px;
    background: url("../images/back-all-topics.png") no-repeat;
    text-indent: -1000em;
    position: relative;
    z-index: 2;
  }

   h1#page-title {
    @include tile-title;
    margin: 20px 6px 20px 34px;
  }
  .field-name-field-bc-sub-title, .field-name-field-bc-sub-title a {
    @include tile-sub-title;
    margin: 20px 0;
    .title {
      color: $title;
    }
  }
  .field-name-field-bc-sub-title a {
    font-size: 30px;
  }
  h1#page-title, .field-name-field-bc-sub-title {
    float: left;
    font-size: 30px;
    margin-left: 20px;
  }

  .social-links {
    float: right;
    margin: 19px 0;
    h3 {
      margin: 0;
      display: none;
    }
    .share-sign {
      display: inline-block;
      text-indent: -1000em;
      background: url("../images/icons-share-sign.png");
      width: 55px;
      height: 31px;
      zoom: 1;
    }
    .item-list {
      display: inline-block;
    }
    li {
      list-style-type: none;
      margin: 0 19px 0 0;
      display: inline-block;
      zoom: 1;

      a {
        display: block;
        text-indent: -1000em;
        width: 31px;
        height: 31px;
      }
    }
    .social-fb {
      background: url("../images/icons-fb.png");
    }
    .social-twitter {
      background: url("../images/icons-twitter.png");
    }
    .social-pinterest {
      background: url("../images/icons-pinterest.png");
    }
    .social-tumblr {
      background: url("../images/icons-tumblr.png");
    }
  }

  div.field-name-body {
    clear: both;
    font-family: $lucida;
    font-size: 14px;
    margin: 20px;
    color: #3b4a45;
    a, a:visited {
      color: #faa42e;
      text-decoration: underline;
    }
  }

  .field-name-field-bc-external-link {
    @include league;
    clear: both;
    font-size: 24px;
    margin: 20px;
    text-transform: uppercase;
    .field-label {
      color: #d0b657;
      font-weight: normal;
    }
    a {
      -webkit-transform: translateZ(0);
      color: #faa42e;
      display: inline-block;
      text-decoration: underline;
      &:after {
        content: ' >';
      }
      &:hover {
        text-decoration: none;
      }
    }
  }

  #block-system-main div.field-name-body .field-items {
  }

  // implement autoresizing of video
  div.field-name-field-bc-video-embed {
    clear: both;
    div.player {
      position: relative;
      padding-bottom: 57%;
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }


  #block-views-brand-camp-list-block-2 ~ #block-views-brand-camp-list-block-1, #block-views-brand-camp-list-block-1 h2.block-title {
    display: none;
  }
}

.node {
//  margin-bottom: 20px;

  &.node-promoted {}

  &.node-sticky {}

  &.node-by-viewer {}

  &.node-teaser {}

  &.node-full {}

  &.odd {}

  &.even {}

  .node-title {
    margin: 0;
  }

  .user-picture {}

  .submitted {

    .username {}

    time {}
  }

  .node-content {}

  ul.links {

    li {}
    li a {}

    li.node-read-more a {}
    li.comment-add a {}
    li.comment-comments a {}
    li.comment-new-comments a {}
    li.blog-sernames-blog a {}
    li.print-html a {}
    li.print-email a {}
    li.print-pdf a {}
  }
}


.preview .node {}


/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page {}

.node-article {}

.node-book {}

.node-forum {}

.node-poll {}


/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;

  h2 {
    &.comment-title {
      margin: 0;
    }

    &.comment-form {
      margin: 0;
    }
  }
}


/*
 * Wrapper for a single comment
 */
.comment {
  margin-bottom: 20px;

  &.first {}

  &.last {}

  &.odd {}

  &.even {}

  .user-picture {}

  .submitted {

    p {}

    .username {}

    time {}
  }

  .user-signature {}

  ul.links {}
}


/*
 * Comment title
 */
.comment-title {
  margin: 0;
}


/*
 * Comment states
 */
.comment-new {}

.comment-by-anonymous {}

.comment-by-node-author {}

.comment-by-viewer {}

.comment-title-hidden {}

.comment-with-picture {}

.comment-with-signature {}


/*
 * Preview of the comment before submitting new or updated comment
 */
.comment-preview {}


/*
 * "New" marker for comments that are new for the current user
 */
.new {
  color: $highlight;
}


/*
 * Nested comments are indented
 */
.indented {
  margin-left: 40px;
}


/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {

  input.error,
  textarea.error,
  select.error {
    border: 1px solid $highlight;
  }

  label {
    font-weight: 700;
  }

  label.option {
  }

  .description {
    font-size: 0.85em;
  }

  &.form-checkboxes ,
  &.form-radios {
  }
}


/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: $highlight;
}


/*
 * The submit button
 */
.form-submit {
}


.container-inline {
  div,
  label {
    display: inline;
  }
}

/*
 * Define consistent borders
 */
fieldset {
  border: 1px solid $border;
}

/*
 * Tips for Drupal's input formats
 */
.tips {
}


/*
 * Buttons used by contrib modules like Media
 */
a.button {
  @include appearance(button);
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;

  &.sticky-header {
    z-index: 10;
  }
}


table,
thead,
tbody,
tr,
th,
td {
  border-color: $border;
}


table,
td,
th {
  vertical-align: middle;
}


caption,
th,
td {
  text-align: left;
}


thead tr {
  font-weight: 700;
  background-color: $medium_dark;
}


td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}


tbody {}


tbody tr {
  border-top: 1px solid $border;
}


tr {

  &.odd {
    background: $page;
  }

  /* Table row striping */
  &.info,
  &.even,
  &:nth-child(2n+2)  {
    border-bottom: 0;
    background-color: $ultralight;
  }

  &.drag {}

  &.drag-previous {}

  &.odd td.active {
    background-color: $light;
  }

  &.even td.active {
    background-color: $medium_light;
  }
}


.lt-ie8 tr {

  &.even,
  &.odd {

    th,
    td {
    }
  }
}


/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {
  &.created,
  &.posts,
  &.topics,
  &.last-reply,
  &.replies,
  &.pager {
    white-space: normal;
  }
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

div {
  &.messages {
  // Left and right margin are set by the global gutter width
  margin-bottom: 10px;
  margin-top: 10px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.status {
  }

  &.warning {
  }
}

tr.warning {
}


div.error,
tr.error {
}


.error {
}


.warning {
}


/*
 * Unpublished nodes
 */
.node-unpublished,
.comment-unpublished {
}


.node-unpublished,
.comment-unpublished {

  p.unpublished {
    @include unpublished;
  }
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {
  .container {
    padding: 40px 0;
  }

  #site-name,
  #page-title {
    margin: 0;
  }
}


.db-offline {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 960px;
  }

  div.messages {
    margin: 20px 0 0;
  }

  #content {
    padding: 20px 0;
  }
}


/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Toolbar overrides
 */
#toolbar ul li {
  display: list-item;
}

/*
 * Devel Module
 */
.dev-query {
  background: $light;
  padding: 30px;
}


/*
 * Styleguide module tweaks
 */
#styleguide-header {
  padding: 0 10px;

  .item-list {
    font-family: inherit;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}

#page {
  background-color: white;
}
.page-values-matter #page {
//  background-color: #3b4a45;
}


#block-boxes-bc-twitter {
  position: relative;
  left: 50%;
  margin: 0;
  margin-left: -630px;

  > .block-inner {
    position: relative;
    width: 1260px;
  }
  img {
    display:block;
  }
  p, .block-inner {
    margin: 0;
  }
  p.text {
    position: absolute;
    top: 333px;
    left: 0;
    right: 0;
    text-align: center;
    img { display: inline }
  }

}

#block-boxes-bc-back, #block-boxes-bc-back-content, #block-boxes-bc-back-bc-ugc-image {
  max-width: 1260px;
  position: relative;
  margin: 0 auto;
  .boxes-box-content {
    overflow: hidden;
    position: relative;
  }

  > .block-inner {
    position: absolute;
    width: 1260px;
    top: 0;
    left: 50%;
    margin: 0;
    margin-left: -630px;

    p.text {
      position: absolute;
      top: 210px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}

#block-boxes-top-text-bc-ugc-image {
  clear: both;
  color: #ffffff;
  font-family: 'ywfthannahnarrow';
  position: relative;
  .block-inner {
    font-size: 20px;
    margin:0;
  p {
    font-size: 90px;
    letter-spacing: 2px;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
  }
  .isoFilters {
    position: relative;
    z-index: 1;
    &.desktop:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      content: " ";
      display: block;
      margin: 0 -100px;
      background-color: rgb(38, 99, 79);
      opacity: 0.851;
      z-index: -1;
    }

    .isoFilters-widget {
      width: 33%;
      height: 30px;
      padding: 20px 0;
      &.ugc-search {
        width: 66%;
        * {
          vertical-align: middle;
          display: inline;
        }
        span {
          vertical-align: initial;
        }
        form#ugc-single-search-form {
          position: absolute;

          input#ugc-single-search-value {
            border: 1px solid #a6a6a6;
            color: #999999;
            font-family: $lucida;
            font-size: 12px;
            line-height: 27px;
            text-transform: uppercase;
            width: 205px;
            height: 27px;
            padding: 0 5px;
          }
          input#ugc-single-search-submit {
            background-color: #ea7c1c;
            border: none;
            color: #ffffff;
            font-family: "LeagueGothic";
            font-size: 20px;
            line-height: 31px;
            padding: 0 12px;
          }
        }

      }
      .title, .filter {
        display: inline;
        @include league;
        color: rgb(153, 174, 165);
        padding: 0 10px 0 0;
        a {
          -webkit-transform: translateZ(0);
          color: white;
          cursor: pointer;
          display: inline-block;
          height: 46px;
          margin-top: -15px;
          padding: 15px 8px 0;
          text-decoration: none;
        }
        a:hover {
          color: #faa32f;
          text-decoration: none;
        }
        a:visited {
          color: white;
          text-decoration: none;
        }
        span{
          display: none;
        }
      }
      .title span {
        display: inline;
      }
      .title:after {
        display: inline;
        content: ':';
      }
      .filter.selected a {
        background: url('../images/checked.png') no-repeat center center;
        color: #e0c766;
      }

      /* RWD specific styles */
      &.tablet-widget {
        background: rgba(38, 99, 79, 0.70) url('../images/dropdown.png') no-repeat right 23px;
        float: none;
        height: 50px;
        max-width: 500px;
        margin: 5px auto;
        padding: 0;
        width: 100%;
        cursor: pointer;
        display: block;
        &.expanded { //expanded dropdown filters
          position: relative;
          height: 50px !important;
          background: rgba(38, 99, 79, 0.7) url('../images/dropdown.png') no-repeat right -18px;
          .filters {
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            .filter {
              background: #fff;
              border-bottom: 1px solid silver;
              color: #2a604d;
              display: block;
              height: 49px;
              line-height: 49px;
              margin: 0;
              padding: 0;
              text-align: left;
              text-indent: 20px;
              a {
                -webkit-transform: translateZ(0);
                background: none;
                color: #2a604d;
                display: block;
                height: 49px;
                line-height: 49px;
                margin: 0;
                padding: 0;
              }
              a:hover {
                background: #e0c766;
                color: #2a604d;
              }
              span{
                display: none;
              }
            }
            .filter:last-child {
              border-bottom: 0;
            }
            .filter.selected {
              color: #e0c766;
              a {
                color: #e0c766;
              }
            }
            .filter:hover {
              background: #e0c766;
              color: #2a604d;
              a {
                color: #2a604d;
              }
            }
          }
        }
        .title {
          margin: 9px 20px;;
          float: left;
          cursor: pointer;
          &:after {
            display:inline;
            content: '...';
          }
        }
        label.option {
          -webkit-transform: translateZ(0);
        }
        label.option:hover {
          color: white;
        }
        .filters {
          float: right;
          height: 100%;
          .form-item {
            display: block;
          }
          .filter {
            span {
              background: transparent;
              color: #ffffff;
              display: inline;
              height: auto;
              float: none;
              margin: 9px 40px;
              padding: 0;
              text-align: right;

            }
            a {
              display: none;
            }
          }
        }
        input ~ label {
          display: none;
        }
        input[checked="checked"] ~ label {
          display: block;
        }
        &.expanded {
          input ~ label, .filter {
            display: block;
          }
        }

        .filter {
          display: none;
          &.selected {
            display: block;
            margin: 9px 0px;
          }
        }
        &.ugc-search {
          background: #fff;
          margin-bottom: 10px;
          position: relative;
          top: 65px;
          ~ .ugc {
            position: relative;
            top: -65px;
          }
          .title {
            margin-right: 0;
            color: #336666;
            &:after {
              display: none;
            }
          }
          .desktop {
            display: none;
          }
          form#ugc-single-search-form {
            padding: 9px 0;
            display: block;
            right: 0;
            margin-right: 5px;
            input#ugc-single-search-value {
              width: 275px;
              padding: 0 5px;
            }
          }
          span {
            display: none;
          }
        }
      }

      div {
        display: inline;
      }


      input {
        display: none;
      }

      &.views-widget-filter-field_bc_iwantto_value,  &.iwantto {
        text-align: center;
      }
      &.ugc {
        text-align: right;
      }

    }
  }
  }
}

.region-header:before {
  content: " ";
  display: block;
  width: 100%;
  background-color: #fff;
  height: 70px;
  position: absolute;
  top: 0;
  z-index: 2;
}

#page-wrapper {
  overflow: hidden;
  #page {
    max-width: 1260px;
    margin: 0 auto;
  }
}


#block-search-api-page-global-search {
  z-index: 3;
  position: relative;
}

#messages {
  position: relative;
}

p.headerTextSlides {
  font-family: "LeagueGothic";
  letter-spacing: 1px;
  color: #fff;
  font-size: 38px;
  margin-top: 182px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #000;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#222')";
}

p.text.footerTextSlides {
  font-family: "ywfthannahnarrow";
  letter-spacing: 1px;
  color: #fff;
  font-size: 38px;
  padding: 0 15%;
  text-transform: uppercase;
  margin: 0 20px;
  #block-boxes-bc-twitter & {
    top: 164px;
  }
}

.invisible {
  display: none;
}

.page-values-matter {

  #main-content-header, #block-views-promo-blocks-homepage-local {
    display: none;
  }
  .view-brand-camp-list {
    .view-content {
      min-height: 360px;
    }
    .node-title {
      margin-top: 0px;
    }
  }
}

.view-brand-camp-list {
  .view-filters {
    display: none; //override with js filters
  }
  .view-filters, .isoFilters {
    position: relative;
    z-index: 1;
    &.desktop:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      content: " ";
      display: block;
      // height: 70px;
      margin: 0 -100px;
      background-color: rgb(38, 99, 79);
      opacity: 0.851;
      z-index: -1;
    }

    .views-exposed-widget, .isoFilters-widget {
      width: 33%;
      height: 30px;
      padding: 20px 0;
      &.ugc-search {
        width: 66%;
        * {
          vertical-align: middle;
          display: inline;
        }
        input#ugc-search-value {
          border: 1px solid #a6a6a6;
          color: #999999;
          font-family: $lucida;
          font-size: 12px;
          line-height: 27px;
          text-transform: uppercase;
          width: 195px;
          padding: 0 5px;
        }
        input#ugc-search-submit {
          background-color: #ea7c1c;
          border: none;
          color: #ffffff;
          font-family: "LeagueGothic";
          font-size: 20px;
          line-height: 31px;
          padding: 0 12px;
        }
      }

      /* RWD specific styles */
      &.tablet-widget {
        background: rgba(38, 99, 79, 0.70) url('../images/dropdown.png') no-repeat right 23px;
        /*background: ;*/
        float: none;
        height: 50px;
        max-width: 500px;
        margin: 5px auto;
        padding: 0;
        width: 100%;
        cursor: pointer;
        display: block;
        .views-widget label, .filter.filter{
          color: white;
        }
        &.expanded { //expanded dropdown filters
          position: relative;
          height: 50px !important;
          background: rgba(38, 99, 79, 0.7) url('../images/dropdown.png') no-repeat right -18px;
          .views-widget input[checked="checked"] ~ label, .filters .filter.selected{
            color: #e0c766;
          }
          div.views-widget, .filters {
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            label, .filter {
              display: block;
              height: 49px;
              margin: 0;
              background: #fff;
              border-bottom: 1px solid silver;
              color: #2a604d;
              text-align: left;
              text-indent: 20px;
              line-height: 49px;
              pointer-events: auto;
            }
            label, .filter {
              -webkit-transform: translateZ(0);
            }
            label:hover, .filter:hover {
              background: #e0c766;
              color: #2a604d;
            }
            .form-item:last-child label, .filter:last-child {
              border-bottom: 0;
            }
          }
        }
        & > label, .title,  {
          margin: 9px 20px;;
          float: left;
          cursor: pointer;
          &:after {
            display:inline;
            content: '...';
          }
        }
        label.option {
          -webkit-transform: translateZ(0);
        }
        label.option:hover {
          color: white;
        }
        .views-widget, .filters {
          float: right;
          height: 100%;
          .form-item {
            display: block;
          }
          label, .filter {
            background: transparent;
            height: auto;
            float: none;
            margin: 9px 40px;
            padding: 0;
            text-align: right;
            pointer-events: none;
          }
        }
        input ~ label {
          display: none;
        }
        input[checked="checked"] ~ label {
          display: block;
        }
        &.expanded {
          input ~ label, .filter {
            display: block;
          }
        }

        .filter {
          display: none;
          &.selected {
            display: block;
          }
        }

        &.ugc-search {
          background: #fff;
          margin-bottom: 10px;
          position: relative;
          top: 65px;
          ~ .ugc {
            position: relative;
            top: -65px;
          }
          .title {
            margin-right: 0;
            color: #336666;
            &:after {
              display: none;
            }
          }
          .desktop {
            display: none;
          }
          form {
            padding: 9px 0;
            display: block;
            #ugc-search-value {
              width: 275px;
              padding: 0 5px;
            }
          }

        }
      }

      div {
        display: inline;
      }

      label, .title, .filter {
        display: inline;
        @include league;
        color: rgb(153, 174, 165);
        padding: 0 10px 0 0;
        &.option {
          -webkit-transform: translateZ(0);
          margin-top: -15px;
          padding: 15px 8px 0;
          display: inline-block;
          color: white;
          height: 46px;
          cursor: pointer;
        }
        &.option:hover {
          color: #faa32f;
        }
      }
      .filter {
        -webkit-transform: translateZ(0);
        margin-top: -15px;
        padding: 15px 8px 0;
        display: inline-block;
        color: white;
        height: 46px;
        cursor: pointer;
        &:hover {
          color: #faa32f;
        }
      }
      input[checked] ~ label, .filter.selected {
        background: url('../images/checked.png') no-repeat center center;
        color: #e0c766;
      }

      input {
        display: none;
      }

      &.views-widget-filter-field_bc_iwantto_value,  &.iwantto {
        text-align: center;
      }
      &.ugc {
        text-align: right;
      }

      &.views-submit-button {
        display: none;
      }
    }
  }
  .view-content {
    left: -20px;
    margin-right: -20px;
    position: relative;
    text-align: center;
    font-size: 0;
    .views-row {
      font-size: 14px;
    }
    .no-matches {
      @include league;
      color: white;
      padding: 20px;
    }
  }
  .node-header, .node-content {
    text-align: left;
  }
  .views-row {
    -webkit-transform: translateZ(0);
    display: inline-block;
    zoom: 1;
    *display: inline;
    transition: box-shadow 0.3s;

    &.hover {
      @include box-shadow(0px 0px 30px 5px rgba(10, 10, 10, 0.8));
      .node-header {
        background: #d0b657;
        a, .sub-title {
          color: white;
        }
      }
      .field-name-body .field-item {
        color: #000;
      }
      .node-bc-ugc-image{
        .field-name-field-bc-cover-image {
          .field-item:before {
            display: none;
          }
          figure {
            opacity: 0.3;
          }
        }
        .field-name-field-bc-album-name, .field-name-field-bc-src-likes-count, .field-name-field-bc-src-service {
          display: block;
        }
        .field-name-field-bc-src-username .field-item:after {
          display: block;
        }
      }
    }
  }
}

.page-values-matter:not(.page-values-matter-your-stories) {
  .views-row .node-bc-ugc-image .field-name-field-bc-cover-image .field-item:before {
    content: '';
    background: url("../images/ugc_explore.png") no-repeat 10px 0px;
    padding: 0 150px 170px 10px;
    position: absolute;
    top: 162px;
    z-index: 1;
  }
}

.view-brand-camp-list {
  &.view-display-id-block_1 {
    margin-top: -20px;
  }
  .views-row {
    display: inline-block;
    height: 340px;
    margin: 20px 0 0 20px;
    width: 340px;
    overflow: hidden;

    article {
      visibility: hidden;
    }
    &.shown article {
      visibility: visible;
    }

    .curtain {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      background-color: white;

      -webkit-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0);
    }
    &.animate {
      .curtain {
        -webkit-animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
        animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;

        @keyframes swipeRight {
          0% {}
          50%, 60% { -webkit-transform: translate3d(0,0,0); transform: translate(0); }
          100% { -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0); }
        }
        @-webkit-keyframes swipeRight {
          0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
          50%, 60% { -webkit-transform: translate3d(0,0,0); }
          100% { -webkit-transform: translate3d(100%,0,0); }
        }
      }
      article {
        -webkit-animation: showMe 1.5s step-end forwards;
        animation: showMe 1.5s step-end forwards;

        @-webkit-keyframes showMe {
          from { visibility: hidden; }
          60%, 100% { visibility: visible; }
        }

        @keyframes showMe {
          from { visibility: hidden; }
          60%, 100% { visibility: visible; }
        }
      }
    }

  }

  article div.field-name-body {
    margin: 0;
  }
}
article.node-teaser {
  position: relative;
  width: 340px;
  height: 340px;
  margin: 0 20px 20px 0;
//  float: left;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
  background-color: white;
  &.node-bc-connect {
    cursor: default;
    header {
      display: none;
    }
    .field-name-body, .field-name-body .field-items, .field-name-body .field-item {
      height: 100%;
      padding: 0;
      width: 100%;
    }
  }

  &.node-bc-ugc-image {
    header {
      display: none;
    }

    &.chute-liked .field-name-field-bc-cover-image .ugc_img {
      opacity: 0.7;
    }

    .field-name-field-bc-cover-image {
      figure {
        position: absolute;
        opacity: 1;

        -webkit-transition: opacity .3s ease;
        -moz-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        -ms-transition: opacity .3s ease;
        transition: opacity .3s ease;
      }
    }

    .field-name-field-bc-src-username {
      background-color: rgba(41, 98, 79, 0.5);
      height: 49px;
      position: relative;
      line-height: 49px;
      float: right;

      .field-item {
        a {
          @include league;
          color: white;
          display: inherit;
          padding: 0px 16px;
          text-decoration: none;
          letter-spacing: 1px;
          max-width: 140px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 49px;
        }
        a:visited {
          color: white;
        }
        &:after {
          background: url("../images/ugc_magnifier.png") no-repeat;
          content: "";
          display: none;
          width: 33px;
          height: 33px;
          position: absolute;
          top: 298px;
          right: 9px;
          pointer-events: none; /*click-through*/
        }
      }
    }

    .field-name-field-bc-album-name {
      display: none;
      position: relative;
      margin: 0 15px 0 0;
      float: right;

      .field-items {
        margin: 0;
        padding: 0;

        .field-item {

          @include league;
          color: #336666;
          line-height: 49px;
          font-size: 22px;
          max-width: 144px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .field-name-field-bc-src-likes-count {
      display: none;
      clear: right;
      padding-top: 136px;

      .field-items {
        @include league;
        color: white;
        background-color: #25634e;
        border-radius: 45px;
        height: 86px;
        line-height: 86px;
        margin: 0 auto;
        position: relative;
        text-align: center;
        width: 86px;

        &:after {
          background: url("../images/heart-like-it.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
          content: "";
          display: block;
          width: 157px;
          height: 138px;
          position: absolute;
          top: -119px;
          left: -36px;
        }
      }
    }

    .field-name-field-bc-src-service {
      display: none;
      //position: relative;
      clear: right;
      float: right;
      padding-top: 4px;
      padding-right: 16px;

      .field-item {
        @include league;
        color: #336666;
        margin-top: 6px;
        text-align: center;
        font-size: 21px;
        letter-spacing: 1px;

        &:before {
          content: "VIA ";
          display: inline;
        }
      }
    }
  }

  header {
    position: absolute;
    height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;

    padding: 0 16px;
    h1 {
      height: 42px;
      overflow: hidden;
      a {
        @include tile-title;

        span {
          @include tile-sub-title;
        }
      }
    }

  }

  .field-name-field-bc-sub-title {
    display: none;
  }

  .field-name-field-bc-showme {
    position: absolute;
    top: 8px;
    right: 8px;
    .field-item {
      width: 44px;
      height: 44px;
      text-indent: -9999px;
      margin-bottom: 8px;

      &.field-key-1 {
        background: url('../images/category-food.png') no-repeat 0 0;
      }
      &.field-key-2 {
        background: url('../images/category-people.png') no-repeat 0 0;
      }
      &.field-key-3 {
        background: url('../images/category-planet.png') no-repeat 0 0;
      }
      &.field-key-special {
        background: url('../images/category-special.png') no-repeat 0 0;
        height: 90px;
        width: 90px;
      }
    }
  }

  .field-name-field-bc-summary {
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 16px;
    .field-item {
      overflow: hidden;
      text-overflow: ellipsis;
      p {
        display: inline;
        margin: 0;
      }

        font-size: 16px;
        color: rgb(59, 74, 69);

    }
  }
  .field-name-field-bc-weight, .field-name-field-bc-iwantto, .field-name-field-bc-iwantto, .field-name-field-bc-position {
    display: none;
  }
}

body.page-values-matter-your-stories #boxes-box-top_text_bc_ugc_image .isoFilters {
  display: none;
}

body.page-node #block-system-main article.node-bc-ugc-image {
  font-family: "LeagueGothic";
  .field-name-field-bc-src-username{
    color: #29634f;
    font-size: 34px;
    padding: 38px 0 29px;
    text-align: center;
    text-transform: uppercase;
    span {
      padding: 0 96px;
    }
    a {
      color: #29634f;
      text-decoration: none;
    }
    a:visited {
      color: #29634f;
    }
  }
  img.ugc_img {
    display: block;
    margin: 0 auto;
  }
  .field-name-body {
    color: #29634f;
    font-family: "LeagueGothic";
    font-size: 34px;
    line-height: 40px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
  }
  .social-links {
    display: none;
  }
  .field-name-field-bc-src-likes-count {
    display: none;
  }
}

.page-node.node-type-bc-ugc-image {
  a.all-topics {
    background: url("../images/back-return.png") no-repeat;
  }
  #header {
    height: 330px;
  }
  #tasks {
    margin-bottom: 0px;
    ul.primary {
      margin-bottom: 0px;
    }
  }
  #block-system-main {
    margin-bottom: 40px;
  }
}

article.node-teaser.node-bc-video {
  .field-name-field-bc-cover-image {
    .field-item a:before {
      content: '';
      background: url("../images/play_video.png") no-repeat 11px 0px;
      padding: 0px 90px 90px 11px;
      position: absolute;
      top: 170px;
    }
  }
}

article.node-bc-connect .social-links {
  display: none;
}

/* =============================================================================
 *   Monster Navigation
 * ========================================================================== */
.block-wfm-monster-nav {
  position: relative;
  float: left;
  z-index: 80;
  width: 100px;
  height: 70px;
  overflow: visible;
  font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;

  a.home-link {
    display: block;
    width: 195px;
    height: 135px;
    overflow: hidden;
    text-indent: -9999px;
    margin: 10px 0 0 0;

    background: #fff url('../images/monster_nav_sprites_2016.png') no-repeat;
    background-position: 0 0;
  }

  .bc-menu-btn{
    display: block;
    background: transparent url('../images/menu-icon.png') no-repeat 0 0;
    line-height: 30px;
    width: 63px;
    height: 30px;
    padding: 24px 0 16px 30px;
    margin-bottom: -10px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;

    @include league;
    color: $snap-pea;
  }
  
  .displayed .nav-tab {
    background-position: 0;
  }
  
  .nav-tab { 
    display: block; 
    width: 24px; 
    height: 111px; 
    position: absolute; 
    right: -25px;
    top: 26px; 
    background: #fff url('../images/nav-sprite-2016.png') 0 0 no-repeat;
    background-position: -24px 0;
    cursor: pointer; 
    z-index: 20; 
  }

  .block-content {
    -webkit-transform: translateZ(0);
    position: fixed;
    left: 0px;
    top: 120px;
    z-index: 500;
    background: #fff;
    width: 204px;
    height: 598px;
    overflow: visible;
    margin-left: -205px;
    border-top: 1px solid $apple;
    border-right: 1px solid $apple;
    border-bottom: 1px solid $apple;
    @include box-shadow(0px 0px 30px 5px rgba(10,10,10,0.2));
  }
  &:hover .block-content {
    // display: block; // used click to show
  }

  .main-links-container > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .undernav-nav-content & {
      padding: 0;
    }

    & > li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style-image: none;
      position: relative;
      width: 190px;

      .undernav-nav-content & {
        padding: 0 0 0 30px;
        background-image: none;
      }

      &.last {
        background-image: none;
      }

      a.primary-link {
        display: block;
        width: 203px;
        height: 56px;
        overflow: hidden;
        text-indent: -9999px;
        text-decoration: none;
        background: #fff url('../images/monster_nav_sprites_2016.png') no-repeat;
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        -ms-transition-property: none;
        transition-property: none;
      }

      a.about-our-products {
        background-position: 0 -182px;
      }
      a.blogs {
        background-position: 0 -414px;
      }
      a.healthy-eating {
        background-position: 0 -124px;
        border-top: 0 none;
      }
      a.mission-values {
        background-position: 0 -356px;
      }
      a.online-ordering {
        background-position: 0 -298px;
      }
      a.recipes {
        background-position: 0 -240px;
      }
      a.store-departments {
        background-position: 0 -472px;
        border-bottom: 0 none;
      }
    }
  }

  ul > li {
    display: list-item;
    margin-left: 0.5em;

    .menu-drop-container {
      -webkit-transform: translateZ(0);
      display: none;
      position: absolute;
      left: 205px;
      top: -40px;
      width: 810px;
      padding: 20px;
      background: rgba(0,0,0,0.15);

      ul {
        list-style: none;

        li {
          list-style-image: none;
          list-style-type: none;
        }
      }

      & > ul {
        padding: 10px;
        margin: 0;
        background: #fff;
        overflow: hidden;

        & > li {
          float: left;
          padding: 10px;
          width: 235px;
          min-height: 100px;

          &:nth-child(4n) {
            clear: left;
          }

          & > a {
            display: block;
            font-size: 16px;
            margin-bottom: 15px;
            text-decoration: none;
            border-bottom: solid 1px #000;
            color: #000;
          }

          a.two-cols + .sub-menu-drop-container ul {
            overflow: hidden;
            li {
              float: left;
              width: 50%;
            }
          }

          ul {
            padding: 0;
            margin: 0;

            li {
              padding: 0 0 2px 0;
              margin: 0;
              font-size: 12px;

              a {
                -webkit-transform: translateZ(0);
                color: #ec7a37;
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    &:hover {

      .menu-drop-container {
        display: block;
      }

      a.primary-link {
        position: relative;
        z-index: 10;
        background-color: #fff;
      }

      a.about-our-products {
        background-position: -215px -182px;
      }
      a.about-our-products + .menu-drop-container {
        top: -125px;
      }

      a.blogs {
        background-position: -215px -414px;
      }
      a.blogs + .menu-drop-container {
        width: 610px;
      }

      a.healthy-eating {
        background-position: -215px -124px;
      }

      a.mission-values {
        background-position: -215px -356px;
      }
      a.mission-values + .menu-drop-container {
        top: -405px;
      }

      a.online-ordering {
        background-position: -215px -298px;
      }
      a.online-ordering + .menu-drop-container {
        width: 610px;
      }

      a.recipes {
        background-position: -215px -240px;
      }
      a.recipes + .menu-drop-container {
        top: -223px;
      }

      a.store-departments {
        background-position: -215px -472px;
      }
      a.store-departments + .menu-drop-container {
        top: -210px;
        width: 610px;
      }
    }
  }
}

#block-menu-menu-brand-camp-top {
  float: left;
  z-index: 10;
  position: relative;

  .block-inner {
    margin: 0;
  }

  .block-title {
    display: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style-image: none;
      list-style-type: none;
      display: inline-block;
      line-height: 30px;
      height: 30px;
      padding: 24px 0 16px 20px;
    }
  }
  a {
    @include league;
    color: $snap-pea;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
  }
}


/* =============================================================================
 *   Global search
 * ========================================================================== */
#block-search-api-page-global-search {
  margin-right: 180px;
  overflow: hidden;
  padding-bottom: 220px;
  .block-inner {
    margin: 0 40px;
  }

  .block-title {
    display: none;
  }
  form {
    position: relative;
  }
  .form-type-textfield {
    margin: 26px 25px 0 0;
    input {
      box-sizing: border-box;
      width: 100%;
    }
  }
  .form-submit {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 25px;
    height: 22px;
    padding: 0;
    background-color: #ec7a37;
    background: url('../images/ui-sprite.png') 0 -86px no-repeat;
    text-indent: -10000px;
    border: 1px solid #ec7a37;
  }
  #autocomplete li {
    padding: 0 4px;
  }
}


/* =============================================================================
 *   Load more button
 * ========================================================================== */

@mixin load_more {
  @include linkTextOffscreen;
  background: #faa42e url('../images/load-more.png') no-repeat center center;
  display: block;
  height: 70px;
  margin: 20px auto;
  width: 340px;
  cursor: pointer;
}
.item-list-pager .pager-load-more {
  li {
    padding: 0;
    a{
      @include load_more;
    }
  }
}
.custom-load-more a, #isopager {
  @include load_more;
}

/* =============================================================================
 *   Footer
 * ========================================================================== */
#block-wfm-blocks-wfm-blocks-footer {
  > .block-inner {
    margin: 0;
  }
  .footer-new-container {
    width: auto;
    max-width: 1060px;
  }
  .footer-column {
    width: 315px;
  }
  .footer-column ~ .footer-column {
    width: 290px;
  }
  #footer-right {
    width: 380px;
  }

  ul ul, ul.footer-external-links {
    padding-left: 35px;
  }

  a, p, div {
    color: #acbfb9;
    font-size: 13px;
  }
  h4, h4 a {
    font-size: 14px;
    line-height: 16px;
  }

  .footer-new-secondary {
//    display: none;
  }

  .footer-subscribe ul {
    margin-top: 0;
  }
  #block-wfm-blocks-wfm-blocks-subscription {
    margin-bottom: 55px;
    > .block-inner {
      margin: 0;
    }
  }
  //User Login
  .menu {
    padding-left: 35px;
    list-style-type: none;
    li {
      list-style: none;
    }
    .menu-item-7422, .menu-item-5080, .menu-item-13821 {
      display: none;
    }
  }
}

.nl-subscription-form {
  position: relative;

  .form-description {
    position: absolute;
    top: 100%;
  }
  .form-item-subscription-email {
    float: left;
    width: 280px;
    margin: 0 10px 0 0;
  }
  .email {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    &.error {
      border-width: 1px;
    }
  }
  .form-submit {
    @include orange-button;
  }
  .error-area {
    color: #FF0000;
  }
}

#store-footer-store-locator-form {
  #footer-store-locator-submit {
    @include orange-button;
  }
}

.bc-progress, .ajax-progress {
  background: url('../images/ajax-loader.gif') no-repeat center center;
  margin: 10px auto;
  width: 43px;
  height: 11px;
  .throbber {
    display: none;
  }
}

//Scroll top button
.scrollTop {
  display: block;
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 999;
  width: 88px;
  height: 88px;
  background: url('../images/scroll-top.png');
  cursor: pointer;
}

//Isotop

.isoFilters {
  position: relative;
//  background: rgb(38, 99, 79);
  color: white;

  & > div, div.filter, div.title {
    display: inline-block;
  }
  div.filter {
    margin: 0 3px;
  }

  &.desktop:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    content: " ";
    display: block;
    // height: 70px;
    margin: 0 -500px;
    padding: 0 500px;
    background-color: rgb(38, 99, 79);
    opacity: 0.851;
    z-index: -1;
  }
}

// Newsletters form
.success .newsletter-input-wrap .form-item.form-item-EMAIL-ADDRESS-, .success .newsletter-text-wrap {
  display: none;
}
