.print-content { width: 960px }
.view-filters { display: none }
.view-sales-items{ padding: 0 !important }
.view-sales-items .views-row { padding: 20px; float: left; padding-bottom: 10px }
.view-sales-items .views-row .views-field-field-flyer-brand-name { font-weight: bold }
.view-sales-items .views-row .views-field-field-flyer-product-name { font-weight: bold; text-transform: uppercase; height: 37px }
.view-sales-items .views-row .views-field-body { height: 115px; color: #4E4E4E; font-size: 13px !important; line-height: 20px; margin: 10px 0px }

.view-sales-items .views-row .views-field-field-flyer-price-sale { color: #bb3d4b; font-size: 20px }

.view-sales-items .views-row .views-field-field-flyer-price-regular { font-size: 13px; color: #4E4E4E }
.view-sales-items .views-row .views-field-field-flyer-price-regular .views-label { float: left; display: inline-block; padding-right: 5px }

.view-sales-items .views-row .views-field-field-flyer-end-date { float: right; margin-right: 25px; color: #4E4E4E; font-size: 13px }
.view-sales-items .views-row .views-field-field-fyler-end-date .views-label { font-weight: normal; font-size: 15px }


.view-sales-items .view-content .views-row-odd, .view-sales-items .view-content > .views-row-even  {
					padding: 20px;
					width: 262px;
					height:254px;/*necessary for safari*/
					//overflow: hidden;/*necessary for safari*/
					border-right: 1px solid #CCC;
					border-bottom: 1px solid #CCC;
					border-top: 1px solid #CCC;
					border-left: 1px solid #CCC;
				/*background-image: url(/sites/all/themes/wholefoods/images/sale-flyer-itembg320.png);
					background-repeat: no-repeat;*/
}