
        <div class="overlay ng-hide" ng-click="closeFromOverlay($event)" ng-show="dialog.open == true" >
          <div class="dialog ng-class: {open: dialog.open == true,
                               error: dialog.state   == 'error',
                               success: dialog.state == 'success',
                               warning: dialog.state == 'warning'}">
              <div class="right" ng-click="closeDialog()">x</div>
              <h3 ng-bind="dialog.title">Title</h3>

              <div ng-include="dialog.template"></div>

              <div ng-if="!dialog.template" class="inner">
                <p ng-if="dialog.message" ng-bind="dialog.message"></p>
              </div>

              <div class="footer" ng-if="!dialog.template">
                <button ng-click="closeDialog()">OK</button>
              </div>
          </div>
        </div>

    </div> <!-- #page -->
    </div> <!-- app -->
    <footer class="region region-footer" id="region-footer">
      <div class="contained region-footer-inner">
        <div class="footer_left">

          <ul class="network_links">
            <li><a href="http://www.wholefoodsmarket.com/" title="Whole Foods Market homepage"><img src="/sites/all/modules/custom/estore/public/css/images/footer_wfmlogo.png?v=2"></a></li>
          </ul>

          <ul class="social_links">
            <li><a href="https://www.facebook.com/wholefoods">
                <img src="/sites/all/modules/custom/estore/public/css/images/footer_facebook.png"></a>
            </li>
            <li><a href="https://plus.google.com/+wholefoods/posts">
              <img src="/sites/all/modules/custom/estore/public/css/images/footer_googleplus.png"></a>
            </li>
            <li><a href="https://twitter.com/wholefoods">
              <img src="/sites/all/modules/custom/estore/public/css/images/footer_twitter.png"></a>
            </li>
            <li><a href="https://www.youtube.com/wholefoods">
              <img src="/sites/all/modules/custom/estore/public/css/images/footer_youtube.png"></a>
            </li>
            <li><a href="http://www.pinterest.com/wholefoods/">
              <img src="/sites/all/modules/custom/estore/public/css/images/footer_pinterest.png"></a>
            </li>
            <!--
            <li><a href="#"><img src="/sites/all/modules/custom/estore/public/css/images/footer_tumblr.png"></a></li>
            <li><a href="#"><img src="/sites/all/modules/custom/estore/public/css/images/footer_flickr.png"></a></li>
          -->
            <li><a href="http://instagram.com/wholefoodsmarket">
              <img src="/sites/all/modules/custom/estore/public/css/images/footer_instagram.png"></a>
            </li>
          </ul>

          </div>

        <div class="footer_right">

          <ul class="links">
            <li><a href="http://www.wholefoodsmarket.com/healthy-eating">Healthy Eating</a></li>
            <li><a href="http://www.wholefoodsmarket.com/about-our-products">About our Products</a></li>
            <li><a href="http://www.wholefoodsmarket.com/mission-values">Missions & Values</a></li>
            <li><a href="http://www.wholefoodsmarket.com/recipes">Recipes</a></li>
            <li><a href="http://www.wholefoodsmarket.com/blog/whole-story">Blog</a></li>
          </ul>
          <ul class="links">
            <li><a href="http://www.wholefoodsmarket.com/stores/list">Store Locations</a></li>
            <li><a href="http://www.wholefoodsmarket.com/customer-service">Customer Service</a></li>
            <li><a href="http://www.wholefoodsmarket.com/careers">Careers</a></li>
            <li><a href="http://www.wholefoodsmarket.com/store-departments">Store Departments</a></li>
          </ul>

          </div>

      </div>
    </footer>

    <div class="disclosure">
      <div class="contained">
        {{#if store.isUSA}}
        <p>
          California Transparency in Supply Chains Act Disclosure (<a href="https://www.wholefoodsmarket.com/sites/default/files/media/California_Transparency_in_Supply_Chains_Act_Disclosure.pdf">PDF</a>)
        </p>
        {{/if}}
        <p class="copy">
          <span>Copyright 2014 Whole Foods Market IP.L.P</span> | <a href="/terms-use">Terms of Use</a> | <a href="/privacy-policy">Privacy Policy</a> | <a href="/site-map">Site Map</a>
        </p>
      </div>
    </div>
