{{> header_secure}}
<div class="navbar">
  <div class="contained">
    <ul id="store_crumbs" class="crumbs">
      <li><a href="/shop/{{store.id}}">{{store.name}}</a></li>
      <li>Cart</li>
    </ul>
    <ul class="process">
      <li class="active">1. Review</li>
      <li>2. Pickup/Billing</li>
      <li>3. Confirm</li>
    </ul>
  </div>
</div>
{{#if message}}

  <div class="alert_message">
    <span class="alert_icon"></span>{{{message}}}
  </div>
{{/if}}

{{#if change}}
  {{#each change}}
  <div class="alert_message">
    <span class="alert_icon"></span>{{{this}}}
  </div>
  {{/each}}
{{/if}}

  <section class="tablet_only" id="column_header">
    <div class="contained">
        <div class="item-info">
          <div class="info-body">
            Item
          </div>
        </div>
        <div class="controls">
          <div class="quantity_chooser">
            <p class="price_wrapper">Price</p>
            <div class="quantity">Quantity</div>
          </div>
        </div>
        <div class="subtotal">
           Subtotal
        </div>
    </div>
  </section>
  <div class="contained cart-body">

<div ng-controller="review">
  <ul class="list cart" ng-init="setDiscount({{cart.discount}});" >
    {{#if count}}
        {{#each items}}
            <li class="cart_item" data-id="{{cart_item_id}}" id="items_list_{{cart_item_id}}">
              <div class="item-info">
                <div class="image">
                  {{#if thumbnail}}
                  <img src="{{thumbnail}}" />
                  {{else}}
                  <img src="/sites/all/modules/custom/estore/public/img/fillerimage.jpg" />
                  {{/if}}
                </div>
                <div class="info-body">
                <h1 class="name"><a href="/shop/{{../store.id}}/{{category_id}}/{{item_id}}">{{name}}</a></h1>

                {{#if variant }}
                  <ul class="selected_options">
                  {{#each variant}}
                    <li>{{ name }}</li>
                  {{/each}}
                  </ul>
                {{/if}}
                </div>
              </div>
              <div class="controls">
                <div class="quantity_chooser">
                  <p class="price_wrapper">
                    <span class="price">{{../store.currency}}<span id="price_{{cart_item_id}}">{{price}}</span></span>
                  </p>
                  <div class="quantity">
                    <button
                    ng-click="decreaseQty({{cart_item_id}})"
                    type="button"
                    class="decrease_qty">-</button>
                    <input
                      class="qty" name="quantity" id="{{cart_item_id}}" type="number"  min="1" max="1000" step="1" value="{{quantity}}">
                    <button
                      ng-click="increaseQty({{cart_item_id}})"
                      type="button" class="increase_qty"
                    >+</button>
                  </div>
                    <button
                      ng-click="removeItem({{cart_item_id}})"
                      data-product-id="{{item_id}}"
                      class="remove" data-id="{{ cart_item_id }}">Remove</button>
                  </div>
              </div>
              <div class="subtotal tablet_only">

                <span class="blue price">{{../store.currency}}<span  id="subtotal_{{cart_item_id}}">{{subtotal}}</span></span>
              </div>
            </li>
        {{/each}}

           <li class="apply_discount">
            <form method="post" action="/shop/{{store.id}}/actions/addDiscount">
              <input name="discount_code" type="text" maxlength="100" size="15" placeholder="Discount Code" />
              <input type="submit" value="Apply" />
            </form>
            <label>Discount Code</label>
          </li>


          <li ng-if="disc > 0" class="figure">

            <span class="value"><span class="price">-{{store.currency}}<span id="discount_amount">{{#priceformat cart.discount}}</span></span></span>
            <label>Discount</label>
          </li>

          <li class="figure">
            <span class="value"><span class="price">{{store.currency}}<span ng-bind="subtotal">{{cart.subtotal}}</span></span></span>
            <label>{{#if cart.INSTORE}}Estimated {{/if}}Subtotal</label>
          </li>
          {{#if cart.INSTORE}}
          <li class="note">
            Total displayed here is an estimate.
            Pay the final calculated total at the time of pickup.
          </li>
          {{/if}}

    {{else}}
      <li ng-if="!items.length">
        <div class="empty-cart">Your Cart Is Empty</div>
      </li>
    {{/if}}
  </ul>
  <!-- <div class="signup">
    <div class="contained">
        {{#if user}}
          Welcome {{user.name}}! <a href="/shop/{{store.id}}/actions/logout?redirect=shop/{{store.id}}/cart">Not you?</a>
        {{else}}
            <a href="/user/janrain_register" class="iframe fancy create_account">Sign In or Sign Up</a> for faster checkout.
        {{/if}}
      </div>
  </div> -->
  <div class="proceed">
    {{#if count}}
      <button ng-click="clickHref($event)" data-href="{{secure_domain}}/shop/{{store.id}}/checkout"><a href="{{secure_domain}}/shop/{{store.id}}/checkout">Proceed to Checkout</a></button>
      <p>
        or <a href="/shop/{{store.id}}">continue shopping</a>
      </p>
    {{/if}}
  </div>

<div class="clear"></div>


{{#each promos}}
  <div class="promo_item" data-id="{{cart_item_id}}" id="items_list_{{cart_item_id}}">

    <div class="promo-center">

      <div class="half">
        <h2 class="name">{{NAME}}</h2>
      </div>

      <div class="half">
        <button
        ng-click="purchasePromo({{ITEMID}} , {{CATEGORY}})"
        type="button"
        >Add to Cart
        </button>
      </div>

      <div class="clear"></div>
      <div>
        <p class="description">{{DESCRIPTION}}</p>
      </div>
    </div>
  </div>
{{/each}}
</div>
<div class="clear"></div>

  <div class="cart-footer">
    <fieldset class="full-width">
      <h4>Pricing</h4>
      <p>
        The prices displayed are our regular prices for the items shown. If you complete and process your purchase online, you may be charged more than what the item is currently available for at a store location. If your payment is processed in the store, you will be charged the price in effect at that location on the date of payment. Items that are priced by weight must be processed in the store. 
      </p>
      <p>
        Please note the following: 
      </p>
      <ul>
        <li>
          Items by sold by weight: The total on your order may vary slightly based on the actual weight of items you have purchased. You will be charged only for the amount of product you actually receive. 
        </li>
        <li>
          Online reservation totals: When reserve your order online, you will receive an “estimated total.” The final order total will differ to accurately reflect items sold by weight, items requested that are not found online, items currently on sale at the location the order is processed, and to adjust for any substitutions that are made to your order.
        </li>
      </ul>
      </p>
    </fieldset>
    <fieldset>
      <h4>Shop With Confidence</h4>
      <p>
        All information is encrypted and transmitted without risk using a Secure Sockets Layer (SSL) protocol.
      </p>
    </fieldset>
    <fieldset>
      <h4>Privacy</h4>
      <p>
        We respect your privacy. Your personal information will not be sold or distributed.
      </p>
    </fieldset>
  </div>
</div>
{{> footer}}
