{{>header_nostore}}
<div class="navbar">
  <div class="contained">

    <ul class="crumbs">
        <!-- <li>{{store.name}}</li>
        <li>Online Ordering</li> -->
    </ul>

    </div>
</div>
<div id="chooser">

  <div id="store_select">

  <h1>Meals &amp; Catering</h1>

  <p><em>Fast, easy and delicious &mdash; spend less time in the kitchen!</em></p>

  <p>Order meals, entrées and party must-haves online and then pick them up at the store. To see what your local Whole Foods Market has to offer, <strong>start by selecting&nbsp;your&nbsp;store.</strong></p>
<div class="store-selct-form">

  {{{form}}}
</div>
  </div>

</div>


{{! The following is intended to change the form button submit text. If you can change the source, please do! }}
<script type="text/javascript">
  jQuery(document).ready(function(){
      jQuery('form#store-select-form-0 input[type=submit]').attr("value", "Shop Your Store Now");

  });
</script>

{{>footer}}
