<p>
  <label>{{optiongroups[option_index].PROMPT}}</label>

  <ul class="optiongroup">
    <li class="ng-class: {active: options[optiongroups[option_index]['@attributes']['ID']]==option['@attributes']['ID']};"
        ng-repeat="option in optiongroups[option_index].OPTIONS.OPTION"
        ng-click="selectOption(optiongroups[option_index]['@attributes']['ID'],option,$event)"
    >

      <span class="optionname">{{option.NAME}}</span> <span class="addprice" ng-if="nonzero(option.ADDPRICE)">+<span ng-if="nonzero(option.ADDMINIMUMPRICE)">${{option.ADDMINIMUMPRICE|price}} - </span>${{option.ADDPRICE|price}}</span>
    </li>
  </ul>
</p>
