{{>header}}

<div class="navbar">
  <div class="contained">

    <div class="search tablet_only">
      <form method="get" action="/shop/{{store.id}}/search">
      <input name="search" class="query" placeholder="Search" />
      <input type="submit" class="button" value="Search" />
      </form>
    </div>

    <a href="/shop/{{store.id}}/search" class="search mobile_only">?</a>

    <ul class="crumbs">
      <li><a href="/shop/{{store.id}}">{{store.name}}</a></li>
      <li><a href="/shop/{{store.id}}/customers">Order History</a></li>
    </ul>
    </div>
</div>

<div class="wooden contained">
  <div class="nav tablet_only">
    <div id="store_header">
      <div class="store_image" style="background-image: url({{store.image}});">
        <div class="store_image_color_overlay">
          <h1>Whole Foods Market<br/>{{store.name}}</h1>
          <p class="store.address">{{store.address}}<br/>
          {{#if store.address2}}{{store.address2}}<br/>{{/if}}
          {{store.city}}, {{store.state}}, {{store.zip_code}}</p>
          <p><a href="tel:{{store.phone}}">{{store.phone}}</a></p>


        </div>
      </div>
    </div>
    <section>
      <P>Welcome to Whole Foods Market!
      Our offerings change seasonally and vary by store.
      At <em>{{store.name}}</em>, we are currently offering:</p>
    </section>
    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}
    <section>
    <p>
    The following links open in a new window.</p>
    </section>

    {{#if store.isAllegro}}

    {{else}}
      <div class="panel-pane">
          <h2 class="pane-title offsite_link">
              <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
          </h2>
      </div>
    {{/if}}

    <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <A href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
        </h2>
    </div>
  </div>
  <div class="body">
    <div class="body_inner">

        <section>

          <h1>Verify Your Identity</h1>

          <p>To view this order, please enter the email address you used to submit it.</p>

          {{#if failed_email}}
            <p>The email you provided does not match the email on file. Please try again.</p>
          {{/if}}

          <form action="/shop/{{store.id}}/customers/orders/{{order.ID}}" method="post">
            <p>
              <label for="email">Email</label>
              <input type="email" name="email" type="text" maxlength="200" size="80" placeholder="email">
            </p>
            <P>
              <input type="submit" value="View Order" class="button">
            </p>
          </form>
        </section>

</div>
</div>
</div>

{{>footer}}
