
{{>header}}

<div class="navbar">
  <div class="contained">

    <div class="search tablet_only">
      <form method="get" action="/shop/{{store.id}}/search">
      <input name="search" class="query" placeholder="Search" />
      <input type="submit" class="button" value="Search" />
      </form>
    </div>

    <a href="/shop/{{store.id}}/search" class="search mobile_only">?</a>

    <ul class="crumbs">
      <li><a href="/shop/{{store.id}}">{{store.name}}</a></li>
      <li><a href="/shop/{{store.id}}/customers">Order History</a></li>
    </ul>
    </div>
</div>



<div class="wooden contained">
  <div class="nav tablet_only">
    <div id="store_header">
      <div class="store_image" style="background-image: url({{store.image}});">
        <div class="store_image_color_overlay">
          <h1>Whole Foods Market<br/>{{store.name}}</h1>
          <p class="store.address">{{store.address}}<br/>
          {{#if store.address2}}{{store.address2}}<br/>{{/if}}
          {{store.city}}, {{store.state}}, {{store.zip_code}}</p>
          <p><a href="tel:{{store.phone}}">{{store.phone}}</a></p>


        </div>
      </div>
    </div>
    <section>
      <P>Welcome to Whole Foods Market!
      Our offerings change seasonally and vary by store.
      At <em>{{store.name}}</em>, we are currently offering:</p>
    </section>
    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}
    <section>
    <p>
    The following links open in a new window.</p>
    </section>

    {{#if store.isAllegro}}

    {{else}}
      <div class="panel-pane">
          <h2 class="pane-title offsite_link">
              <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
          </h2>
      </div>
    {{/if}}

    <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <A href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
        </h2>
    </div>
  </div>
  <div class="body receipt-cont">
    <div class="body_inner">


          <section>

          <h1>Order #{{order.ID}}</h1>

          <P>Order placed on {{order.ORDERDTTM}}</p>

          <p>Status: {{order.STATUS}}</p>

          <p class="print"><a href="#" ng-click="printThis()">Print this receipt for your records</a></p>

          <p>Questions? Give us a call <a href="tel:{{store.phone}}">{{store.phone}}</a></p>

          </section>


          <section class="clearfix">

            {{#if order.PICKUP}}
            <div class="bill-info">
              <h4>Pickup</h4>

              <p>Your order is under the name <strong>{{order.SHIPPINGADDRESS.FIRSTNAME}} {{order.SHIPPINGADDRESS.LASTNAME}}</strong>,
              submitted with the email address <strong>{{order.EMAIL}}</strong>.</p>

              <p>Pickup time is {{order.PICKUP_TIME}} on {{order.PICKUP_DATE}}</p>

              {{#if order.INSTORE}}
              <p>Note: Payment for this order is due upon pickup!</p>
              {{/if}}

              <p>Whole Foods Market<br/>
              {{order.SHIPPINGADDRESS.STREET1}}<br/>
              {{#if order.SHIPPINGADDRESS.STREET2}}
                {{order.SHIPPINGADDRESS.STREET2}}<br/>
              {{/if}}
              {{order.SHIPPINGADDRESS.CITY}},
              {{order.SHIPPINGADDRESS.STATE}}
              {{order.SHIPPINGADDRESS.ZIP}}</p>

              <p><button class="no_old_ie" ng-click="generateCalendar()">Add to Calendar</button></p>

            </div>
            {{/if}}


            {{#if order.DELIVERY}}
            <div class="bill-info">
              <h4>Delivery</h4>

              <P>
                {{order.SHIPPINGADDRESS.FIRSTNAME}} {{order.SHIPPINGADDRESS.LASTNAME}}<br/>
                {{order.SHIPPINGADDRESS.STREET1}}<br/>
                {{#if order.SHIPPINGADDRESS.STREET2}}
                  {{order.SHIPPINGADDRESS.STREET2}}<br/>
                {{/if}}
                {{order.SHIPPINGADDRESS.CITY}},
                {{order.SHIPPINGADDRESS.STATE}}
                {{order.SHIPPINGADDRESS.ZIP}}
              </p>

            </div>
            {{/if}}


          </section>

          <section>
            <ul class="receipt">
            {{#each order.ORDERITEMS.ORDERITEM}}
                  <li><span class="name">{{NAME}}</span> <span class="qty">QTY {{QTY}}</span> <span class="total">${{#priceformat COST}}</span>
            {{/each}}

            {{#nonzero  order.ORDERDISCOUNT}}
              <li class="figure">
                <span class="name"></span>
                <span class="qty">Discount</span>
                <span class="total">${{#priceformat order.ORDERDISCOUNT}}</span>
              </li>
            {{/nonzero}}
            {{#nonzero  order.SHIPPINGAMOUNT}}
              <li class="figure">
                <span class="name"></span>
                <span class="qty">Shipping</span>
                <span class="total">{{store.currency}}{{#priceformat order.SHIPPINGAMOUNT}}</span>
              </li>
            {{/nonzero}}
            {{#nonzero  order.ORDERTAX}}
              <li class="figure">
                <span class="name"></span>
                <span class="qty">{{store.tax_name}}</span>
                <span class="total">{{store.currency}}{{#priceformat order.ORDERTAX}}</span>
              </li>
            {{/nonzero}}
            <li class="figure">
              <span class="name"></span>
              <span class="qty">{{#if order.INSTORE}}Estimated {{/if}} Total</span>
              <span class="total">{{store.currency}}{{#priceformat order.ORDERTOTAL}}</span>
            </li>
            </ul>
          </section>

          </div>
          <div class="nav mobile_only">
    <div class="panel-pane">
        <h2 class="section-title">
          Categories
        </h2>
    </div>
    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}
    <section>
    <p>
    The following links open in a new window.</p>
    </section>

    <div class="panel-pane">
        <h2 class="pane-title offsite_link">
            <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
        </h2>
    </div>
    <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <A href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
        </h2>
    </div>
  </div>
        </div>
      </div>

{{>footer}}
