{{>header}}
<div class="navbar">
  <div class="contained">

  <div class="search tablet_only">
    <form method="get" action="/shop/{{store.id}}/search">
    <input name="search" class="query" placeholder="Search" />
    <input type="submit" class="button" value="Search" />
    </form>
  </div>

  <a href="/shop/{{store.id}}/search" class="search mobile_only">?</a>


  <ul class="crumbs">
    <li><a href="/shop/{{store.id}}">{{store.name}}</a></li>
    {{#if filter}}
    <li><a href="/shop/{{store.id}}/{{filter}}">{{filterlabel}}</a></li>
    {{/if}}
    <li><a href="/shop/{{store.id}}/{{category.id}}">{{category.name}}</a></li>
  </ul>
  </div>
</div>
<div class="wooden contained">
  <div class="nav tablet_only">
    <div id="store_header">
      <div class="store_image" style="background-image: url({{store.image}});">
        <div class="store_image_color_overlay">
          <h1>Whole Foods Market </br>{{store.name}}</h1>
          <p class="store.address">{{store.address}}<br/>
          {{#if store.address2}}{{store.address2}}<br/>{{/if}}
          {{store.city}}, {{store.state}}, {{store.zip_code}}</p>
          <p><a href="tel:{{store.phone}}">{{store.phone}}</a></p>
        </div>
      </div>
    </div>
    <section>
      <P>Welcome to Whole Foods Market!
      Our offerings change seasonally and vary by store.
      At <em>{{store.name}}</em>, we are currently offering:</p>
    </section>
    {{#each categories}}
      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>
    {{/each}}

    <section>
    <p>
    The following links open in a new window.</p>
    </section>

    {{#if store.isAllegro}}

    {{else}}
      <div class="panel-pane">
          <h2 class="pane-title offsite_link">
              <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
          </h2>
      </div>
    {{/if}}

    <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <A href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
        </h2>
    </div>
  </div>



  <div class="product body">
<section class="product_info" ng-controller="product as productController">
<form method="POST" action="/shop/{{store.id}}/actions/add" >

  <div class="photo">
    {{#if item.IMAGEURL}}
      <img src="{{item.IMAGEURL}}" alt="Product Image" />
    {{else}}
      <img src="/sites/all/modules/custom/estore/public/img/fillerimage.jpg" alt="Product Image" />
    {{/if}}
  </div>


  <section class="info">

      <input type="hidden" name="store" value="{{store.id}}" >
      <input type="hidden" name="prod" value="{{product}}">
      <input type="hidden" name="cat" value="{{category.id}}">

      <h1 class="name">{{item.NAME}}</h1>
      <span class="uom">{{item.UOM}}</span>
      {{#if item.OPTIONGROUPS.OPTIONGROUP}}
      <div class="options">
      {{#each item.OPTIONGROUPS.OPTIONGROUP}}
        <div class="option">
          {{#if dropdown}}
            <!-- first loop -->
            <p><label>{{PROMPT}}</label>
            <select name="itemOption[]"
                    class="itemOption"
                    ng-model="options[{{id}}]"
                    ng-change="qisCheck({{@index}}, {{id}})"
                    >
              <option value="">Select Option</option>
            {{#with OPTIONS}}

              {{#each OPTION}}
               <!-- second loop -->
               <option
                 value="{{id}}"
               >{{NAME}} {{#nonzero ADDPRICE}}(+ {{#nonzero ADDMINIMUMPRICE}}{{../../../store.currency}}{{#priceformat ADDMINIMUMPRICE}} - {{/nonzero}}{{../../../store.currency}}{{#priceformat ADDPRICE}}){{/nonzero}}</option>
               {{/each}}
            {{/with}}
            <!-- end second -->
            </select></p>
          {{/if}}

          {{#if radiobutton}}
            <!-- first loop -->
            <p><label>{{PROMPT}}</label></p>
            {{#with OPTIONS}}
              {{#each OPTION}}
              <p><input type="radio"

                     name="itemOption[]"
                     value="{{id}}"
                      id="checkbox_{{id}}"
                    ng-model="options[{{../../id}}]"
                     ng-true-value="{{id}}"
              >
                     <label for="checkbox_{{id}}">{{NAME}} {{#nonzero ADDPRICE}}(+ {{#nonzero ADDMINIMUMPRICE}}{{../../../store.currency}}{{#priceformat ADDMINIMUMPRICE}} - {{/nonzero}}{{../../../store.currency}}{{#priceformat ADDPRICE}}){{/nonzero}}</label>
              </input></p>
               {{/each}}
            {{/with}}
            <!-- end second -->
          {{/if}}

          {{#if checkbox}}
            <!-- first loop -->
            <p><label>{{PROMPT}}</label></p>
            {{#with OPTIONS}}
              {{#each OPTION}}
              <p><input type="checkbox"

                     name="itemOption[]"
                     value="{{id}}"
                     ng-model="options[{{id}}]"
                     ng-true-value="{{ id }}"
                     id="checkbox_{{id}}"
                     /><label for="checkbox_{{id}}">{{NAME}} {{#nonzero ADDPRICE}}(+ {{#nonzero ADDMINIMUMPRICE}}{{store.currency}}{{#priceformat ADDMINIMUMPRICE}} - {{/nonzero}}{{store.currency}}{{#priceformat ADDPRICE}}){{/nonzero}}</label>
              </p>
               {{/each}}
            {{/with}}
            <!-- end second -->

          {{/if}}
        </div>
      {{/each}}
    </div>
    {{/if}}
      <div class="quantity_chooser">
        <p class="price_wrapper">
          {{#if item.BASEPRICE}}
            {{#if item.ORIGINALPRICE}}
              <span class="price" style='text-decoration:line-through; opacity:0.5;' >{{store.currency}}{{item.ORIGINALPRICE}}</span>
            {{/if}}
             <span class="price" ng-bind="displayprice">{{store.currency}}{{item.BASEPRICE}}</span>
          {{else}}
            <span class="price" ng-bind="displayprice">{{store.currency}}{{total}}</span>
          {{/if}}
        </p>

        <div class="quantity">
          <button type="button"
                  class="decrease_qty"
                  ng-click="decreaseQty($event)"
                  ng-class="{disabled: quantity == 1}"
                  >-
          </button>

          <input id="qty" name="qty" ng-keyup="validateQty(true)" ng-blur="validateQty(false)" type="number" min="1" max="1000" step="1"  ng-model="quantity" value="1">

          <button type="button" class="increase_qty" ng-click="increaseQty($event)">+</button>
          <div class="clear"></div>
        </div>
      </div>
  </section>




  <section class="actions">
  {{#if item.AVAILABLE}}
    {{#if item.INSTOCK}}
  <button

    class="addToCart button"
    onClick="return false;"
    ng-click="addItem()">
      <span ng-if="optiongroups.length==0 || !ismobileview">Add to Cart</span>
      <span ng-if=" optiongroups.length >0 && ismobileview">Select Options</span>
    </button>

      {{else}}
      <button
        type="button"
        class="addToCart disabled"
        onClick="return false;">
        SOLD OUT ONLINE
      </button>
      <p>Please call the store at <a href="tel:{{store.phone}}">{{store.phone}}</a> to check availability.</p>
      {{/if}}
  {{else}}
      <button
        type="button"
        class="addToCart disabled"
        onClick="return false;">
        NOT AVAILABLE
      </button>
  {{/if}}


    {{#if item.INSTORE}}
    <p>
      NOTE: This item must be paid for in-store.
    </p>
    {{/if}}
    <p ng-if="item.MINIMUMQTY > 1">
      NOTE: This item has a minimum order of \{{item.MINIMUMQTY}}
    </p>
    {{#if item.CANBEDELIVERED}}
      {{#if store.isAllegro}}

      {{else}}
        <p>
          Delivery options are available for this item.
        </p>
      {{/if}}
    {{/if}}
    <p> \{{pickup_message}} </p>

  </section>
      <!------------ modals ------------- -->
    <div
      ng-if="optiongroups[option_index].template"
      ng-include="'/sites/all/modules/custom/estore/public/partials/product.modal.html'">
    </div>

    <!------------ end modals ------------- -->

  </form>

</section>
{{#if item.PLUCKID}}
<section class="rating">
<script type="text/javascript">gSiteLife.Rating("ExternalResource", '{{item.PLUCKID}}');</script>
</section>
{{/if}}
<section class="product_description">
      <h2>DETAILS</h2>
      {{{item.DESCRIPTION}}}

      {{{item.ADDITIONALINFORMATION}}}
</section>

{{#if item.STORYTITLE}}
<section class="product_story">
  <h2>LOCAL SUPPLIER STORY</h2>

  <h3>{{item.STORYTITLE}}<Br/>
  {{item.STORYCITY}}</h3>

  {{{item.STORYDESCRIPTION}}}

</section>
{{/if}}

{{#if item.RECIPES.RECIPE.length}}
<section class="product_recipes">
  <h2>RELATED RECIPES</h2>
  {{#each item.RECIPES.RECIPE}}
    <a href="{{URL}}" target="_blank" class="recipe" style="background-image: url('{{THUMBNAIL}}');">
      <h3>{{TITLE}}</h3>
    </a>
  {{/each}}
</section>
{{/if}}
{{#if related}}

<section class="related_products">
      <h2>RELATED PRODUCTS</h2>


<ul class="product list">
  {{#each related}}
  <li data-href="/shop/{{../store.id}}/{{ITEM.CATEGORY}}/{{ITEM.ID}}" ng-click="clickHref($event)">
    <div class="photo">
      <a href="/shop/{{../store.id}}/{{ITEM.CATEGORY}}/{{ITEM.ID}}">{{#if ITEM.IMAGEURL}}<img src="{{ITEM.IMAGEURL}}">{{else}}<img src="/sites/all/modules/custom/estore/public/img/fillerimage.jpg">{{/if}}</a>
    </div>

    <div class="info">

      <div class="name">
        <a href="/shop/{{../store.id}}/{{ITEM.CATEGORY}}/{{ITEM.ID}}">{{ITEM.NAME}}</a>
      </div>
      {{#if ITEM.BASEPRICE}}
      <div class="price">{{../store.currency}}{{ITEM.BASEPRICE}}</div>
      {{/if}}
    </div>

  </li>
  {{/each}}
</ul>

</section>
{{/if}}

</div>

<div class="nav mobile_only">
  <div class="panel-pane">
      <h2 class="section-title">
        Categories
      </h2>
  </div>
  {{#each categories}}
    <div class="panel-pane">
        <h2 class="pane-title menu_option">
            <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
        </h2>
    </div>
  {{/each}}
  <section>
  <p>
  The following links open in a new window.</p>
  </section>

  {{#if store.isAllegro}}

  {{else}}
  <div class="panel-pane">
      <h2 class="pane-title offsite_link">
          <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
      </h2>
  </div>
  {{/if}}

  <div class="panel-pane">
      <h2 class="pane-title offsite_link">
        <A href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
      </h2>
  </div>
</div>
</div>

{{>footer}}
