@import 'compass';

.undernav-menu-bar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff ;
  z-index: 999 ;
  background-color: rgb(0,0,0);
  @include filter-gradient(#000000, #000000, vertical);
  @include background-image(linear-gradient(top,  rgba(134,134,134,1) 0%,rgba(81,83,82,1) 2%,rgba(69,71,70,1) 3%,rgba(33,33,33,1) 49%,rgba(2,2,2,1) 50%,rgba(0,0,0,1) 99%,rgba(134,134,134,1) 100%));
  left: 0px;
  top: 0px;

  a {
    color: #fff ;
    text-decoration: none;
    margin-left: 15px;
    border: 1px solid #fff;
    padding: 5px;
    @include border-radius(5px);
  }
}

.undernav-container {
  padding-top: 50px;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 4;
}

.undernav-nav {
  position: absolute;
  z-index: 5000;
  left: 0px;
  top: 0px;
  //height: 100%;
  color: #fff ;
  background: #000;
  height: auto;
  min-height:700px;
  padding-bottom: 40px;

}

.undernav-nav-content {
  width: 100%;
  height: 100%;
  //position: absolute;
  //top: 0px;
  //left: 0px;
  //overflow: auto;
}
