<div ng-if="cart_dropdown && cart.items.length"
  ng-controller="cartdropdown"
  ng-mouseout="showCartDropDown(false)"
  ng-class="dropdown"
 >
  <ul class="list cart">
    <li
      ng-repeat="item in cart.items"
    >
      <div class="item-info">
          <div class="image">

            <img ng-src="{{item.thumbnail}}" />
          </div>
          <div class="info-body">
          <h2 class="name">
            <a ng-href="/shop/{{cart.store}}/{{item.category_id}}/{{item.item_id}}">
              {{item.name}}
            </a>
          </h2>

            <ul ng-if="item.variant"
              class="selected_options">
              <li ng-repeat="v in item.variant">{{v.name}}</li>
            </ul>
          </div>
          <div class="controls">
            <p class="price_wrapper">
              <span class="price">${{item.price}}</span>
            </p>
            <div class="quantity">
                {{item.quantity}}
            </div>
            <div class="subtotal">

              <span class="blue price">${{item.subtotal}}</span>
            </div>
          </div>
      </div>
  </li>
  </ul>
</div>
