<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="32px" height="25.018px" viewBox="0 0 32 25.018" enable-background="new 0 0 32 25.018" xml:space="preserve">
<g id="Fondo_1_" display="none">
  <rect id="Fondo" x="-161.237" y="-897.076" display="inline" fill="#FB6E92" width="1000" height="2438.352"/>
</g>
<g id="Guias">
</g>
<g id="Icons">
  <g display="none" opacity="0.2">
    <path display="inline" fill="#FFFFFF" d="M248.771,579.445c-11.281,3.636-35.885,28.28-38.51,36.152
      c-2.621,7.852,12.065,36.154,18.865,37.705c6.793,1.59,56.584-20.436,58.154-28.284
      C288.852,617.147,260.055,575.766,248.771,579.445z"/>
    <path display="inline" fill="#FFFFFF" d="M351.741,499.286c-10.498,0.494-88.546,59.726-88.034,69.146
      c0.52,9.424,29.359,46.629,37.729,47.951c8.363,1.301,70.222-78.341,72.308-88.813
      C375.829,517.073,362.212,498.747,351.741,499.286z"/>
    <path display="inline" fill="#FFFFFF" d="M666.675,212.842c-10.932-15.146-35.498-16.26-56.115-3.016
      c-7.869-4.01-17.022-7.233-27.767-9.216c0,0-391.393,317.516-477.854,378.834c0,0-3.303,7.003-8.776,18.406
      c98.108,68.716,86.957,120.568,86.957,120.568c-27.149-66.916-95.886-102.037-95.905-102.037
      C62.589,667.082,18.38,755.69-5.092,788.497c0,0-0.04,18.015,22.025,29.479c0,0,150.071-101.023,193.328-109.639
      c0,0,23.883-23.283,60.697-58.922c-20.121,10.308-43.197,20.062-52.827,20.659c-16.772,1.053-36.153-39.438-34.583-53.776
      c1.57-14.338,153.521-139.574,176.038-137.983c22.54,1.569,29.875,22.518,30.414,37.725c0.205,6.548-13.655,26.546-30.414,48.012
      C472.846,455.383,615.77,320.209,656.672,290.211c0,0,0.414-10.661-3.14-24.688C671.217,250.174,677.23,227.51,666.675,212.842z
       M51.271,795.438c0,0-2.543-32.478-33.639-43.817C17.633,751.62,69.861,727.986,51.271,795.438z"/>
  </g>
  <path display="none" opacity="0.5" fill="#71C8EA" enable-background="new    " d="M1619.818,529.102l3.333,3.333
    c0,0,17-13.666,32.5-11.833c0,0,21-27.999,50-37.833c0,0,17.667-9.834,7.167-30.667s-24.327-12.937-31.167-8
    c-9.583,6.916-39.771,40.322-51.5,56.333C1630.151,500.435,1633.651,516.769,1619.818,529.102z"/>
  <g>
    <ellipse transform="matrix(-0.8957 0.4446 -0.4446 -0.8957 30.6516 36.9126)" cx="10.997" cy="22.051" rx="3.31" ry="2.848"/>
    <ellipse transform="matrix(-0.8957 0.4447 -0.4447 -0.8957 54.4747 31.6276)" cx="23.527" cy="22.204" rx="3.31" ry="2.676"/>
    <path d="M29.039,11.464L32,1.249C20.461-0.854,7.005,2.377,7.005,2.377L7.01,2.392C6.303,0.686,5.823,0,5.823,0
      S2.393,1.117,0,2.394c0,0,0.08,1.196,0.797,1.835c0,0,1.95-0.8,4.227-1.332c2.091,5.875,2.953,14.175,2.953,14.175
      c14.837-1.754,19.705,0,19.705,0l0.877-3.43c-9.654-1.596-18.429,0-18.429,0c-0.15-0.78-0.302-1.508-0.455-2.21l0.009,0.032
      C15.973,9.677,29.039,11.464,29.039,11.464z"/>
  </g>
</g>
</svg>
