{{> header}}
<div class="navbar">
  <div class="contained">

    <div class="search tablet_only">
      <form method="get" action="/shop/{{store.id}}/search">
      <input name="search" class="query" placeholder="Search" />
      <input type="submit" class="button" value="Search" />
      </form>
    </div>

    <a href="/shop/{{store.id}}/search" class="search mobile_only">?</a>

    <ul class="crumbs">
        <li>{{store.name}}</li>
        <li>Online Ordering</li>
    </ul>
    </div>
</div>
<div class="wooden contained">
  <div class="nav">
    <div id="store_header">
      <div class="store_image" style="background-image: url({{store.image}});">
        <div class="store_image_color_overlay">
          <h1>Whole Foods Market<br/>{{store.name}}</h1>
          <p class="store.address">{{store.address}}<br/>
          {{#if store.address2}}{{store.address2}}<br/>{{/if}}
          {{store.city}}, {{store.state}}, {{store.zip_code}}</p>
          <p><a href="tel:{{store.phone}}">{{store.phone}}</a></p>


        </div>
      </div>
    </div>
    {{#if categories}}
    <section>
      <P>Welcome to Whole Foods Market!
      Our offerings change seasonally and vary by store.
      At <em>{{store.name}}</em>, we are currently offering:</p>
    </section>
    {{#each categories}}

      <div class="panel-pane">
          <h2 class="pane-title menu_option">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h2>
      </div>

    {{/each}}
    {{else}}
      <section>
        <P>Welcome to Whole Foods Market!
        Our offerings change seasonally and vary by store.</p>

        <p>Currently, <em>{{store.name}}</em> is closed.</p>
      </section>

    {{/if}}
    <section>
    <p>
    The following links open in a new window.</p>
    </section>

    {{#unless store.isAllegro}}

      <div class="panel-pane">
          <h2 class="pane-title offsite_link">
              <a href="//www.allegrocoffee.com/" target="_blank">Allegro Coffee</a>
          </h2>
      </div>

    {{/unless}}

    <div class="panel-pane">
        <h2 class="pane-title offsite_link">
          <A href="https://www.wholefoodsmarket.com/buy-gift-cards" target="_blank">Gift Cards</a>
        </h2>
    </div>
  </div>
  <div class="body tablet_only">
    <div class="body_inner">
      {{#each categories}}
          <h1 class="bigheader">
              <a href="/shop/{{../store.id}}/{{id}}">{{value}}</a>
          </h1>
          <ul class="product list" data-product-list="{{value}}">
              {{#each items}}
              <li data-href="/shop/{{../../store.id}}/{{../id}}/{{id}}" ng-click="clickHref($event)"
                  data-product-id="{{id}}"
                  data-product-name="{{NAME}}"
                  data-product-category="{{../value}}"
                  data-product-brand="Whole Foods Market"
                  data-product-variant=""
                  data-product-price="{{../../store.currency}}{{BASEPRICE}}"
                  data-product-position="{{@index}}">
                <div class="photo">
                  <a href="/shop/{{../../store.id}}/{{../id}}/{{id}}">{{#if THUMBURL}}<img src="{{THUMBURL}}">{{else}}<img src="/sites/all/modules/custom/estore/public/img/fillerimage.jpg">{{/if}}</a>
                </div>

                <div class="info">

                  <div class="name">
                    <a href="/shop/{{../../store.id}}/{{../id}}/{{id}}">{{NAME}}</a>
                    {{#if UOM}}<span class="uom">{{UOM}}</span>{{/if}}
                  </div>

                  {{#if ONSALE}}
                  <div class="onsale">ON SALE</div>
                  {{/if}}
                  {{#if BASEPRICE}}
                      <div class="price">{{../../store.currency}}{{BASEPRICE}}</div>
                  {{/if}}
                </div>

              </li>
              {{/each}}
            </ul>
            <a href="/shop/{{../store.id}}/{{id}}" class="button viewall">Browse All {{value}}</a>
            <div class="clear"></div>
        {{/each}}
    </div>
  </div>
</div>
{{> footer}}
